<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= render 'companies/sidebar' %> 
<div id="ads" class="gender_solid_background round"> 
<div class="ads_for_single_category gender_middle_background round">
  <h4 style="color:black;"> <%= @company_title  %></h4>
<% @service_companies.each do |i| %>
<%= link_to i.company,:class=> "btn btncompany" do %>
         <%= i.company.name %> <br/><br/> <%= render 'companies/plan_status', :company => i.company %>
        <% end %>
<%  end %>
 </div>
 </div>

