<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<div id="logo1" style="padding-left:10px;">
<%= image_tag("aaltologo.png") %>
</div>
<p style="padding-left:10px;"><small><%= t :index_intro %></small></p>



<!-- <div class="center" style="background-color:white;height:100%;width:100%; ">
 <iframe frameborder="0" height="600px" width="100%" 
    src="http://www.youtube.com/embed/jRvC9bVMX2k?autoplay=1&controls=0&showinfo=0&autohide=1">
  </iframe>
<%# if !signed_in? && @game.sign_up_open %>
 <%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 <% #end %> 
 </div> -->
<div class="center" style="background-color:white;height:100%;width:100%; ">
<div> <%= image_tag("nbsfrontpage.png" , :style=>"padding-left:10%;padding-bottom:30px;") %></div>

<% if !signed_in? && @game.sign_up_open %>
 <%= link_to "#{t :index_sign_up}", signup_path, class: "btn btn-large btn-primary" %>
 <% end %> 
 </div> 




<blockquote>
  <p><%= t :index_quote %></p>
  <small><%= t :index_quote_author %></small>
</blockquote>








