<%= provide(:title, "Manage needs")%>

<h5> Manage companies needed by <%= @company.name %> with service type <%= @company.service_type %> </h5>

<% @companies.each do |c| %>
  <div id="manage">
  <% unless @company == c%>
  <% unless @company.needs?(c)%>
  <i class="icon-home"> </i>  <%= c.service_type %>:    <%= c.name%>
  <%= link_to "Mark as needed",  {:controller => "needs", :action => "create", :id => @company.id, :other_id => c.id}, :confirm => "Are you sure?", :class => 'btn btn-small btn-primary' %> </br>
  <% else %>
  <i class="icon-home"></i>  <%= c.service_type %>:    <%= c.name%> 
  <%= link_to "Remove need",  {:controller => "needs", :action => "destroy", :id => @company.id, :other_id => c.id}, :confirm => "Are you sure?", :class => 'btn btn-small btn-danger' %> </br>
  <% end %>
  </div>
  <% end %>
<% end %>


