<%= provide(:title, "Manage needs")%>

<h2> Manage companies needed by <%= @company.name %> with service type <%= @company.service_type %> </h2>

<% @companies.each do |c| %>
  <% unless @company == c%>
  <% unless @company.needs?(c)%>
    <li> <%= c.name%>: <%= c.service_type %> <%= link_to "Mark as needed",  {:controller => "needs", :action => "create", :id => @company.id, :other_id => c.id}, :confirm => "Are you sure?", :class => 'btn btn-small btn-primary' %>
  <% else %>
    <li> <%= c.name%>: <%= c.service_type %> <%= link_to "Remove need",  {:controller => "needs", :action => "destroy", :id => @company.id, :other_id => c.id}, :confirm => "Are you sure?", :class => 'btn btn-small btn-danger' %>
  <% end %>
  <% end %>
<% end %>