
<%= provide(:title, "Contract")%>
<%= stylesheet_link_tag "contracts.css" %> 
<% if @contract.under_negotiation && !current_user.teacher? && current_user.company == @contract.negotiation_receiver %>
<div class="alpha60"> <%end%>
<%= form_for(@contract) do |f| %>
          <%= render 'shared/negotiation_eror_messages', :object => f.object %>
<br/>

<% if @contract.under_negotiation && !current_user.teacher? && current_user.company == @contract.negotiation_sender %>
<p>You have proposed a renegotiation. The other company is still considering your proposal.</p>
<% end %>

<h1> CONTRACT</h1>
<p3> <u><%= @contract.service_buyer.name%></u>, known as "First Party," agrees to enter into this contract with <u><%= @contract.service_provider.name %></u> , known as "Second Party" on  <%= @contract.updated_at.strftime("%d/%m/%Y %H:%M") %>.<br/><br/>
This agreement is based on the following terms: <br/><br/>
<ol>

  <li><%= @contract.bid.offer %></li><br/>


<!--   <%# if @contract.bid.marketing_present? %> <li>Marketing amount: <%#= @contract.bid.marketing_amount %> </li> <br/>    <%# end %>
<%# if @contract.bid.experience_present? %> <li>Experience amount: <%#= @contract.bid.experience_amount %> </li> <br/>      <%# end %>
<%# if @contract.bid.unit_present? %> <li>Unit amount: <%#= @contract.bid.unit_amount %> </li>  <br/>     <%# end %>
<%# if @contract.bid.capacity_present? %> <li>Capacity amount: <%#= @contract.bid.capacity_amount %> </li><br/>       <%# end %> -->

<li> Contract duration: <%= (@contract.bid.agreed_duration) ? @contract.bid.agreed_duration.to_s + " years" : "Whole game" %> <% if @contract.bid.agreed_duration %>  (Remaining duration: <%= @contract.bid.remaining_duration %>) <% end %></li> <br/>
<li> Penalty for breaking contract: <%= number_with_precision @contract.bid.penalty, :precision => 0, :delimiter => " " %></li> <br/>
</ol>
Invalidity or unenforceability of one or more provisions of this agreement shall not affect any other provision of this agreement.
This agreement is subject to the laws and regulations of the state of Aalto University. <br/><br/><br/>
Signed: <br/>
<br/>
<u><%= @contract.service_buyer.name %></u><br/>
<span style="font-size:12px;">(Company)</span><br/>
<em><u> <p4 style="font-size:16px;"><%= @contract.bid.contract_process.resp_user(@contract.service_buyer).name %> </p4></u></em><br/>
<span style="font-size:12px;">(Signature)</span><br/>
<br/>
<br/>
<u><%= @contract.service_provider.name %></u><br/>
<span style="font-size:12px;">(Company)</span><br/>
<em><u> <p4 style="font-size:16px;"><%= @contract.bid.contract_process.resp_user(@contract.service_provider).name %> </p4> </u></em> <br/>
<span style="font-size:12px;">(Signature)</span>

<br/><br/><br/><br/><br/>

<% if @contract.under_negotiation && !current_user.teacher? && current_user.company == @contract.negotiation_sender %>
<p>The other company is still considering your proposal.</p>
<% end %>


<% unless @contract.under_negotiation || current_user.teacher? || @contract.void? %>

<% if !current_user.teacher? %> 
<div class="createbuttonarea">
<a class="btn btn-inverse" style="color:white;" data-toggle="modal" href="#myModal">Re-negotiate contract</a>
<%end%></div><br>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Re-negotiation form</h3>
  </div>
  <div class="modal-body">
    <div>
       
          <%= f.label :new_amount, "New Price" %>
          <div class="fieldarea">
            <%= f.text_field :new_amount %>
         </div>

      <%= f.label :new_duration, "New Duration (leave empty for no duration)" %>
          <div class="fieldarea">
            <%= f.text_field :new_duration, :value => @contract.bid.remaining_duration %>
         </div>

      <%= f.label :new_launches, "New service value" %>
          <div class="fieldarea">
            <%= f.text_field :new_launches, :value => @contract.bid.launches %>
         </div>


       <input type="hidden" name="type" value="<%= Contract.renegotiation %>" class="negotiation_type"/>
       </div>


  <div class="modal-footer">
    <a href="#">
      <div class="fieldarea">
      <%= f.submit "Send re-negotiation request", class: "btn btn-inverse", style:"color:white;" %></div>
    <% end %>
  <% end %>
 </div></a>
  </div>
</div>
<% unless current_user.teacher? || @contract.void? %>
<div class="createbuttonarea">
<a class="btn btn-danger" data-toggle="modal" href="#endContractModal">End Contract</a>
</div>

<div class="modal hide fade" id="endContractModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>End Contract</h3>
  </div>
  <div class="modal-body">
    <div id="end_contract_body">

      <p> There are two ways to end the contract: </p>
      <ul>
        <li> Ask the other party to mutually end the contract, there is no penalty. </li>
        <li> Break the contract, ending it immediately. You have to pay the penalty </li>
      </ul>

       </div>
<%= form_for(@contract) do |f| %>
    <input type="hidden" name="type" value="<%= Contract.end_contract %>" class="negotiation_type"/>

  <div class="modal-footer">
    <a href="#">
      <div class="fieldarea">
       <%= f.submit "Send contract end request", class: "btn btn-primary" %>
        <% end %>
      <%= link_to "Break Contract", @contract, :confirm => "Are you sure?", :method => :delete,  :class => "btn btn-danger"%></div>

 </div></a>
  </div>
</div>
<% end %>

<% if @contract.under_negotiation && !current_user.teacher? && current_user.company == @contract.negotiation_receiver %>
<% if @contract.negotiation_type == Contract.renegotiation %>
<div class="alpha60">
<div class="modal show" id="myModal">

   <div class="modal-header">
   <p1>  <%= @contract.negotiation_sender.name %> wishes to re-negotiate the contract with following changes: </p1>
   </div>

   <div class="modal-body">
   <p1 style="color:black">  New Price per launch: <%= number_with_delimiter @contract.new_amount, :delimiter => " " %> </p1> <br/><br/>
   <p1 style="color:black">  New Duration for contract: <%= @contract.new_duration ? @contract.new_duration : "Whole Game" %> </p1> <br/><br/>
   <p1 style="color:black">  New amount of launches: <%= @contract.new_launches %> </p1> <br/><br/>
  </div>

  <div class="modal-footer">
  <div id="acceptbuttoncontract">
     <%= form_tag contract_decision_path do %>
     <%= hidden_field_tag("decision", "ACC") %>
     <%= submit_tag "Accept", class: "btn btn-success" %>
     <% end %>
  </div>
  <div id="rejectbuttoncontract">
      <%=  form_tag contract_decision_path do  %>
      <%= hidden_field_tag("decision", "REJ") %>
      <%= submit_tag "Decline", class: "btn btn-danger" %>
      <% end %>
   </div>  
   </div>
</div>
</div>

<% else %>

<div class="alpha60">
<div class="modal show" id="myModal">

   <div class="modal-header">
   <p1>  <%= @contract.negotiation_sender.name %> wishes to end the contract: </p1>
   </div>

   <div class="modal-body">
   <p1 style="color:black">  If you accept, the current contract will end. </p1> <br/><br/>
  </div>

  <div class="modal-footer">
  <div id="acceptbuttoncontract">
     <%= form_tag contract_decision_path do %>
     <%= hidden_field_tag("decision", "ACC") %>
     <%= submit_tag "Accept", class: "btn btn-success" %>
     <% end %>
  </div>
  <div id="rejectbuttoncontract">
      <%=  form_tag contract_decision_path do  %>
      <%= hidden_field_tag("decision", "REJ") %>
      <%= submit_tag "Decline", class: "btn btn-danger" %>
      <% end %>
   </div>
   </div>
</div>
</div>

<% end %>

<% end %>

<% if @contract.negotiation_sender != nil && !@contract.under_negotiation && !current_user.teacher? && current_user.company == @contract.negotiation_sender && !@decision_seen %>


<!-- Modal -->
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <% if @contract.last_decision == "ACC"  %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="decisionModalLabel">Proposal Accepted</h4>
      </div>
      <div class="modal-body">
        <p>Your proposal was accepted.</p>
        <p>The contract has been changed to the following terms: </p>
        <ul>
          <li> New price: <%= @contract.new_amount %> </li>
          <li> New duration: <%= @contract.new_duration ? @contract.new_duration : "Whole Game" %> </li>
          <li> New service value: <%= @contract.new_launches %> </li>
        </ul>
      </div>
      <% else %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="decisionModalLabel">Proposal rejected</h4>
      </div>
      <div class="modal-body">
        <% if @contract.negotiation_type == Contract.renegotiation %>
        <p>The other party has rejected your proposal.
        The contract was not changed</p>
        <% else %>
        <p>The other party doesn't want to end the contract.</p>
        <% end %>
      </div>
      <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>


