
<div class="span2 lead" style="line-height:20px;">
<p><%= title %> </p>

 <div style="width:100px;height:100px;">   
<% if type.image_url %>
  <%= image_tag(type.image_url(:type).to_s) %>
  <% else %>
  <%= image_tag("100x100.png") %>
  <% end %>
  </div>	<br/><br/>
	<% companies.each do |c| %>
	
		
			<%= link_to c do %>
		   
            <div id= "line<%= c.id %>" style="padding:5px;background-color:#000000;word-wrap:break-word;width:80px;font-size:12px;color:#ffffff;">  <%= c.name %> </div>
		 
			<br/><br/>

		  	<%end%>

		
   
	<% end %>
	</div>
