
<div class="span2 lead" style="line-height:20px;">
<p><%= title %> </p>
<%= image_tag(image , :style=>"height:50px;width:50px;") %>

<br/><br/><br/><br/>
	<% companies.each do |c| %>
	
		
			<%= link_to c do %>
		   
            <div id= "line<%= c.id %>" style="padding:5px;background-color:#000000;width:70px;font-size:12px;color:#ffffff;">  <%= c.name %> </div>
		 
<br/><br/>

		  	<%end%>
		  	<br/>
		
   
	<% end %>
	</div>
