
<div class="span2">
<p><%= title %> </p>
<%= image_tag(image , :style=>"height:50px;width:50px;") %>

<br/><br/><br/><br/>
	<% companies.each do |c| %>
	
		<div>
			<%= link_to c do %>
		    <p style="font-size:12px;color:black;">
		    <%= c.name %> </p>

			<% c.contract_processes.each do |p| %> 

			<% if p.first_party_id == c.id %> 
			      <div id= "line<%= p.first_party_id %>" > h</div>
			    

			      <%= javascript_tag do %>
  					var userIda = line<%= p.first_party_id %>;   
  					
				  <% end %>


			 <% else %>
				  <div id= "line<%= p.second_party_id %>" > x</div> 
				   <%= javascript_tag do %>
				   		var userIdb = line<%= p.second_party_id %>;  
				   		
					<% end %>
			 <% end %>


			 <% end %>


		  	<%end%>
		  	<br/>
		</div>
   
	<% end %>
	</div>
