<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, "Network News") %>
</br>

<%= stylesheet_link_tag "networks.css" %> 
<div class="resultbody">
       <span style="padding-left:60%;font-size:30px;"><sub><strong>-- NEWS EDITION</strong></sub></span>
       </br>
       <span style="padding-left:82%;font-size:85px;"><sub><strong><%= @game.sub_round %></strong></sub></span></br></br></br></br>
     
       <span style="padding-left:15%;font-size:15px;"> <strong> This news is from Network <%= @network.id %> </strong></span> 
       <span style="padding-left:25%;font-size:15px;"> <strong>Recorded at <%= Time.now %> </strong></span> 
       </br></br>

           <div id="menu" style="height:100%;width:66%;float:left;text-align:justify;">
           <div id="menu_1" style="border-right: invisible 3px solid;">
             <div style="padding-left:20%;text-align:justify;font-size:15px;padding-right:4px;"> 
              <span style="font-size:25px;"><strong>Risk Analysis</strong></span><br/><br/>
                     <% if @network.risk %> 
                    <span style="font-size:15px;"><%= @network.risk.title %> </span>  
                       <span style="font-size:15px;"><%= @network.risk.description %></span> 
                     <%else%> 
                       <span style="font-size:15px;"> You didn't encounter any risk. Everything went fine.</span>  
                     <% end %>

              <br/><br/><span style="font-size:25px;"><strong> Public Relations/Opinion</strong></span><br/><br/>
              <span style="font-size:15px;"> Here we will have the message depending of the reputation change for the network </span>
              
              <br/><br/><span style="font-size:25px;"><strong> Market News</strong></span><br/><br/>
        
         <ul><% @markets.each do |m| %>
         <li><span style="font-size:15px;"> <%= m.name %> has gained effect <%= m.effect.name %>! <%= m.effect.description %>  </span> </li>
         <% end %> 
         </ul>

              <br/><br/><span style="font-size:25px;"><strong> Operator rankings</strong></span><br/><br/>
              <ul><% @ranked_operators.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul>

              <br/><br/><span style="font-size:25px;"><strong> Market company rankings</strong></span><br/><br/>
              <ul><% @ranked_customers.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul>

              <br/><br/><span style="font-size:25px;"><strong> Technology rankings</strong></span><br/><br/>
              <ul><% @ranked_tech.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul>

              <br/><br/><span style="font-size:25px;"><strong> Supply rankings</strong></span><br/><br/>
              <ul><% @ranked_supplies.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul>
              </div>
            </div>
        </div>
 
    <div id="content" style="height:100%;width:25%;float:right;padding-right:0.8cm;">     
      
        <span style="font-size:25px;"><strong> Companies stats</strong></span><br/><br/>
        
        <div style="margin: 0;
        height:2cm;
overflow: auto;
font-size: 12px;">
          <% @companies.each do |c| %>
        <% if c.made_more_profit? %> 
        <%= image_tag("green_triangle.png") %> 
        <% else %> 
        <%= image_tag("red_triangle.png") %> 
        <% end %> 
        <%= c.name %><br/>
        <% end %>
        </div>
        
        
       
   </div>

  <div id="footer" style="clear:both;text-align:center;">
  </div>  
        
