<%= provide(:title, 'Network') %>
</br><div class ="btn" style="font-size:16px;">
<%= link_to "Go Back",:action => :index%>
</div>


<span style="padding-left:70%;"><% if !@network.network_reports.empty? %> <%= link_to "Previous Reports", @network.network_reports.last,:class=>"btn btn-info",:style=>"font-size:16px;color:white;" %> <% end %>
</span>
</br></br>


<%= stylesheet_link_tag "networks.css" %> 
<div class="resultbody">

  
       </br></br></br></br>
       <span style="padding-left:82%;font-size:85px;"><sup> <strong> <%= @game.sub_round - 1 %> </strong></sup></span></br>
       <span style="padding-left:15%;font-size:15px;"> <sub><strong> This statistics are from Network <%= @network.id %> </strong></sub></span> 
       <span style="padding-left:35%;font-size:15px;"> <sub><strong>Recorded at <%= Time.now %> </strong></sub></span> 
       </br></br>
       <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;">
           <div id="menu_1" style="border-right: black 3px solid;">
             
              <span style="padding-left:30%;font-size:15px;"> <strong>NETWORK STATISTICS </strong></span></br>    
                  <p style="padding-left:30%;font-size:12px;"><em>(The below information is common for all the companies in &nbsp this network)</em></p> 
                 <div style="padding-left:30%;text-align:justify;font-size:15px;"> 
                    <strong>NETWORK RATING</strong></br><div class="btn btn-info"> <% for i in 1..@network.rating %> <i class="icon-star"></i> <%end%> </div></br></br>
                    <strong>OTHER STATS </strong></span></br>
                    </br>
                    <strong>Promised service level: </strong><%= @network.customer_facing.role.service_level %> </br>
                    <strong>Network reputation: </strong><%= @network.customer_facing.role.reputation %> <% if @network.rating > 3 %> <%= image_tag("green_triangle.png") %> <% elsif @network.rating < 3 %> <%= image_tag("red_triangle.png") %> <% end %> </br>
                    <strong>Net profit: </strong><%= @network.total_profit %> </br>
                    <strong>Mitigation for network: </strong><%= @network.risk_mitigation %> </br>
                    <strong>Current Score: </strong> <%= @network.score %> <br/>
                    <strong>Network "<%= @network.id %>" Position: </strong><%= @network.get_position %> </br></br>
                    <span style="font-size:15px;"> <strong>FISCAL YEAR STATS</strong></span></br>
                    <strong>Sales: </strong><%= @network.sales %> </br>
                    <strong>Maximum launches: </strong><%= @network.max_capacity %> </br>
                    <strong>Full launches performed: </strong><%= @network.sales / Company.get_capacity_of_launch   %> </br>
                    <strong>Revenue generated from sales: </strong><%= @network.customer_facing.revenue %> </br>
                    <strong>Average customer satisfaction: </strong><%= @network.satisfaction %> </br></br>
                    <strong>Companies in this network:</strong></br>
                    <% @network.companies.each do |c| %>
                    <li><%= link_to c.name, c%>  </li>
                    <% end %>
                  </div>
            </div>
        </div>
 
    <div id="content" style="height:100%;width:46%;float:right;padding-right:0.6cm;">     
      <% if current_user.company %>
      <span style="font-size:15px;"> <strong>OWN COMPANY STATISTICS </strong></span></br>
      <p style="font-size:12px;"><em>(The below information is company specific,it is showing your own company details)</em></p>
      <%= render 'companies/company_stats' %>
      <% if @company.is_operator? %> <%= render 'companies/operator_stats' %> <% end %>
      <% if @company.is_customer_facing? %> <%= render 'companies/customer_facing_stats' %> <% end %>
      <% if @company.is_service? %> <%= render 'companies/service_stats' %> <% end %>
      <%  end %>


    </div>

  <div id="footer" style="clear:both;text-align:center;">
  </div>
          
  
  
  
  