<%= provide(:title, 'Network') %>
</br>


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#FRA" data-toggle="tab">Fiscal Report</a></li>
  <li><a href="#NEWS" data-toggle="tab">NEWS</a></li>
</ul>

  
<div class="tab-content">
  <div class="tab-pane active" id="FRA">
    
    <br/>
    <div class="companyreportbody">

  
       </br></br></br></br>
       <span style="padding-left:82%;font-size:85px;"><sup> <strong> <%= @game.sub_round - 1 %> </strong></sup></span></br>
       <span style="padding-left:15%;font-size:15px;"> <sub><strong> This statistics are from Network <%= @network.id %> </strong></sub></span> 
       <span style="padding-left:35%;font-size:15px;"> <sub><strong>Recorded at <%= Time.now %> </strong></sub></span> 
       </br></br>
        <div style="height:100%;width:35%;float:left;text-align:justify;">
           <div style="border-right: black 3px solid hidden;height:12cm;padding:2px;">
             <%# <span style="padding-left:30%;font-size:15px;"> <strong>NETWORK STATISTICS </strong></span></br> %> 
               <%#   <p style="padding-left:30%;font-size:12px;"><em>(The below information is common for all the companies in &nbsp this network)</em></p> %>
                <div style="padding-left:45%;font-size:15px;"> 
                  <div style="background-color:black;color:white;padding:2px;font-size:16px;"> Network Rating</div></br>
                    <%#= @network.satisfaction %>
                    <div class="btn btn-info"> <% for i in 1..@network.rating %> <i class="icon-star"></i> <%end%> 
                    </div></br></br><br/>
                    <% if current_user.company %> 
                    <div style="text-align:left;background-color:#F6005C;color:white;padding:2px;">Your position
                    <%= Company.where("service_type = ?", current_user.company.service_type).index(current_user.company) %> /
                    <%= Company.where("service_type = ?", current_user.company.service_type).size %> out of all <%=current_user.company.service_type%> companies.
                   
                    </div>
                    <% end %><br/> <br/> <br/> 
                    <div style="border-bottom: black 3px solid;visibility:hidden;"></div>
                    <% if current_user.company && !current_user.company.company_reports.empty? %> 
                    <%= link_to image_tag("previousreports.png"), company_report_path(current_user.company.id) %> <% end %>
                   </span>
                  </div>
                 
                                 
            </div>
         </div>
         <div style="height:100%;width:27%;float:left;">
          <div style="padding-left:0.2cm;padding-right:0.2cm;">
            <div style="background-color:black;color:white;padding:2px;font-size:16px;"> 
              Top Ranking Companies in their respective field </div><br/>
        <div style="font-size:15px;"> 
         <strong style="background-color:#0052A3;color:white;padding:2px;"> OPERATOR RANKINGS</strong><br/>
              <ul><% @ranked_operators.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul><br/>

         <strong style="background-color:#0052A3;color:white;padding:2px;"> MARKET COMPANY RATINGS</strong><br/>
              <ul><% @ranked_customers.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul><br/>
              <strong style="background-color:#0052A3;color:white;padding:2px;" >TECHNOLOGY RANKINGS</strong><br/>
              <ul><% @ranked_tech.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul><br/>
            <strong style="background-color:#0052A3;color:white;padding:2px;"> SUPPLY RANKINGS</strong><br/>
              <ul><% @ranked_supplies.each do |o| %>
         <li><span style="font-size:15px;"> <%= link_to o.name, o %>: <%=number_to_currency o.total_profit %>   </span> </li>
         <% end %>
         </ul><br/>
        </div> 
            
            
          </div>
           </div>
        <div style="height:100%;width:30%;float:left;">
           <div style="border-left: black 3px solid hidden;height:12cm;padding-left:0.4cm;">
            <div style="background-color:black;color:white;padding:2px;font-size:16px;"> Network rankings</div>
          <div style="margin:0;overflow:auto;font-size:15px;height:5cm;width:6.81cm;border:black 3px solid;"><br/>
              <% @networks.each_with_index do |n, i| %>
              <%= "#{i+1}. Network #{n.id}: #{n.score}" %> <br/>
              <% end %>
            </div><br/>
              <div style="border-bottom: black 3px solid;visibility:hidden;"></div><br/>
              <% if @network.customer_facing.role.market %>
                <div style="background-color:black;color:white;padding:2px;font-size:16px;">
                  Market Share for <%=  @network.customer_facing.role.market.name %></div>
                <div style="margin:0;overflow:auto;font-size:15px;height:5cm;width:6.81cm;border:black 3px solid;"><br/>
                 <% @network.customer_facing.role.market.networks.each do |n| %>
                 <%=  "Network #{n.id}: #{n.calculate_market_share} %" %> <br/>
                 <% end %></div>
              <% end %>
            
            
            
           
            
            
            
        </div>     
      </div>  
        
      
         
  </div>      
</div> 
    
<div class="tab-pane" id="NEWS">  
  <div class="resultbody">
       <span style="padding-left:60%;font-size:30px;"><sub><strong>-- NEWS EDITION</strong></sub></span>
       </br>
       <span style="padding-left:82%;font-size:85px;"><sub><strong><%= @game.sub_round-1 %></strong></sub></span></br></br></br></br>
     
       <span style="padding-left:15%;font-size:15px;"> <strong> This news is from Network <%= @network.id %> </strong></span> 
       <span style="padding-left:25%;font-size:15px;"> <strong>Recorded at <%= Time.now %> </strong></span> 
       </br></br>

           <div style="height:100%;width:60%;float:left;text-align:justify;">
           <div style="border-right: black 3px solid hidden;height:13cm;">
             <div style="padding-left:30%;text-align:justify;font-size:15px;padding-right:4px;"> 
               <div style="background-color:black;color:white;padding:2px;font-size:16px;">Risk Analysis</div><br/>
                     <% if @network.risk %> 
                    <span style="font-size:15px;"><%= @network.risk.title %>
                    </span>
                       <span style="font-size:15px;"><%= @network.risk.description %></span> 
                     <%else%> 
                       <span style="font-size:15px;"> You didn't encounter any risk. Everything went fine.</span>  
                     <% end %></div>
                 <div style="border-bottom: black 3px solid;visibility:hidden;"></div>
                <div style="padding-left:30%;text-align:justify;font-size:15px;padding-right:4px;"> 
                
         <%#    <br/><br/> <div style="background-color:black;color:white;padding:2px;font-size:16px;">Public Relations/Opinion</div><br/>%> 
             <%#    <span style="font-size:15px;"> Here we will have the message depending of the reputation change for the network </span>%> 
            <%#     </div>%> 
            
            <div style="border-bottom: black 3px solid;visibility:hidden;"></div>
             <div style="padding-left:30%;text-align:justify;font-size:15px;padding-right:4px;">
          <br/><br/> <div style="background-color:black;color:white;padding:2px;font-size:16px;"> Market News</div><br/>
        
         <ul><% @markets.each do |m| %>
         <li><div style="background-color:#B22460;width:5cm;color:white;padding:2px;font-size:15px;"><%= m.name %>:</div>
           <%if m.message && !m.message.blank? %> <%= m.message %> <% else %> Nothing happened <% end %>    </li>
         <% end %> <br/><br/>
         </ul>
            </div> </div>
           
            
        </div>
 
    <div id="content" style="height:100%;width:35%;float:right;padding-right:0.8cm;">     
      
        <span style="font-size:25px;"><strong> Companies stats</strong></span><br/><br/>
        <div style="margin:0;overflow:auto;font-size:15px;height:10cm;width:6cm;border:black 3px solid;">
          <% @companies.each do |c| %>
        <% if c.made_more_profit? %> 
        <%= image_tag("green_triangle.png") %> 
        <% else %> 
        <%= image_tag("red_triangle.png") %> 
        <% end %> 
        <%= c.name %><br/>
        <% end %>
        </div>
        
        
        
       
   </div>
  
  
  </div>
 </div>


          
  
  
  
  