<%= provide(:title, 'Network results') %>

    <% @customer_facing_companies.each do |c| %>

<% unless c.role.network_reports.empty? %>
  <h2> Report for network lead by <%= c.name %> </h2>
<table class="tableizer-table" >
      <tr class="tableizer-firstrow" >
       <th>Year</th></tr>
      <tr><td style="background-color:yellow;text-align:left;">Network lead by:</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Sales Made</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Revenue from Customers ($)</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Network costs ($)</td></tr>
      <tr><td>&nbsp;</td></tr>
      <tr><td style="background-color:yellow;text-align:left;">Relative Network costs ($)</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Customer Satisfation</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Maximum number of launches</td></tr>
      <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:#00CCFF;text-align:left;">Total number of launches delivered</td></tr>
     </table>


<%=render "network_reports/network_report", :report => c.role.network_reports.last %>
  <div class="clear"></div>
<% end %>
  <br/>
  <br/>

  <% if c.role.risk %>

  <p> The following accident happened last year: </p>

  <p> <strong><%=c.role.risk.title%></strong> <br/>
   <%=c.role.risk.description%> </p>

  <% else %>
  <p> No accidents happened for your network this year. </p>
  <% end %>

<% end %>
