Placeholder for da graph view later on.
Check da <%= link_to "result", network_results_path(@network) %> while ya here, yo!


<div id="box_main">
<%#= image_tag("connector1.png", :id => "connector1") %> 
<%#= image_tag("dottedline1.png", :id => "dottedline1") %> 
<%#= image_tag("connector2.png", :id => "connector2") %> 
<%#= image_tag("dottedline2.png", :id => "dottedline2") %> 
<%#= image_tag("connector3.png", :id => "connector3") %> 

<div class="globenetwork"  >
<%= image_tag("customer_base.png", :style=>"height:200px;width:200px;") %>
</div>  

<div class="marketingbody" >
  <%= image_tag("marketing_item.png", :style=>"height:200px;width:200px;") %>
</div>

<div class="operatorbody" >
  <%= image_tag("operator_item.png" , :style=>"height:200px;width:200px;") %>
</div> 

<div class="technologybody" >
  <%= image_tag("technology_item.png", :style=>"height:200px;width:200px;") %>
</div> 

<div class="supplybody" >
  <%= image_tag("supply_item.png", :style=>"height:200px;width:200px;") %>
</div>
</div>