Placeholder for da graph view later on.
Check da <%= link_to "result", network_results_path(@network) %> while ya here, yo!

<div class="marketingbody" style="padding-left:10%;padding-top:1cm;">
  <%= image_tag("marketing.jpg", :style=>"height:200px;width:200px;") %>
</div> 

<div class="globenetwork"  style="padding-left:5%;padding-top:1cm;">
<%= image_tag("customer_base.png", :style=>"height:200px;width:200px;") %>
</div>  

<div class="operatorbody" >
  <%= image_tag("operator.jpg" , :style=>"height:200px;width:200px;") %>
</div> 

<div class="technologybody" >
  <%= image_tag("technology.jpg", :style=>"height:200px;width:200px;") %>
</div> 

<div class="supplybody" >
  <%= image_tag("supply.png", :style=>"height:200px;width:200px;") %>
</div> 

<% @network.companies.each do |c| %>
<%= link_to c.name, c%>  </br>
<% end %>
