<br/>
<% if current_user.teacher? %>
<div class ="btn" style="font-size:16px;">
<%= link_to "Go Back",:action => :index%>
</div><%end%>

<% if !@customer_facing_companies  %>

<p> You don't belong to a network </p>

<% else %>


<%= link_to "Show last year's results", network_results_path, :class => "btn btn-primary" %>


<% market_companies = @companies.select { |company| company.service_type == Company.types[0]} %>

<%= render 'types_view', {:companies => market_companies, :title => "Marketing", :image => "marketing_item.png"} %>


<% operator_companies = @companies.select { |company| company.service_type == Company.types[1]} %>

<%= render 'types_view', {:companies => operator_companies, :title => "Operators", :image => "operator_item.png"} %>

<% tech_companies = @companies.select { |company| company.service_type == Company.types[2]} %>

<%= render 'types_view', {:companies => tech_companies, :title => "Technology", :image => "technology_item.png"} %>

<% supply_companies = @companies.select { |company| company.service_type == Company.types[3]} %>

<%= render 'types_view', {:companies => supply_companies, :title => "Suppliers", :image => "supply_item.png"} %>



<% end %>

