<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<br/><br/><br/>
<div class="row">
  <div class="span6 offset3">
  <%= form_for(@customer_facing_role) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>


      <%= f.label :sell_price %>
      <%= f.text_field :sell_price %>


       <p>Select the market you wish to target</p>
           <%= f.collection_select(:market_id, Market.all, :id, :name, options ={:include_blank => false}, :class =>"owner") %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
 </div>
</div>