<h2> Bid from <%= bid.sender.name %> </h2>

<p>
 Message:<br/>
<%= bid.message %>
</p>



<p>
 Price:&nbsp
<%=number_to_currency bid.amount, :precision => 0 %>
</p>

<% if bid.marketing_present? %>

<p> Marketing amount:&nbsp;
        <%= bid.marketing_amount %> </p>
    <% end %>

    <% if bid.experience_present? %>
   <p> Experience amount:&nbsp;
        <%= bid.experience_amount %> </p>
    <% end %>

    <% if bid.unit_present? %>
<p> Unit amount:&nbsp;
        <%= bid.unit_amount %> </p>
    <% end %>

    <% if bid.capacity_present? %>
<p> Capacity amount:&nbsp;
        <%= bid.capacity_amount %> </p>
    <% end %>

<p>
 Duration of the contract:&nbsp
<%= (bid.agreed_duration) ? bid.agreed_duration : "Whole Game" %>
</p>

<p>
Penalty for breaking the contract:&nbsp
<%=number_to_currency bid.penalty, :precision => 0 %>
</p>