<%= provide(:title, "Make a bid")%>

<h2> Make a bid to <%= @receiver.name %> </h2>

<div class="show_block"> <i class="icon-chevron-down"></i> Show the original RFP content </div>
<div class="content_block"> <%= @rfp.content %> </div>
<div class="hide_block"> <i class="icon-chevron-up"></i> Hide the original RFP content </div>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@bid) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%=f.label :message %>
      <%=f.text_area :message %>
      
      <%= f.label :offer %>
      <%= f.text_area :offer %>
      
      <%= f.label :amount %>
      <%= f.text_field :amount %>
      <% if !@bid.counter %>
      <p> How much service you wish to provide to <%= @receiver.name %>. Your maximum is <%= @sender.get_max(@rfp.receiver.service_type) %></p>
      <% else %>
      <p> How much service you wish to request from <%= @receiver.name %>. Your maximum is <%= @sender.get_max(@rfp.receiver.service_type) %></p>
      <% end %>
      <% f.label :service_provided %>
      <%= f.text_field :service_provided %>
      
     <%= hidden_field_tag("rfp_id", @bid.rfp_id) %>

      <%= f.submit "Make a bid", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
