<%= provide(:title, "Make a bid")%>

<h2> Make a bid to <%= @receiver.name %> </h2>
<div style="width:60%;text-align:center;padding-left:20%;">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  The original RFP message
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <%= @rfp.content %> 
                </div>
              </div>
            </div>
</div></div>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@bid) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%=f.label :message %>
      <%=f.text_area :message %>
      
      <%= f.label :amount %>
      <%= f.text_field :amount %>
      <% if @bid.agreement?  %> <%= f.label :service_level, "Promised Service level" %> <% else %>  <%= f.label :service_level, "Proposed Service level" %> <% end  %>

      
      <%= f.text_field :service_level %>
      
     <%= hidden_field_tag("rfp_id", @bid.rfp_id) %>

      <%= f.submit "Make a bid", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>



            
            
            