<%= provide(:title, "Make a bid")%>

<h2> Make a offer to <%= @receiver.name %> </h2>
<div class="row">
  <div class="span6 offset3">

<div style="text-align:center;">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo">
                  Your company cost structure
                </a>
              </div>
              <div id="collapsetwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <%= render 'companies/company_stats_bid' %> 
                </div>
              </div>
            </div>
</div></div>

<% unless @sender.same_market?(@receiver) %>

    <p> WARNING: Your company and <%=@receiver.name%> are not operating in the same market. </p>
<p>  You can send RFP:s and bids between each other but you cannot make a contract before expanding to same markets </p>
    <% end %>
    


    <%= form_for(@bid) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%=f.label :message %>
      <%=f.text_area :message , :style => "height:120px;" %>

    <%=f.label :amount, "Price" %>
      <%=f.text_field :amount, :class => "live_parse" %>
    
      <% if @bid.marketing_present? %>

    <%= f.label :marketing_amount, "Marketing amount" %>
    <%=  f.text_field :marketing_amount %>
    <% end %>


    <% if @bid.unit_present? %>
    <%= f.label :unit_amount, "Unit amount" %>
    <%=  f.text_field :unit_amount %>
    <% end %>

    <% if @bid.capacity_present? %>
    <%= f.label :capacity_amount, "Capacity amount" %>
    <%=  f.text_field :capacity_amount %>
    <% end %>

    <%= f.label :agreed_duration, "Duration of the contract (leave empty if you want it to continue the whole game)" %>
    <%= f.text_field :agreed_duration %>

    <%= f.label :penalty, "Penalty occured if the contract is broken" %>
    <%= f.text_field :penalty, :class => "live_parse" %>

    

    

     <%= hidden_field_tag("company_id", @receiver.id) %>
    <a class="btn btn-success btn-large" id="bid_confirm_button"> Send Offer </a>

    <div class="modal hide fade" id="bid_confirm_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <p> Confirm the details of the Bid before sending </p>
  </div>
  <div class="modal-body">


           <div id="bid_confirmation_content">
             Content
        </div>





  <div class="modal-footer">
    <a href="#">
      <div class="createbuttonarea">
                <%= f.submit "Send", class: "btn btn-large btn-primary" %></div>
      </div>
    </a>
  </div>
</div>




     
    <% end %>
    
    
  </div>
</div>



            
            
            