<%= provide(:title, "Bid")%>
<% if current_user && !current_user.teacher? %>
<br/><%= link_to 'Company Briefcase', company_mail_path(current_user.company) ,:class=>"btn btn-info"%><br/><br/> <% end %>

<% if @bid.waiting? %>
<p class="box waiting"> This bid is still being considered by <%= @bid.receiver.name %> </p>
<% elsif @bid.accepted? %>
<p class="box verified"> This bid has been accepted by <%= @bid.receiver.name %> </p>
<% else %>
  <% if @bid.remaining_duration && @bid.remaining_duration <= 0 %>
    <p class="box unfinished"> The contract duration has ended </p>
  <% elsif @bid.broken %>
    <p class="box unfinished"> The contract was broken! </p>
  <% else %>
    <p class="box unfinished"> This bid has been rejected by <%= @bid.receiver.name %> </p>
  <% end %>
  <% if @bid.rejected? && @bid.reject_message %>
    <div style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;background-color:#faebd7;margin-top:10px;margin-right:200px;">
    <span style="color:red;font-size:16px;">Reason for rejection:</span> <%=simple_format @bid.reject_message ,:style=> "display:inline;" %></div>
  <% end %>
   <% duration_ended = (@bid.remaining_duration && @bid.remaining_duration <= 0) %>
  <br/><% if current_user.isOwner?(@bid.receiver) && @bid.can_bid? && @bid == @bid.rfp.bids.last  && !duration_ended %>
    <%= link_to "Make a counter-bid", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
  <% end %>
  <% if current_user.isOwner?(@bid.sender) && @bid.rfp.can_bid? && @bid == @bid.rfp.bids.last && !duration_ended %>
      <%= link_to "Make a new bid", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
  <% end %>
  <% if (current_user.isOwner?(@bid.sender) || current_user.isOwner?(@bid.receiver)) &&  @bid.rfp.can_bid? && @bid == @bid.rfp.bids.last && duration_ended %>
      <%= link_to "Make a new bid", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
  <% end %>
<% end %>





<h2> Bid from <%= @bid.sender.name %> </h2>
<div class="alert alert-block">
<p1 class="alert-heading"> Message</p1><br/><br/>
<%= @bid.message %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Offer:</p1><br/><br/>
<%= @bid.offer %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Price:</p1>&nbsp
<%=number_to_currency @bid.amount %>
</div>

<div class="alert alert-block">
<% if @bid.provider == @bid.sender %>
  <p1 class="alert-heading"> Launches promised:</p1> <%= @bid.launches %>  &nbsp
  <%  else %>
  <p1 class="alert-heading"> Launches requested:</p1>  <%= @bid.launches %> &nbsp
  <% end %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Duration of the contract:</p1>&nbsp
<%= (@bid.agreed_duration) ? @bid.agreed_duration : "Whole Game" %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Penalty for breaking the contract:</p1>&nbsp
<%=number_to_currency @bid.penalty %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Maximum number of launches that can be provided:</p1>&nbsp
<%= @bid.provider.max_capacity %>
</div>
<% if signed_in? && !current_user.teacher? %>
 <div style="text-align:center;">
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapsetwo">
                  Your Company cost structure
                </a>
              </div>
              <div id="collapsetwo" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <%= render 'companies/company_stats_bid' %> 
                </div>
              </div>
            </div></div></div>
 <% end %>



<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<div class="alert alert-block">
<p1 style="color:black;" class="alert-heading">
<% if current_user.company == @bid.provider %>
<i class="icon-pencil"></i> <em>Note:</em><br/>If you accept this bid, following will happen: <br/>
You will receive <%= @bid.amount %> per launch performed <br/>
</p1>
<%else%>
<i class="icon-pencil"></i> <em>Note:</em><br/> If you accept this bid, following will happen: <br/>
You gain the services of a <%= @bid.provider.service_type %> company for a maximum of <%= @bid.provider.max_capacity %> launches     <br/>
Your variable costs will increase by <%= @bid.amount %> <br/></p1>
<% end %>
<p> <%= link_to @bid.rfp do %> <i class="icon-eye-open"></i> View the Original RFP <%end%> </p></div>
<% end %>
<br/>



<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? && !current_user.teacher? %>
<div class="left_button">
<% if @bid.can_accept? %>
    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.accepted) %>
     <%= hidden_field_tag("provider_id", @bid.rfp.receiver.id)%>
     <%= hidden_field_tag("buyer_id", @bid.rfp.sender.id)%>
    

      <%= f.submit "Accept", class: "btn btn-success" %>
    <% end %>
<% else %>
  <button class="btn btn-success disabled" disabled="disabled">Accept</button>
  <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="You cannot accept this bid. The other party might have already entered to a contract with another company of your type.">
                      </i>
<% end %>

</div>
<div class="right_button">
<a class="btn btn-danger" data-toggle="modal" href="#bidReject">Decline</a>
    

</div>
<% end %>





 <div class="modal hide fade" id="bidReject">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Bid rejection message</h3>
  </div>
  <div class="modal-body">
    <div>

      <%= form_for(@bid) do |f| %>
      <%= f.label :reject_message, "Reason for declining the bid (Optional)" %>
          <div class="fieldarea">
            <%= f.text_area :reject_message , :style=>"height:70px;"%>
         </div>

     <%= hidden_field_tag("status", Bid.rejected) %>


       </div>


  <div class="modal-footer">
    <a href="#">
      <div class="fieldarea">
      <%= f.submit "Decline", class: "btn btn-danger" %></div>
    <% end %>
 
 </div></a>
  </div>
</div>

