<%= provide(:title, "Bid")%>

<% if @bid.waiting? %>
<p class="box waiting"> This bid is still being considered by <%= @bid.rfp.sender.name %> </p>
<% elsif @bid.accepted? %>
<p class="box verified"> This bid has been accepted by <%= @bid.rfp.sender.name %> </p>
<% else %>
<p class="box unfinished"> This bid has been rejected by <%= @bid.rfp.sender.name %> </p>
<% end %>

<%= link_to "Original RFP", @bid.rfp %>

<p> <%= @bid.message%> </p>

<h2> Offer </h2>
<p> <%= @bid.offer %> </p>

<h3> Amount </h3>
<p> <%= @bid.amount%></p>

<h3> Service Provided </h3>
<p> <%= @bid.service_provided %></p>

<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<p> If you accept this bid, following will happen: </p>
<li> Your <%= @bid.sender.type_to_s%> will increase by <%= @bid.service_provided%> </li>
<li> Your assets will be decreased by <%= @bid.amount %> </li>
<% end %>
<br/>

<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<div class="left_button">
    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.accepted) %>
     <%= hidden_field_tag("provider_id", @bid.rfp.receiver.id)%>
     <%= hidden_field_tag("buyer_id", @bid.rfp.sender.id)%>
    

      <%= f.submit "Accept", class: "btn btn-success" %>
    <% end %>

</div>
<div class="right_button">

    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.rejected) %>

      <%= f.submit "Decline", class: "btn btn-danger" %>
    <% end %>
</div>
<% end %>
