<%= provide(:title, "Bid")%>

<% if @bid.waiting? %>
<p class="box waiting"> This bid is still being considered by <%= @bid.receiver.name %> </p>
<% elsif @bid.accepted? %>
<p class="box verified"> This bid has been accepted by <%= @bid.receiver.name %> </p>
<% else %>
<p class="box unfinished"> This bid has been rejected by <%= @bid.receiver.name %> </p>
<% if current_user.isOwner?(@bid.receiver) && @bid.rfp.can_bid? && @bid == @bid.rfp.bids.last %>
<p2> Make a counter-bid
 <%= link_to "Make a bid", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
<% end %>
<% if current_user.isOwner?(@bid.sender) && @bid.rfp.can_bid? && @bid == @bid.rfp.bids.last %>
Make a new bid
<%= link_to "Make a bid", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
<% end %>
<% end %>


<div class="alert alert-block">
<p1 class="alert-heading"> Message</p1>
<p> <%= @bid.message %> </p>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Offer</p1>
<p> <%= @bid.offer %> </p>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Amount</p1>
<p> <%= @bid.amount %></p>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Proposed Service Level</p1>
<p> <%= @bid.service_level %></p>
</div>

<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<% if current_user.company == @bid.provider %>
<p> If you accept this bid, following will happen: </p>
<li> Your assets will increase by <%= @bid.amount %> </li>
<li> You will provide service with service level of <%= @bid.service_level %> to <%= @bid.buyer.name %>   </li>
<%else%>
<p> If you accept this bid, following will happen: </p>
<li> You will receive service with service level of <%= @bid.service_level %> from <%= @bid.provider.name %>   </li>
<li> Your fixed costs will increase by <%= @bid.amount %> </li>
<% end %>
<% end %>
<br/>



<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<div class="left_button">
<% if @bid.can_accept? %>
    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.accepted) %>
     <%= hidden_field_tag("provider_id", @bid.rfp.receiver.id)%>
     <%= hidden_field_tag("buyer_id", @bid.rfp.sender.id)%>
    

      <%= f.submit "Accept", class: "btn btn-success" %>
    <% end %>
<% else %>
  <button class="btn btn-success disabled" disabled="disabled">Accept</button>
<% end %>

</div>
<div class="right_button">

    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.rejected) %>

      <%= f.submit "Decline", class: "btn btn-danger" %>
    <% end %>
</div>
<% end %>

<p> <%= link_to @bid.rfp do %> <i class="icon-eye-open"></i> View the Original RFP <%end%> </p>
