<%= provide(:title, "Bid")%>

<% if @bid.waiting? %>
<p class="box waiting"> This bid is still being considered by <%= @bid.receiver.name %> </p>
<% elsif @bid.accepted? %>
<p class="box verified"> This bid has been accepted by <%= @bid.receiver.name %> </p>
<% else %>
<p class="box unfinished"> This bid has been rejected by <%= @bid.receiver.name %> </p>
<% if current_user.isOwner?(@bid.receiver) && @bid.can_bid? && @bid == @bid.rfp.bids.last %>
Make a counter-bid
 <%= link_to "Click me", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
<% end %>
<% if current_user.isOwner?(@bid.sender) && @bid.rfp.can_bid? && @bid == @bid.rfp.bids.last %>
Make a new bid
<%= link_to "Click me", make_bid_path(@bid.rfp.id), :class => "btn btn-primary"%>
<% end %>
<% end %>

<%= link_to 'Return to Company Briefcase', company_mail_path(current_user.company) , :style=>"background:#0000FF;padding-left:5px;padding-right:5px;padding-top:5px;padding-bottom:5px;font-size:14px;color:white;"%><br/><br/>

<h2> Bid from <%= @bid.sender.name %> </h2>
<div class="alert alert-block">
<p1 class="alert-heading"> Message</p1><br/><br/>
<%= @bid.message %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Offer</p1><br/><br/>
<%= @bid.offer %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Amount:</p1>&nbsp
<%= @bid.amount %>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Maximum amount of launches that can be provided:</p1>&nbsp
<%= @bid.provider.max_capacity %>
</div>




<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<div class="alert alert-block">
<p1 style="color:black;" class="alert-heading">
<% if current_user.company == @bid.provider %>
<i class="icon-pencil"></i> <em>Note:</em><br/>If you accept this bid, following will happen: <br/>
You will receive <%= @bid.amount %> per launch performed <br/>
</p1>
<%else%>
<i class="icon-pencil"></i> <em>Note:</em><br/> If you accept this bid, following will happen: <br/>
You gain the services of a <%= @bid.provider.service_type %> company for a maximum of <%= @bid.provider.max_capacity %> launches     <br/>
Your variable costs will increase by <%= @bid.amount %> <br/></p1>
<% end %>
<p> <%= link_to @bid.rfp do %> <i class="icon-eye-open"></i> View the Original RFP <%end%> </p></div>
<% end %>
<br/>



<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? && !current_user.teacher? %>
<div class="left_button">
<% if @bid.can_accept? %>
    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.accepted) %>
     <%= hidden_field_tag("provider_id", @bid.rfp.receiver.id)%>
     <%= hidden_field_tag("buyer_id", @bid.rfp.sender.id)%>
    

      <%= f.submit "Accept", class: "btn btn-success" %>
    <% end %>
<% else %>
  <button class="btn btn-success disabled" disabled="disabled">Accept</button>
  <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="You cannot accept this bid. The other party might have already entered to a contract with another company of your type or you are unable to provide the the requested service level because of specialization. ">
                      </i>
<% end %>

</div>
<div class="right_button">

    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.rejected) %>

      <%= f.submit "Decline", class: "btn btn-danger" %>
    <% end %>
</div>
<% end %>


