<%= provide(:title, "Bid")%>

<% if @bid.waiting? %>
<p class="box waiting"> This bid is still being considered by <%= @bid.rfp.sender.name %> </p>
<% elsif @bid.accepted? %>
<p class="box verified"> This bid has been accepted by <%= @bid.rfp.sender.name %> </p>
<% else %>
<p class="box unfinished"> This bid has been rejected by <%= @bid.rfp.sender.name %> </p>
<% end %>


<div class="alert alert-block">
<p1 class="alert-heading"> Message</p1>
<p> <%= @bid.message%> </p>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Offer</p1>
<p> <%= @bid.offer %> </p>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Amount</p1>
<p> <%= @bid.amount%></p>
</div>

<div class="alert alert-block">
<p1 class="alert-heading"> Service Provided</p1>
<p> <%= @bid.service_provided %></p>
</div>

<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<p> If you accept this bid, following will happen: </p>
<li> Your <%= @bid.sender.type_to_s%> will increase by <%= @bid.service_provided%> </li>
<li> Your assets will be decreased by <%= @bid.amount %> </li>
<% end %>
<br/>

<%if current_user.isOwner?(@bid.receiver) && @bid.waiting? %>
<div class="left_button">
    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.accepted) %>

      <%= f.submit "Accept", class: "btn btn-success" %>
    <% end %>

</div>
<div class="right_button">

    <%= form_for(@bid) do |f| %>
      
     <%= hidden_field_tag("status", Bid.rejected) %>

      <%= f.submit "Decline", class: "btn btn-danger" %>
    <% end %>
</div>
<% end %>

<p> <%= link_to @bid.rfp do %> <i class="icon-eye-open"></i> View the Original RFP <%end%> </p>
