<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<table class="quality_table tablesorter sortable">
  <thead>
  <tr>
    <th> I </th>
    <th> Users </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>"
                      </i></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
<% users.each_with_index do |user, i| %>
  <% unless user.teacher || user.test %>
    <tr>
      <td></td>
    <td>
      <%= link_to user do %> <i class="icon-info-sign"></i> <% end %>
<div class="btn box">
  <%= link_to groups_path(:user_id => user.id) do %><i class="icon-user"></i> <%= user.name %> <%end%>
</div> &nbsp&nbsp&nbsp    </td>
    <% user.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
     <% unless user.registered %> <td> <i class="icon-warning-sign bluesign" data-content="This user has not yet confirmed email"></i> </td> <% end %>
</tr>
<% end %>
<% end %>
  </tbody>
</table>
