<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<table class="quality_table tablesorter sortable_show">
  <thead>
  <tr>
    <th> Users </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>"
                      </i></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
<% users.each do |user| %>
  <% unless user.teacher %>
    <tr>
    <td>
<div class="btn box">
  <%= link_to user do %><i class="icon-user"></i> <%= user.name %> <%end%>
</div> &nbsp&nbsp&nbsp </td>
    <% user.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
    <td> <%= link_to remove_group_member_path(@group, user), :confirm => "Remove user from group?" do %> <i class="icon-remove-circle"></i> <% end %>    </td>
     <% unless user.registered %>  <td>  <i class="icon-warning-sign bluesign" data-content="This user has not yet confirmed email"></i> </td> <% end %>
     <% if user.group_registered %> <td>  <i class="icon-ok bluesign" data-content="This user has confirmed group"></i> </td> <% else %>
      <td>  <i class="icon-warning-sign bluesign" data-content="This user has not yet confirmed group"></i> </td> <% end %>
</tr>
<% end %>
<% end %>
  </tbody>
</table>

