<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<strong>Group Members: </strong>
    <table class="quality_table">
       <tr>
    <th> </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>" data-placement="top"
                      </i></th>
    <% end %>
  </tr>
<% group.users.each do |u| %>
      <tr>
      <td> <%= u.name %> </td>
      <% u.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
      </tr>
 <% end %>
</table>
<br/>
<strong> Selected user: </strong>
<table class="quality_table"
       <tr>
    <th> </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>" data-placement="top"
                      </i></th>
    <% end %>
  </tr>
<tr>
    <td><%= selected_user.name %>  </td>
<% selected_user.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
  </tr>
</table>