<p>Group Members: </p>
    <table class="quality_table">
       <tr>
    <th> </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>"
                      </i></th>
    <% end %>
  </tr>
<% group.users.each do |u| %>
      <tr>
      <td> <%= u.name %> </td>
      <% u.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
      </tr>
 <% end %>
</table>

<p> Selected user </p>
<table class="quality_table"
       <tr>
    <th> </th>
    <% @qualities.each do |q|  %>
    <th>  <i class="icon-info-sign"
                       data-title="<%= q.title%>"
                      </i></th>
    <% end %>
  </tr>
<tr>
    <td><%= selected_user.name %>  </td>
<% selected_user.qualityvalues.sort_by{|qv| qv.quality.order_number}.each do |q| %>
    <td><%= q.value%> </td>
    <% end %>
  </tr>
</table>