<%= provide(:title, 'All groups') %>
<h1>Group(s)</h1>
    <%= form_for(@group) do |f| %>
    <span style="font-size:12px;"><i class="icon-info-sign"></i>  <em>(You need to create a group to create a company.)</em></span>
    <%= f.submit "Create a new group", class: "btn btn-info" %>
    <% end %>
    
<% if @groups.empty? %>
<p1> You have not yet created any group. Create new group from <%= link_to "here", new_group_path %> </p1>


<% else %>

      <% @groups.each do |group| %>

          <% if @select %>
            <%= link_to "##{dom_id(group, :modal)}", {:class=>"btn btn-custom groupblock roundgroup", :data => {:toggle => "modal"} }  do %>
          <div style="text-align:center;"><%="Group #{group.id}" %></div> <br/>
          <% if group.company %> <span style="color:#00FFFF;">Company:</span> <%= group.company.name %> <br/>
          <%else %> <span style="color:#00FFFF;">Company not assigned yet.</span><br/>
                <% end %>

                <% unless group.users.empty? %> <span style="color:#00FFFF;">Members:</span>
                    <% group.users.each do |u| %>
                    <% if u.group_registered %>
                    <li><%=  u.name %></li> <% else %>
                    <li style="color: red;"><%=  u.name %></li>
                    <% end %>
                    <% end %>
                <% else %>
                    No users yet assigned to this group.
                <% end %>
         <% end %>

           <%= render 'group_modal', :group => group %>

          <% else %>

            <%= link_to group, :class=>"btn btn-custom groupblock roundgroup" do %>
          <div style="text-align:center;"><%="Group #{group.id}" %></div> <br/>
          <% if group.company %> <span style="color:#00FFFF;">Company:</span> <%= group.company.name %> <br/>
          <%else %> <span style="color:#00FFFF;">Company not assigned yet.</span><br/>
                <% end %>

                <% unless group.users.empty? %> <span style="color:#00FFFF;">Members:</span>
                    <% group.users.each do |u| %>
                    <% if u.group_registered %>
                    <li><%=  u.name %></li> <% else %>
                    <li style="color: red;"><%=  u.name %></li>
                    <% end %>
                    <% end %>
                <% else %>
                    No users yet assigned to this group.
                <% end %>
         <% end %>

          <% end %>
      <% end %> 
  
  
<% end %>




    <div id="footer" style="clear:both;text-align:center;">
    </div>

