<%= provide(:title, 'All groups') %>
<h1>Group(s)</h1>
    <%= form_for(@group) do |f| %>
    <span style="font-size:12px;"><i class="icon-info-sign"></i>  <em>(You need to create a group to create a company.)</em></span>
    <%= f.submit "Create a new group", class: "btn btn-info" %>
    <% end %>
    
  <div id="ads" class="gender_solid_background round"> 
  <div class="ads_for_single_category gender_middle_background round">

<% if @groups.empty? %>
<p1> You have not yet created any group. Create new group from <%= link_to "here", new_group_path %> </p1>
<% else %>
  <% @groups.each do |group| %>
    <%= link_to group, :class=>"btn btncompany" do %>
<%="Group #{group.id}" %> <br/>
<% if group.company %> <%= "Assigned company: #{group.company.name}" %> <br/> <%else %> No company assigned <% end %>
<% unless group.users.empty? %> <% group.users.each do |u| %> <%=  u.name %> <br/> <% end %> <% else %> No users <% end %>
<% end %>
  <% end %>
<% end %>
 </div> </div>

