<%= provide(:title, 'Group') %>

<% if @group.company %>
<h5> This group owns a company called <%= link_to @group.company.name,@group.company %>. </h5>
<% else %>
<h5> This group doesnot have a company of it's own. </h5>
<% end %>

<%if @group.users.empty? %>
<h6> This group is currently empty.</h6>

<% else %>

<h4> Member(s) at present in the company: </h4>
  <% @group.users.each do |user| %>
  <li><%= user.name%> <%=link_to "Remove user", {:controller => "groups", :action => "remove_member", :id => @group.id, :user_id => user.id}, :confirm => "Are you sure?", :class => 'btn btn-small btn-danger' %> </li></br> </br>
  
  <% end %>
<% end %> 

<p>  <%= link_to show_users_path, :class => 'btn btn-large' do%>
     <i class="icon-user"></i> Add members  
     <%end%>
</p>
  