 <div class="lead">
<%= provide(:title, 'Group') %>

<% if @group.company %>
	<p style="font-size:16px;"> <%= t :group %> <%= @group.id %> <%= t :group_own %> <%= link_to @group.company.name,@group.company %>. </p>
<% else %>
	<p style="font-size:16px;"> <%= t :group_no_company %>  </p>
<% end %>

<%if @group.users.empty? %>
	<p style="font-size:16px;"><%= t :group_empty %> </p>
<% else %>
	<p style="font-size:16px;"> <%= t :group_members %>: </p>
	<%= render 'group_users_show', :users => @group.users %>
<% end %> 

<%if @group.users.empty? %>
<% else %>
<%= form_for(@group) do |f| %>
	<%= f.submit "#{t :group_confirmation_email}", class: "btn btn-primary" %>
<% end %>
<% end %> 
<br><br>

<%= link_to groups_path do %>
<button class="btn btn-large" style="font-size:16px;">
	<%=   t :group_back %>
</button> <% end %>
</div>

