<%= provide(:title, 'Group') %>

<% if @group.company %>
<h5> This group owns a company called <%= link_to @group.company.name,@group.company %>. </h5>
<% else %>
<h5> This group doesnot have a company of it's own. </h5>
<% end %>

<%if @group.users.empty? %>
<h5> This group is currently empty.</h5>

<% else %>

<h4> Member(s) in the company: </h4>
  <% @group.users.each do |user| %>
 <%=link_to user.name, {:controller => "groups", :action => "remove_member", :id => @group.id, :user_id => user.id}, :confirm => "Are you sure?", :class => 'btn btn-danger' %> </br> </br>
  <% end %>
<% end %> 

<p>  <%= link_to show_users_path, :class => 'btn btn-large ' do%>
     <i class="icon-user"></i> Add members  
     <%end%>
</p>
  

<div style="font-size:16px;">
<%= link_to "Go Back to group page",:action => :index%>
</div>