<div style="font-size:14px;">
        <p style="font-size:20px;"> Personal Account Details </p>

        <div class="span5">
        <p style="line-height:10px;"><span style="color:#800000;padding-right:5px;"> Name:</span><%= @user.name %></p>
        <p style="line-height:10px;"><span style="color:#800000;padding-right:5px;">Department:</span><%= @user.department %></p>
        <p style="line-height:10px;"> <span style="color:#800000;padding-right:5px;"></i>Email: </span><%= @user.email %></p>
          </div> <div class="span5">
        <p style="line-height:10px;"><span style="color:#800000;padding-right:5px;">Student Number:</span><%= @user.student_number %></p>
        <p style="line-height:10px;"><span style="color:#800000;padding-right:5px;"> Registered:</span><%= @user.registered %> </p>
        <% if @user.position %> 
          <p style="line-height:10px;"> <span style="color:#800000;padding-right:5px;">Position: </span><%= @user.position%> </font></p> 
        <% end %></br></div>
      </div>

      <div style="clear:both;"></div>