<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<div style="font-size:14px;">
        <p style="border-radius:10px;padding:3px 2px 3px 3px;font-size:18px;background-color:#40095A;color:#ffffff;"> <%= t :user_details %></p>

        <div class="span5">
        <p style="line-height:15px;"><span style="color:#800000;padding-right:5px;"> <%= t :user_name %>:</span><%= @user.name %></p>
        <p style="line-height:15px;"><span style="color:#800000;padding-right:5px;"><%= t :user_department %>:</span><%= @user.department %></p>
        <p style="line-height:15px;"> <span style="color:#800000;padding-right:5px;"></i><%= t :user_email %>: </span><%= @user.email %></p>
          </div> <div class="span5">
        <p style="line-height:15px;"><span style="color:#800000;padding-right:5px;"><%= t :user_student_number %>:</span><%= @user.student_number %></p>
        <p style="line-height:15px;"><span style="color:#800000;padding-right:5px;"> <%= t :user_registered %>:</span><%= @user.registered %> </p>
        <% if @user.position %> 
          <p style="line-height:15px;"> <span style="color:#800000;padding-right:5px;"><%= t :user_position %>: </span><%= @user.position%> </font></p>
        <% end %></br></div>
      </div>

      <div style="clear:both;"></div>