<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'All users') %>
<h1>All users</h1>
 <div id="content" style="height:100%;width:70%;float:right;">
   <ul class="users">
   <%= render @users %>
   </ul>
 </div>

<%= render 'search_form' %>
<%= link_to "Add users to groups", sort_users_path, :class => "btn btn-primary" %>

<%#=  select("quality", "quality_id", @qualities.collect {|q| [ q.title, q.id ] }, { :prompt => "Sort by parameter" }, {:id => "qualities"}) %>

<%#=  select("qualityvalue", "qualityvalue_id", [], { :include_blank => true }, {:id => "qualityvalues"}) %>

<% if signed_in? && current_user.teacher? %> <%= link_to "Dump user data", users_dump_path %> <% end %>

<div id="footer" style="clear:both;text-align:center;">
</div>