<%= provide(:title, 'Sign up') %>
<h1 xmlns="http://www.w3.org/1999/html">Sign up</h1>

<div class="row">
 <div class="span6 offset3">

 <%= form_for(@user) do |f| %>

 <%= render 'shared/error_messages', :object => f.object %>
  <div id="form_container">
    <div id="form_sub_container1" style="display: block;">
  <%= f.label :name %>
  <%= f.text_field :name %>

 <%= f.label :email %>
  <%= f.text_field :email %>

 <%= f.label :password %>
 <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Re-type Password" %>
  <%= f.password_field :password_confirmation %>
      
   <%= f.label :department, "Department" %>
  <%= f.text_field :department %>
      
   <%= f.label :student_number, "Student Number" %>
   <%= f.text_field :student_number %>

 </div>
    <div id="form_sub_container2" style="display: none;">

   <% if true %>
          <h2>Select the answers</h2> <p><i>(Note: the first option is the question followed by options)</i></p>

             <% @qualities.each do |q| %>
                   <%=  f.collection_select :qualityvalue_ids, q.qualityvalues, :id, :value, {:prompt => q.title}, { :selected => @user.qualityvalues, :multiple => false, :name => "user[qualityvalue_ids][]", :id => q.title} %>
             <% end %>
   <% end %>
       </div>
  </div>

       <button type="button" id="newuserprevious" class="btn btn-primary">Previous</button>
       <span style="padding-right: 50%"> </span>
       <button type="button" id="newusernext" class="btn btn-primary">Next</button>  </br></br></br></br>
       <%= f.submit "Create my account", class: "btn btn-large btn-success" %>
 <% end %>
  </div>
</div>