<% provide(:title, @user.name) %>
<div class="box details"> 
<div class="row">
  <aside class="span4">
    <section>
      <h3> 
        Personal Account Details
      </h3>
     <p><font color="black"> <strong> Name:</strong> <%= @user.name %></p>
     <p> <strong> Department:</strong> <%= @user.department %></p>
     <p> <strong> </i>Email: </strong><%= @user.email %></p>
     <p> <strong>Student Number: </strong><%= @user.studentNumber %></p>
     <p> <strong>Role: </strong><%= @user.role%> </font></p>
    </div>
    </div>
        <% if !current_user.isTeacher? || current_user.id != @user.id  %>
          <% if @user.group %>
          <p class="box verified"> <%= @user.name%> is assigned to Group <%= @user.group.id%> </p>
          <% if @user.group.company%>
          <p class="box verified"> Company: <%= link_to @user.group.company.name, @user.group.company %> </p>
          <%else %>
          <p class="box unfinished"> You are currently unemployed </p>
          <% end %>
          <% else %>
          <p class="box unfinished"> You are currently not assigned to any Company </p>
          <% end %>
        <% end %>
        
      </section>
    </aside>
