<% provide(:title, @user.name) %>
   <% if signed_in? && current_user.isTeacher? && current_user == @user %>
    <%= image_tag("masterprofile.png",:style=> "height:150px;width:200px;float:left;padding-top:1cm;")%>
   </br></br>
  <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;padding-left:0.5cm;"> 
    <%= render 'personaldetails'%>
  </div>
  <%else%>
  <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;padding-top:1cm;"> 
    <%= render 'personaldetails'%>
  </div>
  <% end %>
  
  
   <% if !current_user.isTeacher? || current_user.id != @user.id  %>
    <div id="content" style="height:100%;width:45%;float:right;padding-right:4cm;"> 
    <div class="alert">
    <h3> 
        Present Status
      </h3>
          <% if @user.group %>
            <p> <strong>   <%= @user.name%> is assigned to Group <%= @user.group.id%>  </strong></p>
                <% if @user.group.company%>
                      <p> <strong> Company: </strong> <%= link_to @user.group.company.name, @user.group.company %> </p>
                <%else %>
                      <p style="color:red"> Unemployed </p>
                <% end %>
          <% else %>
            <p style="color:red"> No Company assigned.</p>
          <% end %>
          <% if signed_in? %> <div id= "plate"> <p style="color:green"><strong> You are currently in round <%= @game.current_round %>! </strong></p></div><% end %> <br/>
      </div></div> 
    <% end %>
        
        
<div id="footer" style="clear:both;text-align:left;">
  <% if signed_in? && !current_user.isTeacher? %>
  <blockquote><p>"About the time we can make the ends meet, somebody moves the ends."</p>
  <small>Herbert Hoover</small>
</blockquote><% end %>
          </div>
    
    

