<% @revisions.each do |r| %>


<p style="font-size:20px;font-family:serif;"><strong><%= r.company.company_type.name %>: <%= r.company.name %> </strong></p>

<div style="position:relative;line-height:0%;">
  <span style="font-size:16px;font-family:serif;text-align:left;"><strong>Key partners</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.key_partners %>
  </span>
</div><br><br>


<div style="position:relative;line-height:0%;">
  <span style="font-size:16px;font-family:serif;"><strong>Key activities</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.key_activities %>
  </span>
</div> <br><br>


<div style="position:relative;line-height:0%;">
  <span style="font-size:16px;font-family:serif;"><strong>Value propositions</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.value_proposition %>
  </span>
</div> <br><br>



<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Customer relationships</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
   <%= simple_format r.customer_relationships %>
  </span>
</div><br><br>

<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Customer segments</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
   <%= simple_format r.customer_segments %>
  </span>
</div><br><br>

<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Key resources</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
   <%= simple_format r.key_resources %>
  </span>
</div> <br><br>

<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Channels</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.channels %>
  </span>
</div><br><br>


<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Revenue streams</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.revenue_streams %>
  </span>
</div><br><br>

<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Cost structure</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.cost_structure %>
  </span>
</div><br><br>

<div style="position:relative;line-height:0%;">
<span style="font-size:16px;font-family:serif;"><strong>Reasoning</strong></span>
  <span style="font-size:14px;font-family:serif;line-height:110%;">
  <%= simple_format r.reasoning %>
  </span>
</div><br><br>


<br>
<div id="footer" style="font-size:10px;clear:both;text-align:right;">www.businessmodelgeneration.com </div>

<p style="page-break-before: always;"></p>
<% end %>