<% @revisions.each do |r| %>


<p style="font-size:20px;font-family:serif;"><strong><%= r.company.company_type.name %>: <%= r.company.name %> </strong></p>

<div style="position:relative;">
  <span style="font-size:16px;font-family:serif;text-align:left;"><strong>Key Partners</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.key_partners %>
  </span>
</div>


<div style="position:relative;">
  <span style="font-size:16px;font-family:serif;"><strong>Key Activities</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.key_activities %>
  </span>
</div> 


<div style="position:relative;">
  <span style="font-size:16px;font-family:serif;"><strong>Value Propositions</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.value_proposition %>
  </span>
</div> 



<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Customer Relationships</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
   <%= simple_format r.customer_relationships %>
  </span>
</div>

<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Customer Segments</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
   <%= simple_format r.customer_segments %>
  </span>
</div>

<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Key Resources</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
   <%= simple_format r.key_resources %>
  </span>
</div> 

<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Channels</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.channels %>
  </span>
</div>


<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Revenue Streams</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.revenue_streams %>
  </span>
</div>

<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Cost Structure</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.cost_structure %>
  </span>
</div>

<div style="position:relative;">
<span style="font-size:16px;font-family:serif;"><strong>Reasoning</strong></span>
  <span style="font-size:12px;font-family:serif;line-height:110%;">
  <%= simple_format r.reasoning %>
  </span>
</div>


<br>
<div id="footer" style="font-size:10px;clear:both;text-align:right;">www.businessmodelgeneration.com </div>

<p style="page-break-before: always;"></p>
<% end %>