<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<title><%= "#{@revision.company.name}'s Business Plan" %>
</title>

  
  
<br/><br/>


 <% if @revision == @revision.company.revisions.last %>
     <% if @revision.company.business_plan.verified? %>
 <%if signed_in? && current_user.teacher? %>
 
<div class="spanFormat"><a class="btn btn-primary" data-toggle="modal" href="#planGrade">Grade</a></div>
<div class="modal hide fade" id="planGrade">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Grade the Business Model Canvas</h3>
        </div>
      <div class="modal-body">
         <div>
           <%= form_for(@revision) do |f| %>
           <%= render 'shared/error_messages', :object => f.object %>

            <%= f.label :grade %>
            <%= f.select :grade, Revision.grades %>

          <%= f.label :feedback %>
            <%= f.text_area :feedback %>
        </div>
      <div class="modal-footer">
        <a href="#">
         <div class="fieldarea">
          <%= f.submit "Grade", class: "btn btn-large btn-primary" %>
        </div>
          <% end %>
        </div></a>
       </div>
     </div>
  
   <% end %>

     <% elsif @revision.company.business_plan.rejected? %>
     <span class="box unfinished" > Business Model Canvas&nbsp:&nbsp&nbsp&nbspRejected&nbsp </span>
     <% else %>
     <p class=" box waiting">Business Model Canvas is waiting for verification </p>
     <%if signed_in? && current_user.teacher? %>
     
     <div class="spanFormat"><a class="btn btn-success" data-toggle="modal" href="#planAccept">Accept</a></div>
     <div class="spanFormat"><a class="btn btn-danger" data-toggle="modal" href="#planReject">Decline</a></div>

     <div class="modal hide fade" id="planAccept">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Grade the Business Model Canvas</h3>
        </div>
      <div class="modal-body">
         <div>
           <%= form_tag verify_plan_path(@revision.company) do%>
           <p> Are you sure you wish to accept this plan? </p>
           <%= hidden_field_tag("status", Bid.accepted) %>
        </div>
      <div class="modal-footer">
        <a href="#">
         <div class="fieldarea">
          <%= submit_tag "Accept", class: "btn btn-success" %>
        </div>
          <% end %>
        </div></a>
       </div>
     </div>





      <div class="modal hide fade" id="planReject">
        <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>Why was this Business Model Canvas rejected</h3>
        </div>
      <div class="modal-body">
         <div>
           <%= form_tag verify_plan_path(@revision.company) do%>
           <%= label_tag "reject_message", "Reason for declining the business plan (Optional)" %>
           <div class="fieldarea">
             <%= text_area_tag "reject_message" %>
           </div>
           <%= hidden_field_tag("status", Bid.rejected) %>
        </div>
      <div class="modal-footer">
        <a href="#">
         <div class="fieldarea">
          <%= submit_tag "Reject", class: "btn btn-danger" %>
        </div>
          <% end %>
        </div></a>
       </div>
     </div>

   <% end %>
   <% end %>
     <% end %>
     <div class="clear"></div>

    <% if @revision.company.business_plan.rejected? && @revision.company.business_plan.reject_message %>
    <div style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;background-color:#faebd7;margin-top:10px;margin-right:200px;">
      <span style="color:red;font-size:16px;">Reason for rejection:</span> <%=simple_format @revision.company.business_plan.reject_message ,:style=> "display:inline;" %></div> <% end %>

      

<br/><br/><br/><% @revision.company.revisions.each_with_index do |rev, i|  %>
&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Revision #{i+1}", rev , :style=> "font-size:18px;font-family:serif;color:green;"%><% if rev.id == @revision.id %> <i class="icon-chevron-left"></i><i class="icon-chevron-left"></i> <% end %>
<% end %>
<% if signed_in? && current_user.isOwner?(@revision.company) %>
&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "New Business Canvas", show_plan_path(:id => @revision.company.id), :style=> "font-size:18px;font-family:serif;color:green;"%><br/>
  <% end %>

<div style="position:relative;font-size:35px;font-family:serif;padding-top:1cm;">
  <strong><em>The Business Model Canvas for Revision <%= @revision.company.revisions.index(@revision) + 1 %></strong></em>
</div>
<br/><br/>

<% if signed_in? && current_user.isOwner?(@revision.company) && @revision.company.business_plan.public? %>
<p> <i class="icon-eye-open"></i> Your plan is public and visible to others. <%= link_to "Make Private", visibility_path(@revision.company), :class => "btn btn-primary" %></p>
<% elsif signed_in? && current_user.isOwner?(@revision.company) && !@revision.company.business_plan.public? %>
<p> <i class="icon-eye-close"></i> Your plan is private and others cannot view it. <%= link_to "Make Public", visibility_path(@revision.company), :class => "btn btn-primary" %></p>
<% end %>

<% if signed_in? && current_user.isOwner?(@revision.company) && @revision.grade %>
     <p> This plan has been graded: <%=  @revision.grade %>   </p>
     <p> Feedback: <%=  @revision.feedback %>   </p>
     <% end %>


<div style="position:relative;padding-top:1cm;">
  <span style="font-size:30px;font-family:serif;text-align:left;"><strong><em>Key Partners</em></strong><%= image_tag("keypartners.png")%></span><br/><br/>
  <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  Who are our Key Partners?<br/>
  Who are our Key suppliers?<br/> 
  Which Key Resources are we acquiring from partners?<br/>
  Which Key Activities do partners perform?<br/>
  </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.key_partners %> 
  </span>
</div>


<div style="position:relative;padding-top:1cm;">
  <span style="font-size:30px;font-family:serif;"><strong><em>Key Activities</em></strong><%= image_tag("keyactivities.png")%></span><br/><br/>
  <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  What Key Activities do our Value Propositions require?<br/>
  Our Distribution Channels?<br/> 
  Customer Relationships?<br/>
  Revenue streams?<br/>
  </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.key_activities %> 
  </span>
</div>


<div style="position:relative;padding-top:1cm;">
  <span style="font-size:30px;font-family:serif;"><strong><em>Value Propositions</em></strong><%= image_tag("valuepropositions.png")%></span><br/><br/>
  <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  What value do we deliver to the customer?<br/>
  Which one of our customer's problems are we helping to solve?<br/> 
  What bundles of products and services are we offering to each Customer Segment?<br/>
  Which customer needs are we satisfying?<br/>
  </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.value_proposition %> 
  </span>
</div>


  
<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Customer Relationships</em></strong><%= image_tag("customerrelationships.png")%></span><br/><br/>
<!--  <p style="font-size:12px;color:#999;line-height:110%;">  
  What type of relationships does each of our Customer Segments expect us to establish and maintain with them?<br/>
  Which ones have we established?<br/> 
  How are they integrated with the rest of our business model?<br/>
  How costly are they?<br/>
 </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
   <%= @revision.customer_relationships %> 
  </span>
</div>

<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Customer Segments</em></strong><%= image_tag("customersegments.png")%></span><br/><br/>
<!--  <p style="font-size:12px;color:#999;line-height:110%;">  
  For whom are we creating value?<br/>
  Who are our most important customers?<br/> 
 </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
   <%= @revision.customer_segments %> 
  </span>
</div>

<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Key Resources</em></strong><%= image_tag("keyresources.png")%></span><br/><br/>
 <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  What key resources do our Value Propositions require?<br/>
  Our Distribution Channels? Customer Relationships?<br/> 
  Revenue Streams?<br/> 
 </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
   <%= @revision.key_resources %> 
  </span>
</div>

<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Channels</em></strong><%= image_tag("channels.png")%></span><br/><br/>
 <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  For whom are we creating value?<br/>
  Who are our most important customers?<br/> 
 </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.channels %> 
  </span>
</div>


<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Revenue Streams</em></strong><%= image_tag("revenuestreams.png")%></span><br/><br/>
 <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  For what value are our customers really willing to pay?<br/>
  For what do they currently pay?<br/> 
  How are they currently paying?<br/> 
  How would they prefer to pay?<br/> 
  How much does each Revenue Stream contribute to overall revenues?<br/> 
 </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.revenue_streams %> 
  </span>
</div>

<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Cost Structure</em></strong><%= image_tag("coststructure.png")%></span><br/><br/>
 <!-- <p style="font-size:12px;color:#999;line-height:110%;">  
  What are the most imporant costs inherent in our business model?<br/>
  Which Key Resources are most expensive?<br/> 
  Which Key Activities are most expensive?<br/> 
 </p> -->
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.cost_structure %> 
  </span>
</div>

<div style="position:relative;padding-top:1cm;">
<span style="font-size:30px;font-family:serif;"><strong><em>Reasoning</em></strong><%= image_tag("reasoning.png")%></span><br/><br/>
  <span style="font-size:18px;font-family:serif;line-height:110%;"> 
  <%= @revision.reasoning %> 
  </span>
</div>




<div id="footer" style="clear:both;text-align:right;padding-top:2cm;">www.businessmodelgeneration.com
          </div>



