<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= content_tag :div, :class => "modal hide fade ppcontent", :id => part.id do  %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%=part.title %></h3>
  </div>
  <div class="modal-body" >
    <div>
   <% if part.position == current_user.position || part.position == PlanPart.free || resp_user.nil?  %>
       <%= form_tag("/companies/#{@company.id}/update_part/#{part.id}", :method => "post") do %>
  <%= text_area_tag(:content, part.content, :class => "contentstyle", :style => "width:90%;", :rows => 10, :autofocus => true ,:placeholder => "Text here") %>
      <%= hidden_field_tag("modal", "modal") %>
  </div>
    <div class="modal-footer">
    <a href="#">
      <%= submit_tag("Update") %>
    <% end %>

</a> </div>
  </div>
<% else %>
      <% if part.isReady? %>
<p><%=part.content%></p>
  </div>
    <div class="modal-footer">
    <a href="#">
      <div class="fieldarea">
      </div>
      <% else %>
      <p>This part can only be finished by <%=  resp_user.name %> </p>
  </div>
    <div class="modal-footer">
    <a href="#">
      <div class="fieldarea">
      </div>
    <% end %>

</a> </div>
  </div>
      <% end %>
  <% end %>

