<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%if plan.verified %>
      <span class="box verified"> <%= t :plan_plan_status %>&nbsp:&nbsp&nbsp&nbsp<%= t :plan_complete %>&nbsp</span>
    <% elsif plan.waiting %>
    <span class="box waiting"><%= t :plan_plan_status %>&nbsp:&nbsp&nbsp&nbsp<%= t :plan_waiting_verification %>&nbsp</span>
    <% elsif (!plan.done? && plan.isReady?) || (plan.isReady? && plan.rejected?) %>
    <% if plan.rejected? %>
    <span class="box unfinished" > <%= t :plan_rejected %>  </span> <% end %>
<span class="box waiting"><%= t :plan_plan_status %>&nbsp:&nbsp&nbsp&nbsp<%= t :plan_submit_ready %> &nbsp</span>
    <% else %>
      <span class="box unfinished" ><%= t :plan_plan_status %>&nbsp:&nbsp&nbsp&nbsp<%= t :plan_not_ready %>&nbsp </span>
<% end %>