<%= provide(:title, "#{@company.name}'s Business Plan")%>
<%# Business plan status %>
 <% if !@company.business_plan.isReady? %>
    <p class="box unfinished"> Company business plan is not ready yet. </p>
    <%else%>
    <p class="box waiting"> Ready to Submit </p>
<% end %> 

<br/>

<h3> Status of all the parts in the business plan: </h3>
<div class="bmcmain">
      
  

     <% part = @company.business_plan.plan_parts.find_by_title("Key Partners") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
    <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keypartnersgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div><%end%>
         <%else%>
         <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
            <div class="keypartnersred">
                  <% if part.position != PlanPart.free && resp_user %>
                  <strong> <span style="position:relative;top:20%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %> <strong> <span style="position:relative;top:20%;"><em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div><% end %>
          <%end%>
          
          
     <% part = @company.business_plan.plan_parts.find_by_title("Key Activities") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keyactivitiesgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div><% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keyactivitiesred">
                  <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>

          
     <% part = @company.business_plan.plan_parts.find_by_title("Key Resources") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keyresourcesgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keyresourcesred">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"><em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>
  
          
     <% part = @company.business_plan.plan_parts.find_by_title("Value Proposition") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
   <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="valuepropositionsgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div><% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="valuepropositionsred">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %> <strong>   <span style="position:relative;top:30%;"><em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Customer Relationships") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="customerrelationshipsgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="customerrelationshipsred">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong>   <span style="position:relative;top:40%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:40%;"><em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>
          
     <% part = @company.business_plan.plan_parts.find_by_title("Channels") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="channelsgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="channelsred">
                  <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"><em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>

  
     <% part = @company.business_plan.plan_parts.find_by_title("Customer Segments") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
   <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="customersegmentsgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div> <% end %>
         <%else%>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="customersegmentsred">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Cost Structure") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="coststructuregreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="coststructurered">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Revenue Streams") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
    <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? %>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="revenuestreamsgreen">
              <% if part.position != PlanPart.free && resp_user %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
             </div><% end %>
         <%else%>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="revenuestreamsred">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %><strong>   <span style="position:relative;top:30%;"> <em>(This part can be completed by anyone from the board members.)</em></span></strong>
                 <% end %>
              </div><% end %>
          <%end%>
          
          
      <% part = @company.business_plan.plan_parts.find_by_title("Reasoning") %>
       <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && !part.content.nil? && !part.content.blank? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="reasoninggreen">
              <% if part.position != PlanPart.free && resp_user  %>
                     <strong> <span style="position:absolute;top:55%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %> <strong> <span style="position:relative;top:55%;"><em>&nbsp (Can be completed by anyone.)</em></span></strong>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="reasoningyellow">
                  <% if part.position != PlanPart.free && resp_user  %>
                     <strong> <span style="position:absolute;top:55%;"> <em>Assigned to <%= resp_user.name %></em></span></strong>
                 <% else %> <strong> <span style="position:relative;top:55%;"><em>&nbsp (Can be completed by anyone.)</em></span></strong>
                 <% end %>
              </div> <% end %>
          <%end%>
                   
          
         <% if @company.business_plan.isReady? %>
          <%=link_to "Submit Business Model Canvas", submit_plan_path(:id => @company.id), :confirm => "Are you sure?", :method => :put, :class => 'submitshow',:style=>"color:white;font-style:italic;padding-top:12px;" %>

        <% else %>
 <div class="submithide disabled" disabled="disabled"></div> 
<% end %>

</div>


 
   

   






 
