<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, "#{@company.name}'s Business Plan")%>
<%# Business plan status %>
 <% if !@company.business_plan.isReady? %>
    <p class="box unfinished"> <%= t :plan_not_ready %>  </p>
    <%else%>
    <p class="box waiting"> <%= t :plan_submit_ready %>  </p>
<% end %> 

<br/>

<h3> <%= t :plan_part_status %>: </h3>
<div class="bmcmain">
      
  

     <% part = @company.business_plan.plan_parts.find_by_title("Key Partners") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
    <%= render "edit_modal", :part => part, :resp_user => resp_user %>
  <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keypartnersgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body" >

              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div><%end%>
         <%else%>
         <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
            <%if !part.isReady? %> <div class="keypartnersred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
            <% else %> <div class="keypartnersred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                
                  <% if part.position != PlanPart.free && resp_user %>
                   <span style="position:relative;top:20%;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>  <span style="position:relative;top:20%;">(<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div> <% end %>
          <%end%> 
          
          
     <% part = @company.business_plan.plan_parts.find_by_title("Key Activities") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
    <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
                
             <div class="keyactivitiesgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
          
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div><% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
                   
             <%if !part.isReady? %> <div class="keyactivitiesred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
             <% else %> <div class="keyactivitiesred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
               
                  <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div> <% end %>
          <%end%>

          
     <% part = @company.business_plan.plan_parts.find_by_title("Key Resources") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="keyresourcesgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <%if !part.isReady? %> <div class="keyresourcesred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
             <% else %> <div class="keyresourcesred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                
                  <% if part.position != PlanPart.free && resp_user  %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;">(<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div>  <% end %>
          <%end%>
  
          
     <% part = @company.business_plan.plan_parts.find_by_title("Value Proposition") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
   <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="valuepropositionsgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div><% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <%if !part.isReady? %> <div class="valuepropositionsred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
             <% else %> <div class="valuepropositionsred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                 
                  <% if part.position != PlanPart.free && resp_user  %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>    <span style="position:relative;top:30%;">(<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div>  <% end %>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Customer Relationships") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="customerrelationshipsgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
              <%if !part.isReady? %> <div class="customerrelationshipsred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              <% else %> <div class="customerrelationshipsred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                  
                  <% if part.position != PlanPart.free && resp_user  %>
                        <span style="position:relative;top:40%;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:40%;">(<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div> <% end %>
          <%end%>
          
     <% part = @company.business_plan.plan_parts.find_by_title("Channels") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="channelsgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
               
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
              <%if !part.isReady? %> <div class="channelsred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              <% else %> <div class="channelsred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                  
                  <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;">(<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div> <% end %>
          <%end%>

  
     <% part = @company.business_plan.plan_parts.find_by_title("Customer Segments") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
   <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="customersegmentsgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
               
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div> <% end %>
         <%else%>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <%if !part.isReady? %>  <div class="customersegmentsred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
             <% else %> <div class="customersegmentsred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                 
                  <% if part.position != PlanPart.free && resp_user  %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div>  <% end %>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Cost Structure") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="coststructuregreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
               
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
              <%if !part.isReady? %> <div class="coststructurered plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              <% else %> <div class="coststructurered orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                  
                  <% if part.position != PlanPart.free && resp_user  %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div>  <% end %>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Revenue Streams") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
    <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && part.updated %>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="revenuestreamsgreen plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
              
              <% if part.position != PlanPart.free && resp_user %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
             </div><% end %>
         <%else%>
   <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <%if !part.isReady? %> <div class="revenuestreamsred plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body">
             <% else %> <div class="revenuestreamsred orangebox plan_part_help" data-title="Help" data-content="<%= part.get_help_text %>"  data-html="true"  data-container="body"> <% end %>
                
                  <% if part.position != PlanPart.free && resp_user  %>
                        <span style="position:relative;top:30%;color:#99CCFF;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>   <span style="position:relative;top:30%;"> (<%= t :plan_part_free %>.)</span>
                 <% end %>
              </div><% end %>
          <%end%>
          
          
      <% part = @company.business_plan.plan_parts.find_by_title("Reasoning") %>
       <% resp_user = @company.group.users.find_by_position(part.position)%>
  <%= render "edit_modal", :part => part, :resp_user => resp_user %>
         <%if part.isReady? && !part.content.nil? && !part.content.blank? %>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="reasoninggreen">
              <% if part.position != PlanPart.free && resp_user  %>
                      <span style="position:absolute;top:55%;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>  <span style="position:relative;top:55%;">&nbsp (<%= t :plan_part_anyone %>.)</span>
                 <% end %>
             </div> <% end %>
         <%else%>
  <%= link_to "#", :href => "\##{part.id}" , :data => {:toggle => "modal"} do %>
             <div class="reasoningyellow">
                  <% if part.position != PlanPart.free && resp_user  %>
                      <span style="position:absolute;top:55%;"> <%= t :plan_part_assigned %> <%= resp_user.name %></span>
                 <% else %>  <span style="position:relative;top:55%;">&nbsp (<%= t :plan_part_anyone %>.)</span>
                 <% end %>
              </div> <% end %>
          <%end%>
                   
          
        



<div class="right" style="padding-top:70%;">
 <% if @company.business_plan.isReady? %>
          <%=link_to "Submit", submit_plan_path(:id => @company.id), :confirm => "Are you sure?", :method => :put, :class => 'btn btn-primary btn-large' %>

        <% else %>
 <div class="submithide disabled" disabled="disabled"></div> 
<% end %>
 </div>
   

   </div>






 
