<%= provide(:title, "#{@company.name}'s Business Plan")%>
<%# Business plan status %>
 <% if !@company.business_plan.waiting? && !@company.business_plan.verified? %>
    <p class="box unfinished"> Company business plan is not ready yet. </p>
    <h3> Status of all the parts in the business plan: </h3>
    <% @company.business_plan.plan_parts.each_with_index do |part,i|%>
    <% resp_user = part.business_plan.company.group.users.find_by_position(part.position)%>
         <h4><li>  Status of Part <%= part.title %>:
          <% if part.isReady? %> 
                <%= "Completed" %> 
             <%else%> 
                <%= "Pending" %> <span style="font-size:14px;color:green;letter-spacing:0.2px">(
       <% if part.position != PlanPart.free && resp_user  %>
       <em>This part of the business plan needs to be completed by<%= resp_user.name %>.</em>
       <% else %><em> This part of the business plan can be completed by anyone from the board members.</em>
       <% end %>)
            <% end %>
         </li></h4>
     <% end %>
  <% else %>
    <% if @company.business_plan.verified? %>
    <h1>Business Plan</h1>
    <% else %>
    <p class=" box waiting">Business plan is waiting for verification </p>
    <%if signed_in? && current_user.teacher? %>
   <%= link_to "Accept this plan", verify_plan_path(:id => @company.id), :class => "btn btn-success"%>
   <% end %>
   <% end %>
 <% @company.business_plan.plan_parts.each do |part| %>
<% if current_user.isOwner?(@company) || part.outer || @company.business_plan.public? %>
<h2><%= part.title %> <%if current_user.isOwner?(@company) %> <%= render  'companies/eye_icon', :public => part.outer %><% end %>   </h2>
<p> <%=part.content %> </p>
<% end  %>
<% end %>
<% end %>

  <br/>
  <% if signed_in? && current_user.isOwner?(@company)%>
         <% if @company.business_plan.public?%>
         <em><i class="icon-eye-open"></i>
         The whole Business plan is currently visible to anyone </em> <br/>
         <%= link_to visibility_path(:id => @company.id), :class => "btn btn-primary" do%>
         <i class="icon-eye-close icon-white"></i> Set as private 
         <% end %>
  <% else %>
  <em><i class="icon-eye-close"></i>
         The inner parts of the plan are currently visible only to your group and the teachers </em> <br/>
         <%= link_to visibility_path(:id => @company.id), :class => "btn btn-primary" do%>
         <i class="icon-eye-open icon-white"></i> Set as public
         <% end %>
         <% end %>
  <% end %>

