<%= provide(:title, "#{@company.name}'s Business Plan")%>
<%# Business plan status %>
 <% if !@company.business_plan.waiting? && !@company.business_plan.verified? %>
    <p class="box unfinished"> Company business plan is not ready yet. </p>
<% end %> 

<br/>

<h3> Status of all the parts in the business plan: </h3>
<div class="bmcmain">
      
  

     <% part = @company.business_plan.plan_parts.find_by_title("Key Partners") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="keypartnersgreen">
             </div>
         <%else%>
             <div class="keypartnersred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                  <strong> <span style="position:relative;top:20%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
          
          
     <% part = @company.business_plan.plan_parts.find_by_title("Key Activities") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="keyactivitiesgreen">
             </div>
         <%else%>
             <div class="keyactivitiesred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>

          
     <% part = @company.business_plan.plan_parts.find_by_title("Key Resources") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="keyresourcesgreen">
             </div>
         <%else%>
             <div class="keyresourcesred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
  
          
     <% part = @company.business_plan.plan_parts.find_by_title("Value Proposition") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="valuepropositionsgreen">
             </div>
         <%else%>
             <div class="valuepropositionsred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Customer Relationships") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="customerrelationshipsgreen">
             </div>
         <%else%>
             <div class="customerrelationshipsred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:40%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
          
     <% part = @company.business_plan.plan_parts.find_by_title("Channels") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="channelsgreen">
             </div>
         <%else%>
             <div class="channelsred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>

  
     <% part = @company.business_plan.plan_parts.find_by_title("Customer Segments") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="customersegmentsgreen">
             </div>
         <%else%>
             <div class="customersegmentsred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Cost Structure") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="coststructuregreen">
             </div>
         <%else%>
             <div class="coststructurered">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
          

     <% part = @company.business_plan.plan_parts.find_by_title("Revenue Streams") %>
     <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="revenuestreamsgreen">
             </div>
         <%else%>
             <div class="revenuestreamsred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
          
          
      <% part = @company.business_plan.plan_parts.find_by_title("Reasoning") %>
       <% resp_user = @company.group.users.find_by_position(part.position)%>
         <%if part.isReady? %> 
             <div class="reasoninggreen">
             </div>
         <%else%>
             <div class="reasoningred">
                  <% if part.position != PlanPart.free && resp_user.name  %>
                     <strong>   <span style="position:relative;top:30%;"> <em>Assigned to <%= resp_user.name %></span></em></span></strong>
                 <% else %><em>(This part of can be completed by anyone from the board members.)</em>
                 <% end %>
              </div>
          <%end%>
                   
</div>

 <% if signed_in? && current_user.isOwner?(@company)%>
                      <%= link_to edit_business_plan_path(:id => @company.id), :class => "btn btn-info" do %>
                      <i class="icon-pencil icon-white"></i> Edit business plan
                      <% end %> <% unless @company.group.all_users_have_positions %><br/> <span style="font-size:12px;color:#980000;"> <em>(You can only edit business plan once all users have selected their positions in the company.)</em></span><% end %>
                   <% end %><br/><br/>
   
    

 
   

   






 
