<%= provide(:title, "#{@company.name}'s Business Plan")%>

<% if !@company.business_plan.waiting? && !@company.business_plan.verified? %>
 <p class="box unfinished"> Company business plan is not ready yet. </p>
  Status of parts:
  <% @company.business_plan.plan_parts.each do |part|%>
  <li> Status: <%= part.isReady? %> </li>
  <% end %>
<% else %>
<% if @company.business_plan.verified? %>
<h1>Business Plan</h1>
 <% else %>
<p class=" box waiting">Business plan is waiting for verification </p>
<%if signed_in? && current_user.isTeacher? %>
  <%= link_to "Accept this plan", verify_plan_path(:id => @company.id), :class => "btn btn-success"%>
<% end %>
<% end %>
 <% @company.business_plan.plan_parts.each do |part| %>
<h2><%= part.title %> </h2>
<p> <%=part.content %> </p>
<% end %>
<% end %>

<% if signed_in? && current_user.isOwner?(@company)%>
  <% if @company.business_plan.public?%>
  <p><i class="icon-eye-open"></i>The Business plan is currently visible to anyone</p>
  <%= link_to visibility_path(:id => @company.id), :class => "btn btn-primary" do%>
  <i class="icon-eye-close icon-white"></i>Set as private
  <% end %>
  <% else %>
  <p><i class="icon-eye-close"></i>The Business plan is currently visible only to your group and the teachers</p>
  <%= link_to visibility_path(:id => @company.id), :class => "btn btn-primary" do%>
  <i class="icon-eye-open icon-white"></i>Set as public
  <% end %>
  <% end %>
<% end %>