<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<div style="font-size:14px;line-height:20px;">

<%= t :revenue_generated %>  ($):<%=number_with_precision @company.revenue, :precision=>0 ,:delimiter=>" "  %> <br>
<%= t :profit_earned %>   ($):
<%if @company.profit >= 0%>
  <%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %>
<% else %>
  <%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %>
<% end %><br>

</div><br><br>