<div style="font-size:14px;line-height:20px;">

<%= t :revenue_generated %>  ($):<%=number_with_precision @company.revenue, :precision=>0 ,:delimiter=>" "  %> <br>
<%= t :profit_earned %>   ($):
<%if @company.profit >= 0%>
  <%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %>
<% else %>
  <%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %>
<% end %><br>

</div><br><br>