<div style="font-size:14px;line-height:20px;">
        <%=t :stat_sell_price %>:
        <%if @company.role.versions.size > 1 && @company.role.previous_version.sell_price %>
           <%= number_with_delimiter @company.role.previous_version.sell_price, :delimiter => " " %>
        <%else %>
           <%= t :stat_not_decided %>
        <%end %>
        <br>
        <%= t :stat_target_market %>:
         <%if @company.role.market %>
          <%= @company.role.market.name %>
         <% else %>
          <%= t :stat_market_not_decided %>
         <%end %><br>

        <% if signed_in? && current_user.isOwner?(@company)%>
        <%= t :stat_sales_made %>: <%= @company.role.sales_made %> <br>
        <% end %>
</div>
<br>
<br>