<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<br/><br/><br/>
<div class="row">
  <div class="span6 offset3">
  <%= form_tag update_company_profile_path, multipart: true  do %>

    <%= file_field_tag :image %>
  
      
    <%= label_tag :description, "Write a description about yourself" %>
    <%= text_area_tag "description", current_user.description %>

    <%= label_tag :about_us, "Write a description about your company" %>
    <%= text_area_tag "about_us", @company.about_us %>

    <%= label_tag :for_investors, "Why should investors choose your company?" %>
    <%= text_area_tag "for_investors", @company.for_investors %>

      <%= submit_tag "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
 </div>
</div>
