<%= provide(:title, "#{@company.name}'s public page")%>

<h2> Board </h2>
<ul>
<% User.positions.each do |pos| %>
  <li><% if @company.group.position(pos) %> <%= "#{Pos}: #{@company.group.position(pos).name}"  %> <% else %> <%= "#{pos}: unassigned" %> <% end %></li>
<% end %></ul>

<h2> Members </h2>
<ul>
<%  @company.group.users.each do |u| %>
  <li> <%=  u.name %> <br/>
    <p> <% if u.description %> <%= u.description %> <% else %> No description yet <% end %> </p> </li>
  <% end %> </ul>

<h2> About the Company </h2>
<p><%= @company.about_us %> </p>

<h2> For investors </h2>
<p> <%= @company.for_investors %> </p>