<%= provide(:title, "#{@company.name}'s public page")%>
 <h3> Welcome to <%= @company.name%>'s Public Page! </h3>
         <div id="header" style="background-color:#FFD700;">
           <h1> Company Information </h1>
         </div>

         <p id="about_us" style="font-size:16px;"> <strong> About <%= @company.name%>: </strong> <span style="font-size:16px;"> <%= @company.about_us %> </span></p>
         <% if signed_in? && current_user.isOwner?(@company) %>  <%= link_to "Edit", edit_company_profile_path(@company) %>   <% end %>       
       
     

<%# @company.group.users.each do |u| %>
<%#  <li> <%=  u.name %> 
<%#<% if signed_in? && current_user?(u) %>
<%# l <%= link_to "Edit", edit_company_profile_path(@company) %>   
<%#<% end %>  
<%#<br/>
 <%#   <p> <% if u.description %> 
<%#<%= u.description %> 
<%#<% else %> 
<%#No description yet <% end %> 
<%#</p> </li>
 <%# <% end %> 
<%#</ul>

<%#<h2> For investors </h2>
<%#<p> <%= @company.for_investors %> 
<%#</p>
<%#<% if signed_in? && current_user.isOwner?(@company) %> 
<%# <%= link_to "Edit", edit_company_profile_path(@company) %> 
<%#  <% end %>   
        
        
        
        
        
        
        
    <h2> Board </h2>    
        
        <div id="member">
                <div class="roundtable">
                  <%= image_tag("boardtable.png") %>
                
              
                <div class="CEOmember">
                    <% if @company.group.position(User.positions[0]) %> 
                      <% if @company.group.position(User.positions[0]).description %> 
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[0]}: #{@company.group.position(User.positions[0]).name}", :content => "#{@company.group.position(User.positions[0]).description}"})%>
                     <% else %>
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[0]}: #{@company.group.position(User.positions[0]).name}", :content => "#{@company.group.position(User.positions[0]).name} have no description yet"}) %>
                     <% end %>
                  <% else %>
                  <%= image_tag("grey.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[0]}: unassigned", :content => "#{@company.name} don't have a #{User.positions[0]}"})%>
                <% end %>
                </div>
                
                <div class="CFOmember">
                  <% if @company.group.position(User.positions[1]) %> 
                    <% if @company.group.position(User.positions[1]).description %> 
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[1]}: #{@company.group.position(User.positions[1]).name}", :content => "#{@company.group.position(User.positions[1]).description}"})%>
                     <% else %>
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[1]}: #{@company.group.position(User.positions[1]).name}", :content => "#{@company.group.position(User.positions[1]).name} have no description yet"}) %>
                     <% end %> 
                  <% else %>
                  <%= image_tag("grey.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[1]}: unassigned", :content => "#{@company.name} don't have a #{User.positions[1]}"})%>
                <% end %>
                </div>
                  
                <div class="VPMmember">
                   <% if @company.group.position(User.positions[2]) %> 
                     <% if @company.group.position(User.positions[2]).description %> 
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[2]}: #{@company.group.position(User.positions[2]).name}", :content => "#{@company.group.position(User.positions[2]).description}"})%>
                     <% else %>
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[2]}: #{@company.group.position(User.positions[2]).name}", :content => "#{@company.group.position(User.positions[2]).name} have no description yet"}) %>
                     <% end %> 
                    <% else %>
                  <%= image_tag("grey.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[2]}: unassigned", :content => "#{@company.name} don't have a #{User.positions[2]}"})%>
                <% end %>
                </div>
                  
                <div class="COOmember">
                    <% if @company.group.position(User.positions[3]) %> 
                     <% if @company.group.position(User.positions[3]).description %> 
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[3]}: #{@company.group.position(User.positions[3]).name}", :content => "#{@company.group.position(User.positions[3]).description}"})%>
                     <% else %>
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[3]}: #{@company.group.position(User.positions[3]).name}", :content => "#{@company.group.position(User.positions[3]).name} have no description yet"}) %>
                     <% end %>  
                    <% else %>
                  <%= image_tag("grey.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[3]}: unassigned", :content => "#{@company.name} don't have a #{User.positions[3]}"})%>
                <% end %>
                </div>
                  
                <div class="VPSmember">
                   <% if @company.group.position(User.positions[4]) %> 
                     <% if @company.group.position(User.positions[4]).description %> 
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[4]}: #{@company.group.position(User.positions[4]).name}", :content => "#{@company.group.position(User.positions[4]).description}"})%>
                     <% else %>
                      <%= image_tag("blue.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[4]}: #{@company.group.position(User.positions[4]).name}", :content => "#{@company.group.position(User.positions[4]).name} have no description yet"}) %>
                     <% end %>              
                  <% else %>
                  <%= image_tag("grey.png" ,  :class => "bluesign" , :data => {:title => "#{User.positions[4]}: unassigned", :content => "#{@company.name} don't have a #{User.positions[4]}"})%>
                <% end %>
                </div>
              </div>
        
        
   


