<%= provide(:title, "#{@company.name}'s public page")%>
        <div style="height:130px;">
          <div class="span2" style="padding-left: 20px;">
              <a href="#" id="test4"> 
              <% unless @company.image_url.nil?  %>
              <%= image_tag @company.image_url(:thumb).to_s %>
              <% else %>
              <%= image_tag("200x200.png") %>
              
            
<!--  <a class="btn btn-mini" href="#" id="test4"><i class="icon-edit"></i> Edit</a> -->
        

              <% end %>   </a>



              <div id="ticker3" class="hide">
                 <%= form_tag update_company_profile_path,  multipart: true do %>
                 
                  <img class="showmeimagename" alt="No image" /><br><br>
                  <label for="inputFilea" class="col-sm-3" style="padding-left: 0px;">
                    <a class="btn btn-info">Choose image</a></label>
                   
                 <%= file_field_tag :image, :style=>"display: none;",:type=>"file",:id=>"inputFilea",:onchange=>"readURL(this);" %>
                
                <br>
                 <%= submit_tag "Save", class: "btn btn-primary" %>
                 <% end %>
               </div>
          </div>
          
          <%#= Company Header %> 
          <div class="span8 lead">
            <span style="font-size:20px;"><%= @company.name%></span> <br><div style="font-size:14px;line-height:18px;"> <%= @company.about_us %> </div>
            <% if signed_in? && current_user.isOwner?(@company) %>  
               <a class="btn btn-mini" href="#" id="test3"><i class="icon-edit"></i> Edit</a>
               
               <div id="ticker2" class="show">
                 <%= form_tag update_company_profile_path do %>
                 <%= label_tag :about_us, "Write a description about your company" , :style => "color:#C84C4D;" %>
                 <%= text_area_tag "about_us", @company.about_us %>
                 <%= submit_tag "Save", class: "btn btn-primary" %>
                 <% end %>
               </div>
            <% end %>   
            <%= render 'companies/rfp_button' %>
          </div>
        </div>
      <div style="clear: both;"></div><br/>
      <div class="span10 lead">

    
       
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a id="collapsehello" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
             Show network structure
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              
               <%#= link_to "Show network structure", network_path(@company.id) %> 
            <%= render 'network_structure' %>
            </div>
          </div>
        </div>
      </div>


      </div>


<div style="clear: both;"></div>
      <%#= Board members %> 
        <div class="span4 lead" style="line-height:10px;">
           <div style="padding:8px 8px 8px 8px;font-size:20px;background-color:#1693A5;color:#ffffff;">
            Board Members 
           </div> <br/> <br/>
          <%#= If not signed in won't show the member list %> 
          <% if signed_in? %>
             <%= render 'companies/contact_information' %>
          <% else %>
             <span style="padding-left:5px;font-size:12px;" >  Sign in to view the members</span> 
          <% end %> 
      </div> 

      <div class="span7 lead" style="line-height:10px;padding-left:5px;">
        <%#= Basic information about the company %> 
        <span class="span3">
          <div style="padding:8px 8px 8px 8px;font-size:20px;background-color:#1693A5;color:#ffffff;">
            Basic information 
          </div> <br/> <br/>
          <%= render 'basic_info' %>
        </span>

        <%#= Information about the company %> 
        <span class="span3">
            <% if @company.is_customer_facing? %>
               <div style="padding:8px 8px 8px 8px;font-size:20px;background-color:#1693A5;color:#ffffff;">
                Market 
               </div> <br/> <br/> 
                <%= render 'customer_facing_stats' %> 
            <% end %>
            <div style="padding:8px 8px 8px 8px;font-size:20px;background-color:#1693A5;color:#ffffff;">  
              Business performance 
            </div> <br/> <br/> 
            <%= render 'business_performance' %>
        </span>
      </div> 

      <div style="clear: both;"></div>
 
<div class="span10 lead" style="margin-bottom:0px;padding:4px 4px 4px 4px;font-size:20px;background-color:#003E5F;color:#ffffff;">  For investors </div> 
<div style="clear: both;"></div>
<div class="span10 lead" style="line-height:18px;" >
<span style="font-size:14px;"> <%= @company.for_investors %> </span>
<% if signed_in? && current_user.isOwner?(@company) %>  
<a class="btn btn-mini" href="#" id="test2"><i class="icon-edit"></i> Edit</a><br/>
  <div id="ticker1" class="show">

  <%= form_tag update_company_profile_path  do %>

    <%= label_tag :for_investors, "Why should investors choose your company?" , :style => "color:#C84C4D;"%>
    <%= text_area_tag "for_investors", @company.for_investors %>

      <%= submit_tag "Save", class: "btn btn-primary" %>
    <% end %>
</div>
 <% end %>   
 </div> 
   
<div id="footer" style="clear:both;text-align:center;">
          </div>

