<%= provide(:title, "#{@company.name}'s public page")%>
 <h3> This is the Public page of <%= @company.name%> </h3>
        <div style="height:130px;">
          <div class="span2" style="padding-left: 20px;">
              <% unless @company.image_url.nil?  %>
              <%= image_tag @company.image_url(:thumb).to_s %>
              <% else %>
               <%= image_tag("briefcasesmallalert.png" , :style=> "width:100px;height:100px;") %>
              <% end %>
          </div>
          <div class="span8">
            <span class="lead" style="font-size:20px;"><%= @company.name%></span> <br><span style="font-size:16px;"> <%= @company.about_us %> </span>
            <% if signed_in? && current_user.isOwner?(@company) %>  
           <%= link_to "Edit", edit_company_profile_path(@company), :class=> "btn btn-info" %>   
         <% end %>
         <%= render 'companies/rfp_button' %>
          </div>

        </div>
        <div style="clear: both;"></div>
         <%#= link_to "Show network structure", network_path(@company.id) %> 
         
     <br/>

<div class="span3" style="padding-left: 20px;" >
        <h3> Board Members</h3>
        <% if signed_in? %>
   <%= render 'companies/contact_information' %>
   <% end %>
       </div> <div style="clear: both;"></div>
 <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;">
           <div id="menu_1" style="border-right: #FFD700 3px solid;">
<h2> Board Members of <%= @company.name%> </h2>
    <div id="member">
     </div>
  </div>
   
</div>

<div id="content" style="height:100%;width:45%;float:right;">

  <table class="tableizer-table1">
        <%= render 'basic_info' %>
     <% if @company.is_customer_facing? %>
    <tr class="tableizer-firstrow"> <th style="text-align:left;padding-left:6px;"> Market </th> <th> &nbsp; </th></tr>
        <%= render 'companies/customer_facing_stats' %> <% end %>
    <tr class="tableizer-firstrow"> <th style="text-align:left;padding-left:6px;"> Business performance </th> <th> &nbsp; </th></tr>
        <%= render 'business_performance' %>
</table>
  <br/>
        

<h2> For investors </h2><br/>
<p> <%= @company.for_investors %> </p>
<% if signed_in? && current_user.isOwner?(@company) %>  <%= link_to "Edit", edit_company_profile_path(@company), :class=> "btn btn-info" %>   <% end %>   
</div>

        
   
<div id="footer" style="clear:both;text-align:center;">
          </div>

