
<h1><%= @news.headline  %></h1>


<div style="width:40%;float:left;height:300px;">
<% if @news.image_url %>
<%= image_tag @news.image_url, :id => "news_image" %>
<% else %>
    <%= image_tag "News.jpg", :id => "news_image" %>
<% end %>
</div>

<div style="width:58%;float:right;;overflow:auto; word-wrap: break-word;">
<div><%=  simple_format(@news.content) %></div>
 </div>

<p><div style="padding-top:10px;visibility:hidden;">hello<br/> hello</div>
<div style="width:60%;" class="pull-left"><span style="font-size:28px;"><strong>MARKET NEWS<b/><br/></strong></span>
  <%= simple_format(@news.market_content)%></div></p>



<input type="hidden" name="news_id" value="<%= @news.id %>" id="news_id"/>
 <div class="clear"></div>
 <% if signed_in? && current_user.teacher %>
  <%= link_to @news, method: :delete, confirm: "You sure?", :class => "btn btn-danger" do %> Remove news  <% end %>
  <% end %>
