

<div class="span7 right lead" style="overflow:auto; word-wrap: break-word;font-size:14px;">
<p style="font-size:20px;"><%= @news.headline  %></p>
<%=  simple_format(@news.content) %>
 </div>


<div class="span3 left lead" style="text-align:justify;font-size:12px;">
<% if @news.image_url %>
<%= image_tag @news.image_url, :id => "news_image" %>
<% else %>
    <%= image_tag "News.jpg", :id => "news_image" %>
<% end %>
 <br> <hr>
<p style="font-size:24px;"><%= t :news_market %></p>
  <%= simple_format(@news.market_content)%></div>
 <div class="clear"></div>


<input type="hidden" name="news_id" value="<%= @news.id %>" id="news_id"/>
 <div class="clear"></div>
 <% if signed_in? && current_user.teacher %>
  <%= link_to @news, method: :delete, confirm: "You sure?", :class => "btn btn-danger" do %> <%= t :news_remove %> <% end %>
  <% end %>
