
<h1><%= @news.headline  %></h1>

<div style="width:40%;float:left;height:300px;">
<% if @news.picture_url && !@news.picture_url.blank? %>
<%= image_tag @news.picture_url, :id => "news_image" %>
<% else %>
    <%= image_tag "placeholder.jpg", :id => "news_image" %>
<% end %>
</div>

<div style="width:58%;float:right;height:300px;overflow:scroll;">
<div><%=  simple_format(@news.content) %></div>
 </div>

<p ><%= simple_format(@news.market_content)%></p>

<input type="hidden" name="news_id" value="<%= @news.id %>" id="news_id"/>

