<table class="tableizer-table">
<tr class="tableizer-firstrow">
  <th> <%= report.year %></th></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"> <%= report.customer_facing_role.company.name %></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"> <%= report.sales %></td></tr> 
  <tr><td>&nbsp;</td></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"><%= number_with_precision  report.customer_revenue, :precision => 0, :delimiter => "," %></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"><%= number_with_precision   report.net_cost, :precision => 0, :delimiter => "," %></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"><%= number_with_precision   report.relative_net_cost, :precision => 0, :delimiter => "," %></td></tr>
  <tr><td>&nbsp;</td></tr>
  <% if report.satisfaction %>
  <tr><td style="background-color:yellow;height:0.5cm;"><%= (report.satisfaction * 100).to_i %> %</td></tr>
  <% else %>
  <tr><td style="background-color:yellow;height:0.5cm;"> - </td></tr>
  <% end %>
  <tr><td>&nbsp;</td></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"><%= report.max_launch %></td></tr>
  <tr><td>&nbsp;</td></tr>
  <tr><td style="background-color:#00CCFF;height:0.5cm;"><%= report.performed_launch %></td></tr> 
</table>



