<% if false #Commenting in erb is hard %>

<table class="tableizer-table">
<tr class="tableizer-firstrow">
  <th> <%= report.year %></th></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"> <%= report.leader %></td></tr>
   <tr><td style="background-color:yellow;height:0.5cm;"> <%= report.sales %></td></tr> 
  <tr><td style="background-color:yellow;height:0.5cm;"><%= number_with_precision  report.customer_revenue, :precision => 0, :delimiter => "," %></td></tr>
    <tr><td style="background-color:yellow;height:0.5cm;"><%= number_with_precision   report.relative_net_cost, :precision => 0, :delimiter => "," %></td></tr>
   <% if report.satisfaction %>
  <tr><td style="background-color:yellow;height:0.5cm;"><%= (report.satisfaction * 100).to_i %> %</td></tr>
  <% else %>
  <tr><td style="background-color:yellow;height:0.5cm;"> - </td></tr>
  <% end %>
   <tr><td style="background-color:yellow;height:0.5cm;"><%= report.max_launch %></td></tr>
  <tr><td style="background-color:#00CCFF;height:0.5cm;"><%= report.performed_launch %></td></tr>
  <tr><td style="background-color:yellow;height:0.5cm;"><ul><% report.companies.each do |c| %> <li><%= c.name %></li> <% end %> </ul>  </td></tr>
</table>
<% end %>




<table class="tableizer-table">
<tr class="tableizer-firstrow">
  <th style="background-color:#000000;"> Time</th></tr>
  <tr><td> PLACEHOLDER</td></tr>
  <tr><td> PLACEHOLDER</td></tr>

  <tr><td> PLACEHOLDER</td></tr>

  <tr><td>PLACEHOLDER</td></tr>

  <tr><td>PLACEHOLDER</td></tr>

  <% if true %>
  <tr><td>PLACEHOLDER</td></tr>
  <% else %>
  <tr><td> PLACEHOLDER </td></tr>
  <% end %>
  <tr><td>PLACEHOLDER</td></tr>
  <tr><td style="background-color:#00CCFF;">PLACEHOLDER</td></tr>

</table>


