<table class="tableizer-table">
<tr class="tableizer-firstrow">
  <!-- year -->
  <td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;"><%= report.year %></td>
  
  
  <!-- Network lead by -->
  <tr><td style="height:0.5cm;"> <%= report.leader %></td></tr>
  <!-- Maximum number of launches -->
  <tr><td style="height:0.5cm;"><%= report.max_launch %></td></tr> 
  <!-- Actual launches/ Total number of launches delivered -->
  <tr><td style="height:0.5cm;"><%= report.performed_launch %></td></tr>
  <!-- Launch efficiency (%) -->
   <% if report.max_launch && report.max_launch > 0 && report.performed_launch %>
  <tr><td style="height:0.5cm;"><%= (report.performed_launch.to_f / report.max_launch.to_f * 100).round %> % </td></tr>
  <% else %>
  <tr><td style="height:0.5cm;">-</td></tr>
  <% end %>
  <!-- Customers served -->
  <tr><td style="height:0.5cm;"><%= report.sales %></td></tr>
  <!-- Utilization (%) -->
   <% if report.max_customers && report.max_customers > 0 %>
  <tr><td style="height:0.5cm;"><%= (report.sales.to_f / report.max_customers.to_f * 100).round %> % </td></tr>
  <% else %>
  <tr><td style="height:0.5cm;">-</td></tr>
  <% end %>


  <tr><td style="height:0.5cm;"><%= number_with_precision report.customer_revenue, :precision => 0, :delimiter => " " %></td></tr>
  
   <!-- Network cost -->
  <tr><td style="height:0.5cm;"><%= number_with_precision report.net_cost, :precision => 0, :delimiter => " " %></td></tr>

  <!-- Network profit -->
  <tr><td>&nbsp;</td></tr>
  
  <% if report.satisfaction %>
  <tr><td style="height:0.5cm;"><%= (report.satisfaction * 100).to_i %> %</td></tr>
  <% else %>
  <tr><td style="height:0.5cm;"> - </td></tr>
  <% end %>
  


  
   <tr><td>N.A.</td></tr>

</table>


