<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<table class="tableizer-table">
<tr class="tableizer-firstrow">
  <!-- year -->
  <td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;"><%= report.year %></td>
  
  
  <!-- Network lead by -->
  <tr><td style="height:0.5cm;"> <%= report.leader %></td></tr>
  <!-- Maximum number of launches -->
  <tr><td style="height:0.5cm;"><%= report.max_launch %></td></tr> 
  <!-- Actual launches/ Total number of launches delivered -->
  <tr><td style="height:0.5cm;"><%= report.performed_launch %></td></tr>
  <!-- Launch efficiency (%) -->
   <% if report.max_launch && report.max_launch > 0 && report.performed_launch %>
  <tr><td style="height:0.5cm;"><%= (report.performed_launch.to_f / report.max_launch.to_f * 100).round %> % </td></tr>
  <% else %>
  <tr><td style="height:0.5cm;">-</td></tr>
  <% end %>
  <!-- Customers served -->
  <tr><td style="height:0.5cm;"><%= report.sales %></td></tr>
  <!-- Utilization (%) -->
   <% if report.max_customers && report.max_customers > 0 %>
  <tr><td style="height:0.5cm;"><%= (report.sales.to_f / report.max_customers.to_f * 100).round %> % </td></tr>
  <% else %>
  <tr><td style="height:0.5cm;">-</td></tr>
  <% end %>


  <tr><td style="height:0.5cm;"><%= number_with_precision report.customer_revenue, :precision => 0, :delimiter => " " %></td></tr>
  
   <!-- Network cost -->
  <tr><td style="height:0.5cm;"><%= number_with_precision report.net_cost, :precision => 0, :delimiter => " " %></td></tr>

  <!-- Network profit -->
  <% if report.customer_revenue && report.net_cost %>

    <% if report.customer_revenue - report.net_cost >= 0 %>
      <tr><td style="background-color:#00FF33"><%= number_with_precision report.customer_revenue - report.net_cost, :precision => 0, :delimiter => " " %> </td></tr>
    <% else %>
      <tr><td style="background-color:#FF0000"><%= number_with_precision report.customer_revenue - report.net_cost, :precision => 0, :delimiter => " " %> </td></tr>
    <% end %>
  <% else %>
    <tr><td> - </td></tr>
  <% end %>
  
  <% if report.satisfaction %>
  <tr><td style="height:0.5cm;"><%= (report.satisfaction * 100).to_i %> %</td></tr>
  <% else %>
  <tr><td style="height:0.5cm;"> - </td></tr>
  <% end %>
  


  
   <tr><td><%= link_to "Show companies", network_results_path(@company, report.year)  %> </td></tr>

</table>


