<h2>Your network statistics</h2>

<span style="font-size:18px;line-height:130%;">
Sales Made:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= report.sales %> <br/></span>
Revenue from customers:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= report.customer_revenue %> <br/></span>
Customer satisfaction:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= report.satisfaction %><br/></span>
Promised Level:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= report.promised_level %> <br/></span>
Realized level:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= report.realized_level %> <br/></span>
</span>