<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, "Year #{@report.year} finance report") %>



<br/><br/><br/><br/>
<% @report.company.network_reports.each do |r|  %>
<%= link_to "Report #{r.year}", r  , :style=> "font-size:18px;font-family:serif;color:green;padding-left:20px;"%>
<% if r.id == @report.id %> 
<i class="icon-chevron-left"></i><i class="icon-chevron-left"></i> 
<% end %>
<% end %><br/><br/><br/>



<div style="font-size:30px;font-family:serif;">
  <strong>The Report for Fiscal year <%= @report.year %></strong>
</div><br/><br/>


<span style="font-size:18px;line-height:130%;"> 
Sales Made:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= @report.sales %> <br/></span>
Revenue from customers:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= @report.customer_revenue %> <br/></span>
Customer satisfaction:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= @report.satisfaction %><br/></span>
Promised Level:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= @report.promised_level %> <br/></span>
Realized level:<span style="font-size:18px;color:#00CCFF;line-height:110%;"> <%= @report.realized_level %> <br/></span>
</span>
