<div class="showmarkettext">
<h5> <%=effect.name %> </h5><br/><br/>
  <p>Description:  <%= effect.description%> <br/>
     Change in preferred service level:  <%= effect.level_change%> <br/>
     Change in preferred service type: <%=effect.type_change%> <br/>
     Change in Market value: <%=  effect.value_change %> % <br/>
     Change in Price fluctuation: <%= effect.fluctuation_change %> % </p>
</div>