<%= provide(:title, 'Edit Variables') %>

<h1>Edit Game Variables</h1>

      <div class="alpha60">
        <%= form_for(@game) do |f| %>
        <% render 'shared/error_messages', :object => f.object %>

        <h3> Business Canvas Grade effects </h3>

        <table class="bonus_table">
          <tr>
            <th><label for="game[bonus_hash[0]]" class="white_text">Grade 0</label></th>
            <th> <%= f.label :bonus_hash[1], "Grade 1", :class => "white_text"%></th>
            <th> <%= f.label :bonus_hash[2], "Grade 2", :class => "white_text" %></th>
          </tr>
          <tr>
            <td><input type="text" name="game[bonus_hash[0]]" value="<%=@game.bonus_hash["0"]%>"  /></td>
            <td><input type="text" name="game[bonus_hash[1]]" value="<%=@game.bonus_hash["1"]%>" /></td>
            <td><input type="text" name="game[bonus_hash[2]]" value="<%=@game.bonus_hash["2"]%>" /></td>
          </tr>
          <tr>
            <th>  <%= f.label :bonus_hash[3], "Grade 3", :class => "white_text" %> </th>
            <th> <%= f.label :bonus_hash[4], "Grade 4", :class => "white_text" %></th>
            <th> <%= f.label :bonus_hash[5], "Grade 5", :class => "white_text" %></th>
          </tr>
          <tr>
            <td><input type="text" name="game[bonus_hash[3]]" value="<%=@game.bonus_hash["3"]%>" /></td>
            <td><input type="text" name="game[bonus_hash[4]]" value="<%=@game.bonus_hash["4"]%>" /></td>
            <td><input type="text" name="game[bonus_hash[5]]" value="<%=@game.bonus_hash["5"]%>" /></td>
          </tr>
        </table>


        <h3 style="text-align:center;font-size:30px;">General</h3>
    <div style="padding-top:3px;">
   <div style="padding: 5px">
<input type="checkbox" name="absolute" id="absolute" value="absolute"> <span class="white_text" style="font-size:16px;vertical-align: sub;">  Absolute</span>
      <i class="icon-info-sign icon-white"
                       data-title="Instruction"
                       data-content="If the absolute checkbox is checked, the absolute value in the field will be added to all variables matching that field. If is not checked, the value is handled as percentage added to the fields.">
                      </i>  </div>          <br/> <br/>
    <table class="tableizer-table general_table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th style="border:2px white solid;">Budget Space Hop</th>
                      <th style="border:2px white solid;" >Luxury Space Hop</th>
                      <th style="border:2px white solid;"> Budget Space Station Visit</th>
                      <th style="border:2px white solid;">Luxury Space Station Visit</th></tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_min, "Min", :class => "title_label" %></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_min budget_hop" style="width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_min luxury_hop" style="width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_min budget_cruise" style="width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_min luxury_cruise" style="width:140px;"></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_max, "Max", :class => "title_label" %></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_max budget_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_max luxury_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label fixed_max budget_cruise" style="max-width:140px;"></td>
           <td style="text-align:right;"> <input type="text" class="field_label fixed_max luxury_cruise" style="max-width:140px;"></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_cap, "Cap", :class => "title_label" %></td>
           <td style="text-align:right;"><input type="text" class="field_label cap budget_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label cap luxury_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label cap budget_cruise" style="max-width:140px;"></td>
           <td style="text-align:right;"> <input type="text" class="field_label cap luxury_cruise" style="max-width:140px;"></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_var_min, "Var Min", :class => "title_label" %> </td>
           <td style="text-align:right;"><input type="text" class="field_label var_min budget_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label var_min luxury_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label var_min budget_cruise" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label var_min luxury_cruise" style="max-width:140px;"></td>
       </tr>
      <tr><td style="text-align:left;font-size:12px;"> <%= f.label :low_budget_var_max, "Var Max", :class => "title_label" %> </td>
           <td style="text-align:right;"><input type="text" class="field_label var_max budget_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label var_max luxury_hop" style="max-width:140px;"></td>
           <td style="text-align:right;"><input type="text" class="field_label var_max budget_cruise" style="max-width:140px;"></td>
           <td style="text-align:right;"> <input type="text" class="field_label var_max luxury_cruise" style="max-width:140px;"></td>
       </tr>

    </table><br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
      <br/> <br/> <br/> <span class="general btn">Change </span>
        <span id="show_variables" class="btn"> Show all variables </span>
        <span id="show_simulation" class="btn"> Test </span>
    </div>


        <div id="game_variables">
    <h3 style="text-align:center;font-size:30px;">Customer</h3>
    <div style="padding-top:3px;"> </div>
    <table class="tableizer-table customer_table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th style="border:2px white solid;">Budget Space Hop</th>
                      <th style="border:2px white solid;" >Luxury Space Hop</th>
                      <th style="border:2px white solid;"> Budget Space Station Visit</th>
                      <th style="border:2px white solid;">Luxury Space Station Visit</th></tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_min, "Min", :class => "title_label" %></td>
           <td style="text-align:right;"> <span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_budget_min_customer if @versions %></span> <%= f.text_field :low_budget_min_customer,:class => "field_label fixed_min budget_hop" %></td>
           <td style="text-align:right;"> <span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_luxury_min_customer if @versions %></span> <%= f.text_field :low_luxury_min_customer,:class => "field_label fixed_min luxury_hop" %></td>
           <td style="text-align:right;"> <span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_budget_min_customer if @versions %></span> <%= f.text_field :high_budget_min_customer,:class => "field_label fixed_min budget_cruise" %></td>
           <td style="text-align:right;"> <span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_min_customer if @versions %></span> <%= f.text_field :high_luxury_min_customer,:class => "field_label fixed_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser customer_table fixed_min btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_max, "Max", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_budget_max_customer if @versions %></span>  <%= f.text_field :low_budget_max_customer,:class => "field_label fixed_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_luxury_max_customer if @versions %></span> <%= f.text_field :low_luxury_max_customer,:class => "field_label fixed_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_budget_max_customer if @versions %></span> <%= f.text_field :high_budget_max_customer,:class => "field_label fixed_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_max_customer if @versions %></span>  <%= f.text_field :high_luxury_max_customer,:class => "field_label fixed_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser customer_table fixed_max btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_cap, "Cap", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_budget_cap_customer if @versions %></span>    <%= f.text_field :low_budget_cap_customer,:class => "field_label cap budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_luxury_cap_customer if @versions %></span>  <%= f.text_field :low_luxury_cap_customer,:class => "field_label cap luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_budget_cap_customer if @versions %></span>  <%= f.text_field :high_budget_cap_customer, :class => "field_label cap budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_cap_customer if @versions %></span>  <%= f.text_field :high_luxury_cap_customer, :class => "field_label cap luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser customer_table cap btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_var_min, "Var Min", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_budget_var_min_customer if @versions %></span> <%= f.text_field :low_budget_var_min_customer, :class => "field_label var_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_luxury_var_min_customer if @versions %></span>  <%= f.text_field :low_luxury_var_min_customer, :class => "field_label var_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_budget_var_min_customer if @versions %></span>  <%= f.text_field :high_budget_var_min_customer, :class => "field_label var_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_var_min_customer if @versions %></span> <%= f.text_field :high_luxury_var_min_customer, :class => "field_label var_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser customer_table var_min btn">Raise </span></td>
       </tr>
      <tr><td style="text-align:left;font-size:12px;"> <%= f.label :low_budget_var_max, "Var Max", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_budget_var_max_customer if @versions %></span> <%= f.text_field :low_budget_var_max_customer, :class => "field_label var_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_luxury_var_max_customer if @versions %></span>  <%= f.text_field :low_luxury_var_max_customer, :class => "field_label var_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_budget_var_max_customer if @versions %></span>  <%= f.text_field :high_budget_var_max_customer, :class => "field_label var_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_var_max_customer if @versions %></span> <%= f.text_field :high_luxury_var_max_customer, :class => "field_label var_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser customer_table var_max btn">Raise </span></td>
       </tr>

       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> </td>
           <td style="text-align:right;"> <span class="increaser customer_table budget_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser customer_table luxury_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser customer_table budget_cruise btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser customer_table luxury_cruise btn">Raise </span></td>
       </tr>
      
    </table>
       <span class="increaser increaser_all customer_table btn">Raise </span>
       

    
    
    <h3 style="text-align:center;font-size:30px;" class="clear">Operator</h3>
          <div style="padding-top:3px;"> </div>
    <table class="tableizer-table operator_table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th style="border:2px white solid;">Budget Space Hop</th>
                      <th style="border:2px white solid;" >Luxury Space Hop</th>
                      <th style="border:2px white solid;"> Budget Space Station Visit</th>
                      <th style="border:2px white solid;">Luxury Space Station Visit</th></tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_min, "Min", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_min_operator if @versions %></span> <%= f.text_field :low_budget_min_operator,:class => "field_label fixed_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_min_operator if @versions %></span> <%= f.text_field :low_luxury_min_operator,:class => "field_label fixed_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_min_operator if @versions %></span> <%= f.text_field :high_budget_min_operator,:class => "field_label fixed_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_min_operator if @versions %></span> <%= f.text_field :high_luxury_min_operator,:class => "field_label fixed_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser operator_table fixed_min btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_max, "Max", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_max_operator if @versions %></span>  <%= f.text_field :low_budget_max_operator,:class => "field_label fixed_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_max_operator if @versions %></span> <%= f.text_field :low_luxury_max_operator,:class => "field_label fixed_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_max_operator if @versions %></span> <%= f.text_field :high_budget_max_operator,:class => "field_label fixed_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_max_operator if @versions %></span>  <%= f.text_field :high_luxury_max_operator,:class => "field_label fixed_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser operator_table fixed_max btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_cap, "Cap", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_cap_operator if @versions %></span>    <%= f.text_field :low_budget_cap_operator,:class => "field_label cap budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_cap_operator if @versions %></span>  <%= f.text_field :low_luxury_cap_operator,:class => "field_label cap luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_cap_operator if @versions %></span>  <%= f.text_field :high_budget_cap_operator, :class => "field_label cap budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_cap_operator if @versions %></span>  <%= f.text_field :high_luxury_cap_operator, :class => "field_label cap luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser operator_table cap btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_var_min, "Var Min", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_var_min_operator if @versions %></span> <%= f.text_field :low_budget_var_min_operator, :class => "field_label var_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_var_min_operator if @versions %> </span> <%= f.text_field :low_luxury_var_min_operator, :class => "field_label var_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_var_min_operator if @versions %></span>  <%= f.text_field :high_budget_var_min_operator, :class => "field_label var_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_var_min_operator if @versions %></span> <%= f.text_field :high_luxury_var_min_operator, :class => "field_label var_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser operator_table var_min btn">Raise </span></td>
       </tr>
      <tr><td style="text-align:left;font-size:12px;"> <%= f.label :low_budget_var_max, "Var Max", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_var_max_operator if @versions %></span> <%= f.text_field :low_budget_var_max_operator, :class => "field_label var_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_var_max_operator if @versions %></span> <%= f.text_field :low_luxury_var_max_operator, :class => "field_label var_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_budget_var_max_operator if @versions %></span> <%= f.text_field :high_budget_var_max_operator, :class => "field_label var_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_var_max_operator if @versions %> </span> <%= f.text_field :high_luxury_var_max_operator, :class => "field_label var_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser operator_table var_max btn">Raise </span></td>
       </tr>

       <tr><td style="text-align:left;font-size:12px;"> </td>
           <td style="text-align:right;"> <span class="increaser operator_table budget_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser operator_table luxury_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser operator_table budget_cruise btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser operator_table luxury_cruise btn">Raise </span></td>
       </tr>
      
    </table> <span class="increaser increaser_all operator_table btn">Raise </span>

    <h3 style="text-align:center;font-size:30px;">Technology</h3>
          <div style="padding-top:3px;"> </div>
    <table class="tableizer-table tech_table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th style="border:2px white solid;">Budget Space Hop</th>
                      <th style="border:2px white solid;" >Luxury Space Hop</th>
                      <th style="border:2px white solid;"> Budget Space Station Visit</th>
                      <th style="border:2px white solid;">Luxury Space Station Visit</th></tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_min, "Min", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_min_tech if @versions %></span> <%= f.text_field :low_budget_min_tech,:class => "field_label fixed_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_min_tech if @versions %></span> <%= f.text_field :low_luxury_min_tech,:class => "field_label fixed_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_min_tech if @versions %></span> <%= f.text_field :high_budget_min_tech,:class => "field_label fixed_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_min_tech if @versions %></span> <%= f.text_field :high_luxury_min_tech,:class => "field_label fixed_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser tech_table fixed_min btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_max, "Max", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_max_tech if @versions %></span>  <%= f.text_field :low_budget_max_tech,:class => "field_label fixed_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_max_tech if @versions %></span> <%= f.text_field :low_luxury_max_tech,:class => "field_label fixed_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_max_tech if @versions %></span> <%= f.text_field :high_budget_max_tech,:class => "field_label fixed_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_max_tech if @versions %></span>  <%= f.text_field :high_luxury_max_tech,:class => "field_label fixed_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser tech_table fixed_max btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_cap, "Cap", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_budget_cap_tech if @versions %> </span>  <%= f.text_field :low_budget_cap_tech,:class => "field_label cap budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_cap_tech if @versions %></span>  <%= f.text_field :low_luxury_cap_tech,:class => "field_label cap luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_cap_tech if @versions %></span>  <%= f.text_field :high_budget_cap_tech, :class => "field_label cap budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_cap_tech if @versions %></span> <%= f.text_field :high_luxury_cap_tech, :class => "field_label cap luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser tech_table cap btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_var_min, "Var Min", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_var_min_tech if @versions %></span> <%= f.text_field :low_budget_var_min_tech, :class => "field_label  var_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_var_min_tech if @versions %></span>  <%= f.text_field :low_luxury_var_min_tech, :class => "field_label  var_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_var_min_tech if @versions %></span>  <%= f.text_field :high_budget_var_min_tech, :class => "field_label  var_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_var_min_tech if @versions %></span> <%= f.text_field :high_luxury_var_min_tech, :class => "field_label  var_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser tech_table var_min btn">Raise </span></td>
       </tr>
      <tr><td style="text-align:left;font-size:12px;"> <%= f.label :low_budget_var_max, "Var Max", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_var_max_tech if @versions %></span> <%= f.text_field :low_budget_var_max_tech, :class => "field_label var_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_var_max_tech if @versions %></span>  <%= f.text_field :low_luxury_var_max_tech, :class => "field_label var_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_var_max_tech if @versions %></span>  <%= f.text_field :high_budget_var_max_tech, :class => "field_label var_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_var_max_tech if @versions %></span> <%= f.text_field :high_luxury_var_max_tech, :class => "field_label var_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser tech_table var_max btn">Raise </span></td>
       </tr>

       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> </td>
           <td style="text-align:right;"> <span class="increaser tech_table budget_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser tech_table luxury_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser tech_table budget_cruise btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser tech_table luxury_cruise btn">Raise </span></td>
       </tr>
      
    </table><span class="increaser increaser_all tech_table btn">Raise </span>

    <h3 style="text-align:center;font-size:30px;">Supply</h3>
          <div style="padding-top:3px;"> </div>
    <table class="tableizer-table supply_table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th style="border:2px white solid;">Budget Space Hop</th>
                      <th style="border:2px white solid;" >Luxury Space Hop</th>
                      <th style="border:2px white solid;"> Budget Space Station Visit</th>
                      <th style="border:2px white solid;">Luxury Space Station Visit</th></tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_min, "Min", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_min_supply if @versions %></span> <%= f.text_field :low_budget_min_supply,:class => "field_label fixed_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_min_supply if @versions %></span> <%= f.text_field :low_luxury_min_supply,:class => "field_label fixed_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_min_supply if @versions %></span> <%= f.text_field :high_budget_min_supply,:class => "field_label fixed_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_min_supply if @versions %> </span> <%= f.text_field :high_luxury_min_supply,:class => "field_label fixed_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser supply_table fixed_min btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_max, "Max", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_max_supply if @versions %></span>  <%= f.text_field :low_budget_max_supply,:class => "field_label fixed_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_max_supply if @versions %></span> <%= f.text_field :low_luxury_max_supply,:class => "field_label fixed_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_max_supply if @versions %></span> <%= f.text_field :high_budget_max_supply,:class => "field_label fixed_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_max_supply if @versions %></span> <%= f.text_field :high_luxury_max_supply,:class => "field_label fixed_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser supply_table fixed_max btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"><%= f.label :low_budget_cap, "Cap", :class => "title_label" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_cap_supply if @versions %>  </span>  <%= f.text_field :low_budget_cap_supply,:class => "field_label cap budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.low_luxury_cap_supply if @versions %></span>  <%= f.text_field :low_luxury_cap_supply,:class => "field_label cap luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_cap_supply if @versions %> </span>  <%= f.text_field :high_budget_cap_supply, :class => "field_label cap budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"> <%= @game.versions.last.reify.high_luxury_cap_supply if @versions %></span>  <%= f.text_field :high_luxury_cap_supply, :class => "field_label cap luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser supply_table cap btn">Raise </span></td>
       </tr>
       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :low_budget_var_min, "Var Min", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_var_min_supply if @versions %></span>  <%= f.text_field :low_budget_var_min_supply, :class => "field_label var_min budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_var_min_supply if @versions %></span>   <%= f.text_field :low_luxury_var_min_supply, :class => "field_label var_min luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_var_min_supply if @versions %></span>  <%= f.text_field :high_budget_var_min_supply, :class => "field_label var_min budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_var_min_supply if @versions %></span> <%= f.text_field :high_luxury_var_min_supply, :class => "field_label var_min luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser supply_table var_min btn">Raise </span></td>
       </tr>
      <tr><td style="text-align:left;font-size:12px;"> <%= f.label :low_budget_var_max, "Var Max", :class => "title_label" %> </td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_budget_var_max_supply if @versions %></span> <%= f.text_field :low_budget_var_max_supply, :class => "field_label var_max budget_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.low_luxury_var_max_supply if @versions %></span>  <%= f.text_field :low_luxury_var_max_supply, :class => "field_label var_max luxury_hop" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_budget_var_max_supply if @versions %></span>  <%= f.text_field :high_budget_var_max_supply, :class => "field_label var_max budget_cruise" %></td>
           <td style="text-align:right;"><span style="color:white;" class="pull-left"><%= @game.versions.last.reify.high_luxury_var_max_supply if @versions %></span> <%= f.text_field :high_luxury_var_max_supply, :class => "field_label var_max luxury_cruise" %></td>
           <td style="text-align:right;"> <span class="increaser supply_table var_max btn">Raise </span></td>
       </tr>

       <tr><td style="text-align:left;font-size:12px;border-bottom:2px white solid;"> </td>
           <td style="text-align:right;"> <span class="increaser supply_table budget_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser supply_table luxury_hop btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser supply_table budget_cruise btn">Raise </span></td>
           <td style="text-align:right;"> <span class="increaser supply_table luxury_cruise btn">Raise </span></td>
       </tr>
      
    </table> <span class="increaser increaser_all supply_table btn">Raise </span>
          <br><br>

          

    <%= hidden_field_tag("edit", true) %>
        </div>
        
        
        
        
          <div class="createbuttonarea clear">
    <%= f.submit "Update", class: "btn btn-large btn-primary" %>
      <br><br>
  </div>
    <% end %>

        <div id="simulation">
          <div id="simulation_form" style="float:left;">
        <%= form_tag simulate_path, :remote => true,  :class => "simulation_form right" do %>

            <table class="bonus_table">

              <tr>
                <th> <%= label_tag 'test_market', "Select test market", :style => "color:white;"  %> </th>
                <th> <%= label_tag 'test_segment', "Select test segment", :style => "color:white;" %></th>
                <th> <%= label_tag 'customer_satisfaction', "Customer Satisfaction", :style => "color:white;"  %></th>
              </tr>
              <tr>
                <td>  <%= select_tag 'test_market', options_for_select(Market.all.collect{ |m| [m.name, m.id] }) %></td>
                <td> <%= select_tag('test_segment', options_from_collection_for_select(Company.segments, :first, :last)) %> </td>
                <td> <%= text_field_tag 'customer_satisfaction' %> </td>
                <td> <%= submit_tag "Test", :id => "submit_simulation" %> </td>
              </tr>
            </table>
            

            
        <% end %>
            <p id="simulation_status"></p>
        </div></div>
          <div class="clear"></div>
           </div>
          <div id="chart_div" style="width: 1000px; height: 1000px;"></div>
        <br/>
        <br/>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      
    </script>

        


        
         <div class="clear"></div>
     


