<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'Create test environment') %>

<h2> Create a test environment </h2>

<%= form_tag create_test_path do %>

<%= label_tag :network_amont, "#{t :g_network_amount}" %>
<%= select_tag(:network_amount, options_for_select([['1', 1], ['2', 2], ['3', 3]])) %>

<%= label_tag :user_amont, "#{t :g_user_amount}" %>
<%= select_tag(:user_amount, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]])) %>

<%= submit_tag "#{t :g_test_submit}" %>


<% end %>
