<% if @companies.empty? && signed_in? && current_user.teacher? %>
<%#   There are yet no companies in the game, create companies%><p1> <%= link_to "here", new_company_path %> </p1>
  <% else %>
 
  <div class="gender_middle_background round">

    <% @types.each do |t| %>

    <p class="lead" style="font-size:18px;color:#ffffff;line-height:10px;border-radius:10px;background-color:#1F8B99;padding:10px 5px 10px 15px;"> <%= t %> </p>
    <% @companies[t].each do |company| %>
       <% if signed_in? && current_user.teacher? %>
        <%= link_to company,:class=> "btn btncompany" do %>
        <%= company.name %> <br/><br/> <%= render 'plan_status', :company => company %><% end %>
        <% elsif signed_in? && !current_user.teacher? %>
        <%= link_to company,:class=> "btn", :style=> "width:180px;padding-top:20px;padding-bottom:20px;" do %>
       <%= render 'user_plan_status', :company => company %> <%= company.name %> 
        <% end %>
    <% end %><% end %><br/><br/><br/>

     
   
      
      <%  end %><!-- <p style="color:white;text-align:right;font-size:10px;">SS2/WK2 on final approach. (Jeff Foust's/Flickr) </p> -->
  </div> 
<%  end %>

