<%= render 'sidebar' %> 

 <% if @companies.empty? && current_user.isTeacher? %>
  <p1> There are yet no companies in the game, create companies <%= link_to "here", new_company_path %> </p1>
  <% else %>
  <div id="companies">
  <div id="ads" class="gender_solid_background round"> 
  <div class="ads_for_single_category gender_middle_background round">
     <h2>Operator</h2>  
      <ul><% @operator_companies.each do |r| %>
        <li><p><%= link_to r.company.name, r.company %> </p></li> <%  end %>
      </ul>
      <h2>Marketing</h2>
        <ul><% @customer_companies.each do |r| %>
        <li><p> <%= link_to r.company.name, r.company %> </p></li> <%  end %>
      </ul>
      <h2>Technology</h2>
        <ul><% @tech_companies.each do |r| %>
        <li><p><% unless r.has_contract? %> <p> <%= link_to r.company.name, r.company %> </p></li> <%  end %>
      </ul>
      <h2>Supply</h2>
        <ul><% @supply_companies.each do |r| %>
        <li><p> <% unless r.has_contract? %>  <%= link_to r.company.name, r.company %> <% else %> <%=r.company.name%> (Already made a contract with someone)</p></li> <%  end %>
      </ul>
      <%  end %><%  end %>
 </div> </div>
 </div><%  end %>

