 <div id="<%= "rfp#{rfp.id}body"  %>"  class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">

<%= link_to "View the rfp", rfp  %>

<% if !rfp.bids.empty? %>
<ul>
 <span class="left"> <%= rfp.bids.first.sender.name %>  </span> <span class="right"> <%= rfp.bids.first.receiver.name %>  </span> <br/>
                    <% rfp.bids.each do |bid| %>

                    <% if bid.sender == rfp.bids.first.sender %>
                  <a href="<%= bid_path(bid)  %>" class="left bid-box <%=bid.status_to_s.downcase %>">
                    <% else %>
                        <a href="<%= bid_path(bid)  %>" class="right bid-box <%=bid.status_to_s.downcase %>">
                    <% end %>
                      <p> <%= bid.message %> </p>
                      <p> Offer: <%= bid.offer %> </p>
                      <p> Price per launch: <%= bid.amount %> </p>
                      </a>
                        <div class="clear"></div>
                        <% end %>
</ul>
<% end %>
</div>
              </div>