 <div id="<%= "rfp#{rfp.id}body"  %>"  class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">

<%= link_to "View the rfp", rfp  %>    <br/> <br/>
  <% if !rfp.bids.empty? %>

   <div class="left">
     <strong  style="padding-bottom:5px;font-size:20px ;"> <i class="icon-arrow-down"></i>   <%= rfp.bids.first.sender.name %>     </strong>
   </div>
   <div class="right">
     <strong style="padding-bottom:5px;font-size:20px ;">  <%= rfp.bids.first.receiver.name %>  <i class="icon-arrow-down"></i>    </strong>
   </div>
    <br/><br/><br/>
      <% rfp.bids.each do |bid| %>
                      <% if bid.sender == rfp.bids.first.sender %>
                          <a style="color:inherit;" href="<%= bid_path(bid)  %>" class="left bid-box <%=bid.status_to_s.downcase %>">
                      <% else %>
                          <a style="color:inherit;" href="<%= bid_path(bid)  %>" class="right bid-box <%=bid.status_to_s.downcase %>">
                      <% end %>
                      <% if bid.rejected? %>
                      <%= image_tag("rejected.png", :class => "overlay")  %>
                      <% end %>
                      <div style="color:white;">
                      <p><strong> <%= bid.message %></strong> </p>
                      <p><strong> Offer:</strong> <%= bid.offer %> </p>
                      <p><strong> Price per launch:</strong> <%= bid.amount %> </p>
                      <p><strong> Launches:</strong> <%= bid.launches %> </p>
                      <p><strong> Duration:</strong> <%= (bid.agreed_duration) ? bid.agreed_duration : "Whole Game" %>  </p>
                      <p><strong> Penalty:</strong> <%= bid.penalty %> </p>
                     </div>
                      </a>
                        <div class="clear"></div>
                          <br/><br/>
                      <% end %>

<% end %>
</div>
              </div>