

      <tr class="tableizer-firstrow">
       <th style="text-align:left;padding-left:6px;">Current year</th><th style="text-align:right;padding-right:6px;"><%= @game.sub_round %></th></tr> 
       <tr><td style="background-color:yellow;text-align:left;">Service type</td>
        <td style="background-color:yellow;text-align:right;"><%= @company.service_type %></td>
      </tr>
      <tr><td style="background-color:yellow;text-align:left;">Service Level</td>
        <td style="background-color:yellow;text-align:right;"><%= @company.service_level_to_s %></td>
      </tr>
       <tr><td style="background-color:yellow;text-align:left;">Product type</td>
      <td style="background-color:yellow;text-align:right;"><%= @company.product_type_to_s %></td></tr>
    
     
      <% if current_user.isOwner?(@company) %>
       <tr><td style="background-color:yellow;text-align:left;">Profit earned last fiscal year ($)</td>
         <%if @company.profit >= 0%>
      <td style="background-color:yellow;text-align:right;"><%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>"," %></td></tr>
    <% else %>
      <td style="background-color:yellow;text-align:right;"> <span style="color: red;"><%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>"," %></span></td></tr>
       <% end %>
       <tr><td style="background-color:yellow;text-align:left;">Total profit earned during game ($)</td>
         <%if @company.total_profit >= 0%>
      <td style="background-color:yellow;text-align:right;"><%=number_with_precision @company.total_profit, :precision=>0 ,:delimiter=>"," %></td></tr>
    <% else %>
      <td style="background-color:yellow;text-align:right;"> <span style="color: red;"><%=number_with_precision @company.total_profit, :precision=>0 ,:delimiter=>"," %></span></td></tr>
       <% end %>
        <tr><td style="background-color:yellow;text-align:left;">Revenue generated last year ($)</td>
          <td style="background-color:yellow;text-align:right;"><%=number_with_precision @company.revenue, :precision=>0 ,:delimiter=>","  %> </td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Max Capacity</td>
         <td style="background-color:yellow;text-align:right;"><%= @company.max_capacity %></td></tr>
        <%end %>
      </tr>
    