<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<div style="text-align:center;font-size:15px;line-height: 1.5;">
  <strong>Service type: </strong><%= @company.company_type.name %> <br/>
  <% if current_user.isOwner?(@company) %>
<strong>Profit earned last fiscal year: </strong><%=number_to_currency @company.profit, :precision => 0 %> <br/>
<strong>Total profit earned during game: </strong><%=number_to_currency @company.total_profit, :precision => 0 %> <br/>
<strong>Revenue generated last year: </strong><%=number_to_currency @company.revenue %> <br/>
<strong>Total fixed cost: </strong><%=number_to_currency @company.total_fixed_cost, :precision => 0 %> <br/>
<strong>Base fixed cost: </strong><%=number_to_currency @company.fixed_cost, :precision => 0 %> <br/>
 <strong>Quality cost: </strong><%=number_to_currency @company.risk_control_cost, :precision => 0 %> <br/>
<strong>Risk mitigation %: </strong><%= @company.risk_mitigation %> <br/>
<strong>Capacity cost: </strong><%=number_to_currency @company.capacity_cost %> <br/>
<strong>Max capacity: </strong><%= @company.max_capacity %> <br/>
<strong>Cost from single launch per contract (need name): </strong><%=number_to_currency @company.contract_variable_cost %> <br/>
<strong>Selected variable cost: </strong><%=number_to_currency @company.variable_cost %><br/>
<strong>Total variable cost: </strong><%=number_to_currency @company.total_variable_cost %><br/>
<strong>Revenue from single launch per contracts(need name): </strong><%=number_to_currency @company.contract_revenue %> <br/>
<strong>Extra cost: </strong><%=number_to_currency @company.extra_costs %><br/>
<strong>Free change used: </strong><%= @company.values_decided %><br/>
<% end %>
</div>