

      <tr class="tableizer-firstrow lead" style="background-color:#000000;color:#ffffff;">
       <td style="text-align:left;padding-left:6px;"><%= t :current_year %> </td>
       <td style="text-align:right;padding-right:6px;"><%= @game.sub_round %></td>
     </tr>


       <tr>

        <td style="text-align:left;"><%= t :company_type %> </td>
        <td style="text-align:right;"><%= @company.company_type.name %></td>
      </tr>




      <% if signed_in? && current_user.isOwner?(@company) %>

      <tr><td style="text-align:left;"><%= t :working_capital %>  ($)</td>
          <td style="text-align:right;"><%=number_with_precision @company.capital, :precision=>0 ,:delimiter=>" "  %> </td></tr>


      <tr><td style="text-align:left;"><%= t :revenue_generated %>  ($)</td>
          <td style="text-align:right;"><%=number_with_precision @company.revenue, :precision=>0 ,:delimiter=>" "  %> </td></tr>

       <tr><td style="text-align:left;"><%= t :profit_earned %>  ($)</td>
         <%if @company.profit >= 0%>
      <td style="text-align:right;"><%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %></td></tr>
    <% else %>
      <td style="text-align:right;"> <span style="color: red;"><%=number_with_precision @company.profit, :precision=>0 ,:delimiter=>" " %></span></td></tr>
       <% end %>
<tr><td style="text-align:left;"><%= t :ebt %>  ($)</td>
         <%if @company.ebt >= 0%>
      <td style="text-align:right;"><%=number_with_precision @company.ebt, :precision=>0 ,:delimiter=>" " %></td></tr>
    <% else %>
      <td style="text-align:right;"> <span style="color: red;"><%=number_with_precision @company.ebt, :precision=>0 ,:delimiter=>" " %></span></td></tr>
       <% end %>
       <tr><td style="text-align:left;"><%= t :total_profit %>  ($)</td>
         <%if @company.total_profit >= 0%>
      <td style="text-align:right;"><%=number_with_precision @company.total_profit, :precision=>0 ,:delimiter=>" " %></td></tr>
    <% else %>
      <td style="text-align:right;"> <span style="color: red;"><%=number_with_precision @company.total_profit, :precision=>0 ,:delimiter=>" " %></span></td></tr>
       <% end %>
       
        <tr><td style="text-align:left;"><%= t :launches_made %>:</td>
         <td style="text-align:right;"><%= @company.launches_made %></td></tr>

        <tr><td style="text-align:left;"><%= t :stat_target_market %></td>
        <%if @company.role.market %>
         <td style="text-align:right;"> <%= @company.role.market.name %></td>
        <% else %>
         <td style="text-align:right;"><%= t :stat_market_not_decided %> </td>
        <%end %>
      </tr>

        <tr><td style="text-align:left;"><%= t :c_show_supply_chains %>:</td>
         <td style="text-align:right;"><%= @company.all_markets.join(",") %></td></tr>
        <%end %>
    