<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<div id="process_container" class="lead" style="font-size:12px;"> 
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <%# Claim Alert %>
            <% if !process.resp_user(@company) %>    
               <div class="alert alert-block alert-error fade in">
                 <button data-dismiss="alert" class="close" type="button">×</button>
                 <h4 class="alert-heading">Alert !</h4>
                 <p> Please assign a responsible to this process by claiming it. </p>
               </div>
            <% end %> 
      <%# Collapse link starts %>
      <a class="accordion-toggle process_header" data-toggle="collapse" data-parent="#accordion2" href="#<%= "process#{process.id}body"  %>">
        <%= hidden_field_tag 'processid', process.id,  :class => "processid" %>
        <p>  
          <%# Company name %>
          <span style="font-size:18px;color:#99173C;padding-right:6px;"> 
            <%= "#{process.other_party(@company).name}" %> </span> 
          <%# Responsible in from company %>
          <i class="icon-user"></i> <span style="font-size:12px;color:#99173C;padding-right:10px;"> 
          <% if process.resp_user(process.other_party(@company)) %> 
          <%= process.resp_user(process.other_party(@company)).name %>
          <% else %> 
         No responsible yet <% end %> 
        </span>  

 

          <%# Claiming process button and responsible user in your company %>
          <% if process.resp_user(@company)%> 
            <span class="right" style="font-size:14px;color:#000000;padding:2px;">
              <% unless current_user.teacher?  %>
              <i class='icon-user'></i> <%= process.resp_user(@company).name %>
              <% else %>
              <i class='icon-user'></i> <%= process.resp_user(@company).name %>
              <%= link_to "Remove", manage_users_path(process.id, @company.id), :method => :delete, data: {confirm: "Are you sure?"}, :class => "btn btn-danger btn-mini right" %>
              <a class="btn btn-mini btn-primary right" data-toggle="modal" href="#myModal">Change</a>
              <% end %>
            </span> 
          <%end%>

          <% if process.resp_user(@company)%>
          <div class="modal hide fade" id="myModal">
          <%= form_tag(manage_users_path(process.id, @company.id)) do %>
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">×</button>
       <%= label_tag :message, "#{t :c_modal_change}",:class => "title_label", :style => "color:black;" %>
      </div>
       <div class="modal-body">
          <div class="fieldarea">
            <%= label_tag :resp_user, "#{t :c_modal_label}", :style => "color:black;" %>
            <%= collection_select(:user, :id, @company.group.users, :id, :name, {:selected => process.resp_user(@company).id}) %>
          </div>
        <div class="modal-footer">
        <a href="#">
        <div class="createbuttonarea">
        <%= submit_tag "Change", class: "btn btn-large btn-primary" %>
        </div>
        </a>
        </div> </div>
          <% end %>
        </div>
        <% end %>


           <%# Next step %> 
          <% if process.next_action_by == @company %> 
            <span style="font-size:14px;color:#FCFEF5;padding-right:10px;float:right;"> <img src="/assets/process_notify.png" class="messagebox" alt="Notify_header" style="width:30px;"> </span><% end %>
          <%# elsif process.next_action_by %> 
            <!-- <span style="font-size:14px;color:#FCFEF5;padding:4px;background-color:#FCBC4F;"> Awaiting their input </span>  -->
          <%# else %> 
            <!-- <span style="font-size:14px;color:#FCFEF5;padding:4px;background-color:#2A7CF9;">  </span> -->
          <%# end %>
  <%# Status %> <br>
          <span style="font-size:12px;color:#555152;padding-right:8px;">
          STATUS: <%= process.status_to_string(process.next_action(current_user)) %>
          </span> 


          <% if !process.resp_user(@company) && @company == process.second_party %> 
              <%= link_to "Become account manager", contract_process_path(process, :receiver => "1"), :class => "btn btn-danger right", :style => "font-size:12px;padding-right:25px;padding-left:25px;" , :method => :put %> 
            </br>
          <% end %>
          <% if !process.resp_user(@company) && @company == process.first_party %>  
             <%= link_to "Become account manager", contract_process_path(process, :receiver => "0"), :class => "btn btn-danger right", :style => "font-size:15px;padding-right:25px;padding-left:25px;" ,:method => :put %>
             </br> 
           <% end %>    
  
        </p>
      </a>
    </div>


<%# Timeline %>   
  <div id="<%= "process#{process.id}body"%>" class="accordion-body collapse">
    <div class="accordion-inner">
<p style="font-size:30px;text-align:center;color:#134A60;">Timeline</p>

        <% if process.resp_user(@company) %>

  
        <% if process.send_bid?(current_user) && process.resp_user?(current_user) %>
        <p style="font-size:14px;text-align:center;"> Hello <%= process.resp_user(@company).name %>, you are negotiating with <%= "#{process.other_party(@company).name}" %>. Your next step would be to 
        <%= link_to "Send an offer", make_bid_path(process.other_party(@company)) , :class => "btn btn-danger btn-mini", :style => "font-size:14px;" %>
        </p>
        <div class="hr_line" style="clear: both;"></div><br>
        <% end %>



        <% if process.send_rfp?(current_user) && process.resp_user?(current_user) %> 
         <p style="font-size:14px;text-align:center;">Hello <%= process.resp_user(@company).name %>, you are under a negotiation process with <%= "#{process.other_party(@company).name}" %>. Your next step would be to 
        <%= link_to "Send a RFP", send_rfp_path(process.other_party(@company)) , :class => "btn btn-danger btn-mini", :style => "font-size:14px;"%>. 
        </p>
        <div class="hr_line" style="clear: both;"></div><br>
        <% end %>


        <% if process.show_bid?(current_user) %> 
        <p style="font-size:14px;">Hello <%= process.resp_user(@company).name %>, you are under a negotiation process with <%= "#{process.other_party(@company).name}" %>. Your next step would be to 
        <%= link_to "Check the offer", bid_path(process.bids.last.id), :class => "btn btn-danger btn-mini", :style => "font-size:14px;"%>
        </p>
        <div class="hr_line" style="clear: both;"></div><br>
        <% end %>


        <% if process.show_contract?(current_user) %>
         <p style="font-size:14px;">Hello <%= process.resp_user(@company).name %>, you are under a negotiation process with <%= "#{process.other_party(@company).name}" %>. Your next step would be to 
        <%= link_to "Check the renegotiation contract", contract_path(process.first_party.get_contract_with(process.second_party).id), :class => "btn btn-danger btn-mini", :style => "font-size:14px;"%>
        </p>
        <div class="hr_line" style="clear: both;"></div><br>
        <% end %>

        <% end %>

      
     
        <% process.items.reverse.each do |item| %>
        <% if item.kind_of? Rfp %>  
        <%# RFP %>
           
                <%if item.sender == @company %>
                <%= link_to item do %>
                <div class="offerbox" style="display:block;padding:5px;background-color:#CCFFCC;border-radius: 10px;line-height:20px;">
                     <span style="font-size:20px;color:#2D3041;"> RFP</span><span class="right" style="#282828;"> Sent <%= item.updated_at.strftime("%d/%m/%Y %H:%M") %></span><br>
                     
                     <span style="font-size:15px;"> <%= item.content %></span>
                    <br> 
                </div>
                <% end %>
                <%else %>
                <%= link_to item do %>
                <div class="offerbox-left" style="display:block;padding:5px;background-color:#CCFFCC;border-radius: 10px;"> 
                    <span style="font-size:20px;color:#2D3041;"> RFP</span><span class="right" style="#282828;"> Sent <%= item.updated_at.strftime("%d/%m/%Y %H:%M") %></span><br>
                    
                    <span style="font-size:15px;"> <%= item.content %></span>
                    <br>
                </div>
                <% end %>
                <%end%>
                <div class="clear"></div>
            
        <% else %>

         <%# Offer and check for contract %>

            
                <% if item.contract %>
                <% if item.contract.last_decision == Bid.rejected && !item.contract.under_negotiation %>
                <div class="offerbox" style="display:block;padding:5px;background-color:#CCFFFF;border-radius: 10px;">
                  <% if item.contract.negotiation_type == Contract.renegotiation %>
                  <p> Renegotiation was rejected </p>
                  <% else %>
                  <p> Ending the contract was declined </p>
                  <% end %>
                  </div>
                <% end %>
                <% if item.contract.last_decision == Bid.accepted && !item.contract.under_negotiation %>

                <div class="offerbox" style="display:block;padding:5px;background-color:#CCFFFF;border-radius: 10px;">
                  <p> Contract has been updated  </p>
                  </div>
                <% end %>

                      <% if item.contract.under_negotiation?  && item.contract.negotiation_type == Contract.renegotiation %>
                <div class="offerbox" style="display:block;padding:5px;background-color:#CCFFFF;border-radius: 10px;">
                  <p> Contract is under renegotiation </p>
                  </div>
                  <% end %>

                 <% if item.contract.under_negotiation? && item.contract.negotiation_type == Contract.end_contract %>
                <div class="offerbox" style="display:block;padding:5px;background-color:#CCFFFF;border-radius: 10px;">
                  <p> Contract is under termination </p>
                  </div>
                  <% end %>


                <div class="contractbox" style="position:relative;left:10%;width:70%;display:block;padding:5px 5px 5px 10px;background-color:#FFFFCC;border-radius: 10px;">
                <span style="font-size:20px;color:#000000;padding-right:25px;"> Contract</span> <span class="right" style="color:#282828;"> Sent <%= item.updated_at.strftime("%d/%m/%Y %H:%M") %>
                </span><br>
                <%= link_to "Show the contract", item.contract ,:class=>"contracthov" ,:style=>"padding:5px;border:1px solid;border-radius:5px;" %>
                  
               
                  <% if item.contract.void? %>
                    <span style="width:100px;float:right;position:relative;right:200px;bottom:30px;">
                      <% if item.remaining_duration && item.remaining_duration <= 0 %>
                        <%= image_tag("expired.png") %>
                      <% elsif item.broken? %>
                        <%= image_tag("cancel.png") %>
                      <% else %>
                        <%= image_tag("dissolved.png") %>
                      <% end %>
                     
                   </span>
                  <% end %>
                
                </div> 
                <% end %><div class="clear"></div>  <br> 
               
                
                <%if item.sender == @company %>
                <%= link_to item do %>
                <div class="offerbox" style="display:block;padding:5px;background-color:#CCFFFF;border-radius: 10px;line-height:20px;">
               <span style="font-size:20px;color:#000000;"> Offer </span><span class="right" style="color:#282828;"> Sent <%= item.updated_at.strftime("%d/%m/%Y %H:%M") %></span> <br>
                <span style="font-size:15px;">Duration: <%= (item.agreed_duration) ? item.agreed_duration : "Whole Game" %></span> <br>
                <span style="font-size:15px;">Offer:<%= item.offer %> </span>
                <br>
                <% if item.rejected? %>
                <span style="font-size:15px;">Reason for rejection:<%= item.reject_message %> </span>
                <% end %> <br><br>
                   <span style="font-size:15px;"><%= item.message %></span>
                  <br> 
                  <br>
                </div>
                <% end %>

                <%else %>
                <%= link_to item do %>
                <div class="offerbox-left" style="display:block;padding:5px;background-color:#CCFFFF;border-radius: 10px;line-height:20px;"> 
                <span style="font-size:20px;color:#000000;"> Offer</span><span class="right" style="color:#282828;"> Sent <%= item.updated_at.strftime("%d/%m/%Y %H:%M") %></span> <br>
                <span style="font-size:15px;">Duration: <%= (item.agreed_duration) ? item.agreed_duration : "Whole Game" %></span> <br>
                <span style="font-size:15px;">Offer:<%= item.offer %> </span>
                <br>
                <% if item.rejected? %>
                <span style="font-size:15px;">Reason for rejection:<%= item.reject_message %> </span>
                <% end %> <br><br>
                   <span style="font-size:15px;"><%= item.message %></span>
                  <br> 
                  <br>
                
                <!--   <br> <div class="hr_line right"></div> --> 
                </div>
                <% end %>
                <%end%>  
               

          <% end %> 
         <br>
        <% end %>

     
      </div>
    </div>
  </div>
</div>
</div>