<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>


      <tr class="tableizer-firstrow">
       
       <tr><td style="text-align:left;"><%= t :stat_sell_price %>:</td>
        <%if @company.role.sell_price %>
         <td style="text-align:right;"> <%= number_with_delimiter @company.role.sell_price, :delimiter => " " %></td>
        <%else %>
        <td style="text-align:right;"><%= t :stat_not_decided %></td>
        <%end %>
      </tr>
       
      <% if signed_in? && current_user.isOwner?(@company) %>
      <tr><td style="text-align:left;"><%= t :stat_sales_made %>  </td>
         <td style="text-align:right;"> <%= @company.role.sales_made %></td>
      </tr> <% end %>
