<div style="text-align:justify;font-size:15px;line-height: 1.5;">
<strong> Service Level: </strong><%= @company.role.service_level %></br>
<strong> Product type: </strong><%= @company.role.product_type %></br>
<strong> Sell price: </strong><%if @company.role.sell_price %> <%= @company.role.sell_price %> <%else %> Not yet decided <%end %>  <%= link_to "Change", edit_customer_facing_role_path(@company.role) %></br>
<strong> Target Market: </strong> <%if @company.role.market %> <%= @company.role.market.name %> <% else %> No market decided yet <% end %><%= link_to "Change", edit_customer_facing_role_path(@company.role) %></br>
</div>
