<p> <strong> Promised Service Level: </strong><%= company.role.promised_service_level %></p>
<p> <strong> Sell price: </strong><%if company.role.sell_price %> <%= company.role.sell_price %> <%else %> Not yet decided <%end %> </p> <%= link_to "Change", edit_customer_facing_role_path(company.role) %>
 <p> <strong> Target Market: </strong> <%if company.role.market %> <%= company.role.market.name %> <% else %> No market decided yet <% end %></p> <%= link_to "Change", edit_customer_facing_role_path(company.role) %>

