<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= hidden_field_tag 'experience_min', @company.get_limit_hash_value("experience", "min"),  :id => "experience_min" %>
<%= hidden_field_tag 'experience_max', @company.get_limit_hash_value("experience", "max"),  :id => "experience_max" %>
<%= hidden_field_tag 'experience_limit', @company.get_limit_hash_value("experience", "max_size"),  :id => "experience_limit" %>


<p style="font-size:16px;padding-left:2%;">
      <%= f.label :experience_cost, "#{t :experience_investment}", :style=> "font-size:16px;padding-left:5px;padding-right:5px;" %>
       <div class="slider_result" style="color:#000000;"> <span id ="experience_result"> <%= number_with_precision @company.experience_cost, :precision => 0, :delimiter => " " %> </span> $</div>
       <div id="experience_slider"></div>

       <%= f.fields_for :role do |builder| %>

       <%= hidden_field_tag :experience_rev, @company.experience_cost.round, :id => "experience_rev" %>

       <% end %>
 </p><br/>
