<div style="text-align:justify;font-size:15px;line-height: 1.5;">
<strong> Service Level: </strong><%= @company.role.service_level %> <%= link_to "Change", edit_operator_role_path(@company.role) %><br/>
<strong> Specialized: </strong><%= @company.role.specialized %><br/>
<strong> Capacity: </strong><%= @company.role.capacity %> <%= link_to "Change", edit_operator_role_path(@company.role) %><br/>
<strong> Product type: </strong><%= @company.role.product_type %> <%= link_to "Change", edit_operator_role_path(@company.role) %><br/>
</div>