<%= f.fields_for :operator_role do |builder| %>
       <p style="font-size:16px;color:white;padding-left:2%;"> Service Level 
      <sup><i class="icon-info-sign icon-white"
                       data-title="instruction"
                       data-content="You will find all your contract information and documents inside !"></i>
      </sup>  
      </p>
          <div class="size_buttons" style="padding-left:30px;">
            <%= builder.radio_button :service_level, '1', :checked => true, :class => "level" %>
            <%= label :level_1, 'Budget',:style=> "font-size:12px;color:white;" %>
          </div>

          <div class="size_buttons">
            <%= builder.radio_button :service_level, '2', :class => "level"%>
            <%= label :level_2, 'Common',:style=> "font-size:12px;color:white;" %>
          </div>

          <div class="size_buttons">
            <%= builder.radio_button :service_level, '3', :class => "level"%>
            <%= label :level_3, 'Luxury' ,:style=> "font-size:12px;color:white;"%>
          </div>
      <div class="clear"></div>
      
      <div class="size_buttons" style="padding-left:2%;padding-right:4%;">
       <%= builder.label :specialized, "Specialized ?" ,:style=> "font-size:16px;color:white;"  %>
       <%= builder.check_box :specialized,  :class => "specialized" %> <span style="padding-left:2%;"><sup> <i class="icon-info-sign icon-white"
                       data-title="instruction"
                       data-content="You will find all your contract information and documents inside !"></i>
      </sup></span>
      </div>
      
      <div class="clear">  <p style="font-size:16px;color:white;padding-left:2%;"> Capacity <sup><i class="icon-info-sign icon-white"
                       data-title="instruction"
                       data-content="You will find all your contract information and documents inside !"></i>
      </sup> </p></div>
      <div class="size_buttons" style="padding-left:30px;">
            <%= builder.radio_button :capacity, '1', :checked => true, :class => "capacity" %>
            <%= label :capacity_1, 'Small',:style=> "font-size:12px;color:white;"  %>
          </div>

          <div class="size_buttons">
            <%= builder.radio_button :capacity, '3' , :class => "capacity" %>
            <%= label :capacity_3, 'Large',:style=> "font-size:12px;color:white;"  %>
          </div>

       <div class="clear"> <p style="font-size:16px;color:white;padding-left:2%;">  Product type <sup><i class="icon-info-sign icon-white"
                       data-title="instruction"
                       data-content="You will find all your contract information and documents inside !"></i>
      </sup> </p></div>
      <div class="size_buttons" style="padding-left:30px;">
            <%= builder.radio_button :product_type, '1', :checked => true, :class => "type" %>
            <%= label :product_type_1, 'Short Flight',:style=> "font-size:12px;color:white;"  %>
          </div>

          <div class="size_buttons">
            <%= builder.radio_button :product_type, '3', :class => "type" %>
            <%= label :product_type_3, 'Long Flight',:style=> "font-size:12px;color:white;"  %>
          </div>
          
          <div class="clear"></div>
        <%end %>