<%  if company.test %>

<p style="color:purple;"> TEST </p>

<% else %>


<% if signed_in? && current_user.teacher? %>
  <% if company.business_plan.verified %> <%= image_tag("green.png",:class=>"bluesign",:data => {:title => "Completed", :content =>"You have reviewed their business plan"})%>
  <% elsif company.business_plan.waiting %> <%= image_tag("orange.png",:class=>"bluesign",:data => {:title => "Waiting", :content =>"Their business plan needs is waiting for verification. You can click here to go to their company and verify it."})%>
  <% else %> <%= image_tag("red.png" ,:class=>"bluesign",:data => {:title => "Not Completed", :content =>"They have not yet completed their business plan."})%>
  <% end %>
  <% if company.revisions.last && company.revisions.last.grade %> <i class="icon-ok bluesign" data-content="Business canvas graded"></i> <% end %>
<% elsif signed_in? && !current_user.teacher? %>
<div style="width:20px;height:20px;text-align:center;">
  <% unless company.image_url.nil?  %>
                 <%= image_tag company.image_url %>
                <% else %>
                  <%= image_tag("200x200.png") %>
                <% end %> 
 </div>

<% end %>

<% end %>