<% if signed_in? && !current_user.isOwner?(@company) %>

                  <%if !current_user.teacher? && Rfp.can_send?(current_user, @company) %><%= link_to "Send RFP", send_rfp_path(@company.id), :class => "btn btn-primary" %>

                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="A request for proposal (RFP) is a document that an organization posts to elicit bids from potential vendors for a product or service. For example, a new business or a business moving from a paper-based system to a computer-based system might request proposals for all the hardware, software, and user training required to establish and integrate the new system into the organization. ">
                      </i>

                      <% elsif  !current_user.teacher? && Bid.can_offer?(current_user, @company) %><%= link_to "Send Offer", make_bid_path(@company.id), :class => "btn btn-primary" %>

                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="This will be an offer">
                      </i>

                  <%else%>
                 <% if current_user.company && !current_user.company.values_decided? && Rfp.valid_target?(current_user.company, @company) %>
                <button class="btn btn-large btn-primary disabled" disabled="disabled">Send RFP</button>
                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="You must decide your company statistics before you can start sending RFPs ">
                      </i>

                <% elsif !current_user.teacher? && current_user.company && !@company.values_decided? &&  Rfp.valid_target?(current_user.company, @company) %>
                <button class="btn btn-large btn-primary disabled" disabled="disabled">Send RFP</button>
                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="You cannot send RFP to companies that have not yet decided their values">
                      </i>

                <% elsif !current_user.teacher? && current_user.company && !Rfp.rfp_target?(current_user.company, @company) && @company != current_user.company %>
                  <button class="btn btn-large btn-primary disabled" disabled="disabled">Send RFP</button>
                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="<%= "As a #{current_user.company.service_type} company, you can send an RFP to the following companies: #{Company.rfp_targets[current_user.company.service_type]}" %>">
                      </i>


                  <% elsif !current_user.teacher? && current_user.company && @company.has_contract_with_type?(current_user.company.service_type) && @game.current_round != 3 %>
                  <button class="btn btn-large btn-primary disabled" disabled="disabled">Send RFP</button>
                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="<%= "This company has already made a contract with a #{current_user.company.service_type} company " %>">
                      </i>

                  <% elsif !current_user.teacher? && current_user.company && Game.get_game.in_round(1) %>
                  <button class="btn btn-large btn-primary disabled" disabled="disabled">Send RFP</button>
                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="<%= "This action won't be available until round 2" %>">
                      </i>

                <% end %>
                  <% end %>
                  <% end %>
