
<%= f.fields_for :role do |builder| %>

<div style="padding-left:24px;">
<div style="width:10.3cm;height:3cm;"><br/>
    <div style="float:left;width:4.3cm;">
      <% if (@company.role.market.nil? || Game.get_game.current_round == 1) || @company.is_customer_facing? %>
      
        <div>
     <span class="clear" style="font-size:20px;color:#000;"> 
        <%= t :c_edit_market %> </span>
     

     <%= image_tag("info.png", :class => "bluesign" , :style=>"vertical-align: super;padding-left:2px;" , :data => {:title => "#{t :c_edit_info_title}", :content => "#{t :c_edit_info_content}"}) %>
      </div>
      <%= builder.collection_select(:market_id, Market.all.reject!{|m| m.test}, :id, :name,  options ={:prompt => "#{t :c_edit_select_market}"}, :class =>"market_choose" ) %>

     <% else %>
     <p class="clear" style="text-align:center;font-size:16px;color:red;">
        <%= t :c_edit_primary_market %>
     
     <span class="clear" style="font-size:24px;color:#000;">  <%= @company.role.market.name %> </span></p>
     <% end %>
    </div>
  <% if @company.is_customer_facing? %>
      <div style="float:left;width:4.3cm;padding-left:20px;padding-top:12px;">
       <p style="text-align:center;">  
      <%= builder.label :sell_price, "#{t :sell_price}", :style=> "font-size:24px;margin-bottom: 12px;text-align: center;" %>
      <%= builder.text_field :sell_price, :id => "sell_price" %>
    </p></div> <% end %>
  </div>
</div>
  
<%end %>


