<div id="category_sidebar" class="gender_solid_background">
    <%# All Companies%>
    <ul> 
    <li><%= link_to "All Companies", companies_path, :remote => true %></li>
    </ul>
    <%# Operators%>
    <ul> 
    <li><%= link_to "Operator(s)", operator_roles_path, :remote => true %></li>
    </ul>
    <%# Customer Facing Companies%> 
    <ul> 
    <li><%= link_to "Marketing", customer_facing_roles_path, :remote => true %> </li>
   </ul>
    <%# Technology Companies%>
     <ul> 
    <li><%= link_to "Technology(ies)", service_roles_path("Technology"), :remote => true %> </li>
    </ul>
    <%# Suppliers%>
    <ul> 
    <li><%= link_to "Supplier(s)", service_roles_path("Supplier"), :remote => true %> </li>
    </ul>
  </div>
