<li> Max capacity: <%= stat_hash["max_capacity"]%> </li>
<li> Max customer penetration: <%= stat_hash["max_penetration"]%> </li>
<li> Max level of quality: <%= stat_hash["max_quality"]%> </li>
<li> Fixed costs: <%= stat_hash["fixed_cost"]%></li>
<li> Variable costs: <%= stat_hash["variable_cost"]%></li>