
<p style="font-size:16px;color:#999;padding-left:2%;"> Product Type
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= stat_hash["product_type"]%></span></p>


<p style="font-size:16px;color:#999;padding-left:2%;"> Service Level
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= stat_hash["service_level"]%></span></p>

<p style="font-size:16px;color:#999;padding-left:2%;"> Max launch capacity
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= stat_hash["launch_capacity"]%></span></p>

<% if !company.contracts_as_supplier.empty? && !company.is_customer_facing? %>
<p style="font-size:16px;color:#999;padding-left:2%;"> Price per single launch
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= number_with_precision company.contract_revenue, :precision => 0, :delimiter => "," %></span></p>
<% elsif company.is_customer_facing? %>

<p style="font-size:16px;color:#999;padding-left:2%;"> Price per single launch</p>

<p style="font-size:16px;color:#999;padding-left:2%;"> Sell Price
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= number_with_precision stat_hash["sell_price"], :precision => 0, :delimiter => "," %></span></p>

<p style="font-size:16px;color:#999;padding-left:2%;"> Maximum customers in a single launch
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= Company.get_capacity_of_launch(stat_hash["product_type"]) %></span></p>

<% else %>
<p style="font-size:16px;color:#999;padding-left:2%;"> Price per single launch
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;">No contracts formed yet</span></p>
<% end %>

<p style="font-size:16px;color:#999;padding-left:2%;"> Fixed Cost</p>

<p style="font-size:16px;color:#999;padding-left:2%;">Investment in Capacity
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%=number_to_currency stat_hash["capacity_cost"]%></span></p>

<p style="font-size:16px;color:#999;padding-left:2%;">Investment in Quality
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%= number_to_currency stat_hash["risk_cost"]%></span></p>

<p style="font-size:16px;color:#999;padding-left:2%;">Penalty costs
<span style="font-size:16px;color:#999;padding-left:12px;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%=number_to_currency stat_hash["change_penalty"]%></span></p></br>

<p style="font-size:16px;color:#999;padding-left:2%;">Total Fixed costs
<span style="font-size:16px;color:#999;padding-left:7%;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%=number_to_currency stat_hash["risk_cost"] + stat_hash["capacity_cost"] + stat_hash["change_penalty"] %></span></p>

<p style="font-size:16px;color:#999;padding-left:2%;"> Variable Cost</p>

<p style="font-size:16px;color:#999;padding-left:2%;">Investment in Customer Satisfaction
<span style="font-size:16px;color:#999;padding-left:12px;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%=number_to_currency stat_hash["variable_cost"]%></span></p></br>

<% if !company.contracts_as_buyer.empty? %>
<p style="font-size:16px;color:#999;padding-left:2%;">Cost from contracts per launch
<span style="font-size:16px;color:#999;padding-left:12px;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"> <%=  company.contract_variable_cost %> </span></p></br>
<% else %>
<p style="font-size:16px;color:#999;padding-left:2%;">Cost from contracts per launch
<span style="font-size:16px;color:#999;padding-left:12px;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"> No contracts as buyer </span></p></br>
<% end %>

<p style="font-size:16px;color:#999;padding-left:2%;">Total Variable Cost
<span style="font-size:16px;color:#999;padding-left:12px;">:</span>
<span style="font-size:16px;color:white;padding-left:1%;"><%=number_to_currency stat_hash["variable_cost"] +  company.contract_variable_cost %></span></p></br>


