
    <table class="tableizer-table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th>&nbsp;</th></tr>
       <tr><td style="background-color:yellow;text-align:left;">Product Type</td>
       <td style="background-color:yellow;text-align:right;"><%= stat_hash["product_type"]%></td></tr> 
       <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Service Level</td>
       <td style="background-color:yellow;text-align:right;"><%= stat_hash["service_level"]%></td></tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Max launch capacity</td>
       <td style="background-color:yellow;text-align:right;"><%= stat_hash["launch_capacity"]%></td></tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
       <% if !company.contracts_as_supplier.empty? && !company.is_customer_facing? %>
       <tr><td style="background-color:yellow;text-align:left;">Price per single launch</td>
       <td style="background-color:yellow;text-align:right;"><%= number_with_precision company.contract_revenue, :precision => 0, :delimiter => "," %></td></tr> 
       <% elsif company.is_customer_facing? %>
       <tr><td style="background-color:#B8B8B8;text-align:left;">Price per single launch</td>
       <td style="background-color:#B8B8B8;text-align:left;">&nbsp;</td></tr> 
       <tr><td style="background-color:yellow;text-align:left;">Sell Price ($)</td>
       <td style="background-color:yellow;text-align:right;"><%= number_with_precision stat_hash["sell_price"], :precision => 0, :delimiter => "," %></td></tr>
       <tr><td style="background-color: yellow;text-align:left;">Maximum customers in a single launch</td>
       <td style="background-color:yellow;text-align:right;"><%= Company.get_capacity_of_launch(stat_hash["product_type"]) %></td></tr>
       <% else %>
       <tr><td style="background-color: yellow;text-align:left;">Price per single launch</td>
       <td style="background-color:yellow;text-align:left;">No contracts formed yet</td></tr>
       <% end %>
       <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
       <tr><td style="background-color:#B8B8B8;text-align:left;">Fixed Cost</td>
       <td style="background-color:#B8B8B8;text-align:left;">&nbsp;</td></tr>
       <tr><td style="background-color:#FF9966;text-align:left;">Investment in Capacity ($)</td>
       <td style="background-color:#FF9966;text-align:right;"><%=number_with_precision stat_hash["capacity_cost"], :precision => 0, :delimiter => ","%></td></tr>
       <tr><td style="background-color:#FF9966;text-align:left;">Investment in Quality ($)</td>
       <td style="background-color:#FF9966;text-align:right;"><%=number_with_precision stat_hash["risk_cost"], :precision => 0, :delimiter => ","%></td></tr>
       <tr><td style="background-color:#FF9966;text-align:left;">Penalty costs ($)</td>
       <td style="background-color:#FF9966;text-align:right;"><%=number_with_precision stat_hash["change_penalty"], :precision => 0, :delimiter => ","%></td></tr>
       <tr><td style="background-color:#00CCFF;text-align:left;">Total Fixed costs ($)</td>
       <td style="background-color:#00CCFF;text-align:right;"><%=number_with_precision stat_hash["risk_cost"] + stat_hash["capacity_cost"] + stat_hash["change_penalty"], :precision => 0, :delimiter => "," %></td></tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
       <tr><td style="background-color:#B8B8B8;text-align:left;">Variable Cost</td>
       <td style="background-color:#B8B8B8;text-align:left;">&nbsp;</td></tr>
       <tr><td style="background-color:#FF9966;text-align:left;">Investment in Customer Satisfaction ($)</td>
       <td style="background-color:#FF9966;text-align:right;"><%=number_with_precision  stat_hash["variable_cost"], :precision => 0, :delimiter => ","%></td></tr>
       <% if !company.contracts_as_buyer.empty? %>
       <tr><td style="background-color:#FF9966;text-align:left;">Cost from contracts per launch ($)</td>
       <td style="background-color:#FF9966;text-align:right;"><%=number_with_precision company.contract_variable_cost, :precision => 0, :delimiter => "," %></td></tr>
       <% else %>
       <tr><td style="background-color:#FF9966;text-align:left;">Cost from contracts per launch ($)</td>
       <td style="background-color:#FF9966;text-align:right;">No contracts as buyer</td></tr>
       <% end %>
       <tr><td style="background-color:#00CCFF;text-align:left;">Total Variable Cost ($)</td>
       <td style="background-color:#00CCFF;text-align:right;"><%=number_with_precision  stat_hash["variable_cost"] +  company.contract_variable_cost , :precision => 0, :delimiter => ","%></td></tr> 
       <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th>&nbsp;</th></tr> 
    </table>


