
    <table class="tableizer-table">
    <tr class="tableizer-firstrow">
       

      <tr>
        <td style="text-align:left;"><%= t :company_type %></td>
        <td style="text-align:right;">
          <%= @company.company_type.name %>
        </td>
      </tr>



      <% if company.is_customer_facing? %>
       <tr><td style="text-align:left;"><%= t :c_edit_ppc %> ($)</td>
       <td style="text-align:right;"><%= number_with_precision stat_hash["sell_price"], :precision => 0, :delimiter => " " %></td></tr>
      <% end %>
    
     <tr style="border:1px solid #ffffff !important;">
      <td style="border:#FFFFFF;"> &nbsp;</td>
      <td style="border:#FFFFFF;"> &nbsp;</td>
     </tr>

     <tr>
      <td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;"><%= t :c_edit_fixed_cost %></td>
      <td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
     </tr>
     
<% if @company.company_type.capacity_produce %>
<tr>

<td style="text-align:left;"><%= t :c_edit_capacity_cost %> ($)</td>
<td style="text-align:right;" id="capacity_cost_stat"><%=number_with_precision stat_hash["capacity_cost"], :precision => 0, :delimiter => " "%></td>

</tr>
<% end %>
<% if @company.company_type.unit_produce %>
<tr>

<td style="text-align:left;"><%= t :c_edit_unit_cost %> ($)</td>
<td style="text-align:right;" id="unit_cost_stat"><%=number_with_precision stat_hash["unit_cost"], :precision => 0, :delimiter => " "%></td>

</tr>
<% end %>
<% if @company.company_type.marketing_produce %>
<tr>

<td style="text-align:left;"><%= t :c_edit_marketing_cost %> ($)</td>
<td style="text-align:right;" id="marketing_cost_stat"><%=number_with_precision stat_hash["marketing_cost"], :precision => 0, :delimiter => " "%></td>
</tr>
<% end %>
<% if @company.company_type.experience_produce %>
     <tr> <td style="text-align:left;"><%= t :c_edit_experience_cost %>  ($)</td>
<td style="text-align:right;" id="experience_cost_stat"><%=number_with_precision stat_hash["experience_cost"], :precision => 0, :delimiter => " "%></td>

</tr>
<% end %>

     
     <tr>
       <td style="text-align:left;"><%= t :c_edit_quality_cost %> ($)</td>
       <td style="text-align:right;" id="fixed_sat_cost"><%=number_with_precision stat_hash["fixed_sat"], :precision => 0, :delimiter => " "%></td>
     </tr>

   <!--   <tr>
      <td style="text-align:left;">Restructuring costs ($)</td>
      <td style="text-align:right;"><#%=number_with_precision stat_hash["change_penalty"], :precision => 0, :delimiter => " "%></td>
     </tr> -->
     
     <tr>
      <td style="text-align:left;"><%= t :c_edit_break_cost %> ($)</td>
      <td style="text-align:right;"><%=number_with_precision stat_hash["break_cost"], :precision => 0, :delimiter => " "%></td>
     </tr>

     <tr>
      <td style="text-align:left;"><%= t :c_edit_expansion_cost %> ($)</td>
      <td style="text-align:right;"><%=number_with_precision @company.extra_costs, :precision => 0, :delimiter => " "%></td>
     </tr>

     <tr>
      <td style="text-align:left;"><%= t :c_edit_loan_cost %> ($)</td>
      <td style="text-align:right;"><%=number_with_precision @company.loan_payments, :precision => 0, :delimiter => " "%></td>
     </tr>
     
     <tr>
      <td style="background-color:#00CCFF;text-align:left;"><%= t :c_edit_total_fixed %> ($)</td>
      <td style="background-color:#00CCFF;text-align:right;"><%=number_with_precision stat_hash["total_fixed"], :precision => 0, :delimiter => " " %></td>
     </tr>
     

     <tr style="border:1px solid #ffffff !important;">
      <td style="border:#FFFFFF;"> &nbsp;</td>
      <td style="border:#FFFFFF;"> &nbsp;</td>
     </tr>


     <tr>
      <td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;"><%= t :c_edit_variable %> </td>
      <td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
     </tr>
     
     <tr>

      
  
<td style="text-align:left;">
<% if @company.company_type.marketing_produce? %>
          <%= "#{t :m_variable_sat_investment}"%>
         <% elsif @company.company_type.capacity_produce? %>
          <%= "#{t :c_variable_sat_investment}" %>
          <% elsif @company.company_type.experience_produce? %>
          <%= "#{t :e_variable_sat_investment}" %>
          <% else %>
          <%= "#{t :u_variable_sat_investment}" %>
          <% end %> ($) </td>

      <td style="text-align:right;"><%=number_with_precision  stat_hash["variable_cost"], :precision => 0, :delimiter => " "%></td>
     </tr>

   
   <% if !company.contracts_as_buyer.empty? %>
    <% company.contracts_as_buyer.each do |c| %>
    <% unless c.void %>
    <tr>
      <td style="text-align:left;"> <%= t :c_edit_contract_cost %>
        <%= c.service_provider.name %>($)</td>
      <td style="text-align:right;">
        <%=number_with_precision c.amount, :precision => 0, :delimiter => " " %></td>
    </tr>
    <% end %>
    <% end %>
   <% else %>
    <tr>
      <td style="text-align:left;"><%= t :c_edit_contract_cost_no %>  ($)</td>
      <td style="text-align:right;"><%= t :c_edit_no_contracts %> </td>
    </tr>
   <% end %>
    
  </table>


