<%= provide(:title, "Company")%>
<%# if !current_user.teacher?  %>
<%#<div class="modal show alpha60" id="myModal1" style="height:300px;padding-left:0.5cm;padding-right:0.5cm;padding-top:2cm;padding-bottom:2cm;" >
<%#<button data-dismiss="alert" class="close" type="button">×</button>
    <p style="color:#00CCFF;font-size:40px;padding-left:35%;">Welcome</p>
    <p style="color:red;font-size:20px;">
    Note:<br/> (1) Before filling the information discuss with your board &nbsp&nbsp&nbsp&nbsp&nbspmembers as this information can be submitted only once.
         <br/> (2) Only one member can submit it on behalf of the company.
         <br/> (3) And remember to cross-check the details before &nbsp&nbsp&nbsp&nbsp&nbspsubmitting.
    </p>
</div>
<%end#%>

<div class="row">
  <div class="span6 offset3">
    <div class="statistics">
      <div class="alpha60">

  <h2>Company type: <span style="color:white;"><%= @company.service_type %></span></h2>
    <%= form_for(@company) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
     

        <% if @company.is_customer_facing? %>
            <%= render 'customer_facing_form', :f => f %>
      <% end  %>
      <% if @company.is_operator? %>
            <%= render 'operator_form', :f => f %>
      <% end  %>

      <% if @company.is_service?  %>
             <%= render 'service_form', :f => f %>
      <% end  %>


    <p style="font-size:16px;color:white;padding-left:2%;">
      <%= f.label :risk_control_cost, "Investment in Quality", :style=> "font-size:16px;color:white;" %>
       <%= f.text_field :risk_control_cost, :id => "risk_cost" %>
 </p>

 <p style="font-size:16px;color:white;padding-left:2%;">
      <%= f.label :capacity_cost, "Investment in Launch Capacity", :style=> "font-size:16px;color:white;" %>
       <%= f.text_field :capacity_cost, :id => "capacity_cost" %>
 </p>

 <p style="font-size:16px;color:white;padding-left:2%;">
      <%= f.label :variable_cost, "Investment in Customer satisfaction", :style=> "font-size:16px;color:white;" %>
       <%= f.text_field :variable_cost, :id => "variable_cost" %>
 </p>
    </div>
   </div>



      <div class="statistics">
      <div class="alpha60">
      <h2 class="clear"> <span style="color:#00CCFF;"><%= @company.service_type %></span> Statistics </h2>
      <div class="clear" id="stats">
        <%= render 'stats', :stat_hash => @stat_hash %>
      </div></div></div></br>


      <div class="clear">
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div></div>


<div class="square">
   <div class="small_square_1"> 
        <div class="free_square"> 
        </div>
   </div>
   <div class="small_square_2"> 
        <div class="free_square"> 
        </div>
    </div>
    <div class="small_square_3"> 
        <div class="free_square"> 
        </div>
    </div>
    <div class="small_square_4"> 
       <div class="free_square"> 
       </div>
     </div>
</div>

