<%= provide(:title, "Company")%>
<%# if !current_user.teacher?  %>
<%#<div class="modal show alpha60" id="myModal1" style="height:300px;padding-left:0.5cm;padding-right:0.5cm;padding-top:2cm;padding-bottom:2cm;" >
<%#<button data-dismiss="alert" class="close" type="button">×</button>
    <p style="color:#00CCFF;font-size:40px;padding-left:35%;">Welcome</p>
    <p style="color:red;font-size:20px;">
    Note:<br/> (1) Before filling the information discuss with your board &nbsp&nbsp&nbsp&nbsp&nbspmembers as this information can be submitted only once.
         <br/> (2) Only one member can submit it on behalf of the company.
         <br/> (3) And remember to cross-check the details before &nbsp&nbsp&nbsp&nbsp&nbspsubmitting.
    </p>
</div>
<%end#%>
 <% if @company.values_decided %>
         <div class="alert alert-block alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4 class="alert-heading">Alert Message!</h4>
            <p> You have already decided your service level and product type, so changing them will incur a penalty</p>
          </div>
          <% else %>
         <div class="alert alert-block alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4 class="alert-heading">Alert Message!</h4>
            <p> You have not yet decided a service level or product type, so it is free. Further changes will incur a penalty</p>
          </div>
      <%end%>
        <br/> <div id="header" style="background-color:green;">
           <h1 style="color:white;"> Company type: <span style="color:#00CCFF;"><%= @company.service_type %></span></h1>
         </div>

          
          <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;">
           <div id="menu_1" style="border-right: white 3px solid;">
            
    <%= form_for(@company) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="square">
   <div class="small_square_1">
     <% if @company.service_level == 3 && @company.product_type == 1 %>
          <div class="free_square full_square" id ="square_1"> <% else %> <div class="free_square" id ="square_1"> <% end %>
            <span style="color:#00CCFF;"> Luxury Spaceship for a Space Hop </span>
        </div>
   </div>
   <div class="small_square_2" style="width:5cm;height:5cm;"> 
        <% if @company.service_level == 3 && @company.product_type == 3 %>
          <div class="free_square full_square" id ="square_2"> <% else %> <div class="free_square" id ="square_2"> <% end %>
         <span style="color:#00CCFF;"> Luxury Rocket to International Space Station </span>       
        </div>
    </div>
    <div class="small_square_3"> 
        <% if @company.service_level == 1 && @company.product_type == 1 %>
          <div class="free_square full_square" id ="square_3"> <% else %> <div class="free_square" id ="square_3"> <% end %>
          <span style="color:#00CCFF;"> Budget Spaceship for a Space Hop</span>
        </div>
    </div>
    <div class="small_square_4"> 
      <% if @company.service_level == 1 && @company.product_type == 3 %>
          <div class="free_square full_square" id ="square_4"> <% else %> <div class="free_square" id ="square_4"> <% end %>
        <span style="color:#00CCFF;"> Budget rocket to International Space Station </span>
       </div>
     </div>
</div>
<div class="statistics" >
      <div class="alpha60" style="padding-top:20px;padding-left:20px;padding-bottom:20px;padding-right:20px;">
    
      

        <% if @company.is_customer_facing? %>
            <%= render 'customer_facing_form', :f => f %>
      <% end %>
      <% if @company.is_operator? %>
            <%= render 'operator_form', :f => f %>
      <% end %>

      <% if @company.is_service? %>
             <%= render 'service_form', :f => f %>
      <% end %>


     <%= hidden_field_tag 'var_cost', @stat_hash["variable_limit"],  :id => "var_cost" %>
     <%= hidden_field_tag 'start_cost', @company.fixed_cost.round,  :id => "start_cost" %>
     <%= hidden_field_tag 'cid', @company.id,  :id => "cid" %>
    <p style="font-size:16px;color:white;padding-left:2%;">
      <%= f.label :risk_control_cost, "Investment in Quality", :style=> "font-size:16px;color:white;" %>
    <div class="slider_result" id ="risk_result"> <%=@company.risk_control_cost %></div>
       <div id="risk_slider"></div>
       <%= f.hidden_field :risk_control_cost, :id => "risk_cost" %>
 </p>

 <p style="font-size:16px;color:white;padding-left:2%;">
      <%= f.label :capacity_cost, "Investment in Launch Capacity", :style=> "font-size:16px;color:white;" %>
       <div class="slider_result" id ="capacity_result"> <%= @company.capacity_cost %> </div>
       <div id="capacity_slider"></div>
       <%= f.hidden_field :capacity_cost, :id => "capacity_cost" %>
 </p>

 <p style="font-size:16px;color:white;padding-left:2%;">
      <%= f.label :variable_cost, "Investment in Customer satisfaction", :style=> "font-size:16px;color:white;" %>
       <div class="slider_result" id="variable_result"> <%= @company.variable_cost %> </div>
       <div id="variable_slider"></div>
       <%= f.hidden_field :variable_cost, :id => "variable_cost" %>
 </p>

<div class="clear">
      
      
</div>
</div>   </div> 
<br/><%= f.submit "Submit", class: "btn btn-large btn-primary" %>

    <% end %>
          </div>
        </div>
              

  <div id="content" style="height:100%;width:45%;float:right;">
           <div class="statistics">
      <div class="alpha60">
      <h2 class="clear"> <span style="color:#00CCFF;"><%= @company.service_type %></span> Statistics </h2>
      <div class="clear" id="stats">
        <%= render 'stats', :stat_hash => @stat_hash, :company => @company %>
      </div></div></div></br>
            </div>
          <div id="footer" style="clear:both;text-align:center;">
          </div>

          
          



