<%= provide(:title, "Company")%>
<%# if !current_user.teacher?  %>
<%#<div class="modal show alpha60" id="myModal1" style="height:300px;padding-left:0.5cm;padding-right:0.5cm;padding-top:2cm;padding-bottom:2cm;" >
<%#<button data-dismiss="alert" class="close" type="button">×</button>
    <p style="color:#00CCFF;font-size:40px;padding-left:35%;">Welcome</p>
    <p style="color:red;font-size:20px;">
    Note:<br/> (1) Before filling the information discuss with your board &nbsp&nbsp&nbsp&nbsp&nbspmembers as this information can be submitted only once.
         <br/> (2) Only one member can submit it on behalf of the company.
         <br/> (3) And remember to cross-check the details before &nbsp&nbsp&nbsp&nbsp&nbspsubmitting.
    </p>
</div>
<%end#%>
<% if false %>
 <% if @company.values_decided && Game.get_game.current_round != 1 %>
         <div class="alert alert-block alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4 class="alert-heading">Alert Message!</h4>
            <p> You have already decided your service level and product type, so changing them will incur a penalty</p>
          </div>
          <% elsif Game.get_game.current_round != 1 %>
         <div class="alert alert-block alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4 class="alert-heading">Alert Message!</h4>
            <p> You have not yet decided a service level or product type, so it is free. Further changes will incur a penalty</p>
          </div>
      <%end%><% end %>
        <br/> <div id="header" style="background-color:green;">
           <h1 style="color:white;"> Business Plan</h1>
         </div>

          
          <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;">
           <div id="menu_1" style="border-right:#000 1px solid;">
  
          
         <%= form_for(@company) do |f| %>
         <%= render 'shared/error_messages', :object => f.object %>
          <label for="name""> <span style="font-size:16px;color:black;">Name <em style="font-size:12px;">(Must be within 5 to 20 characters.)</em></span></label>
         <%= f.text_field :name, :maxLength=>"20" , :style=>"width:6cm;"%>

         <div><%= f.submit "Change name", class: "btn btn-large btn-info" %></div>
         <% end %>
        
         
    <%= form_for(@company) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
   
    
    
    





  <%= render 'role_form', :f => f %>
  <br/>
  <div style="padding-left:24px;width:9.5cm;">
  <div style="width:9.5cm;padding-left:15px;padding-right:15px;padding-bottom:5px;">
      <br/>

       <p class="clear lead" style="text-align:center;font-size:24px;">  
         Set Cost Structure
       </p>
       <%= hidden_field_tag 'var_cost', @stat_hash["variable_limit"],  :id => "var_cost" %>
       <%= hidden_field_tag 'var_start', @stat_hash["variable_min"],  :id => "var_min" %>
       <%= hidden_field_tag 'fixed_sat_max', @company.company_type.limit_hash["max_fixed_sat"],  :id => "fixed_sat_max" %>
       <%= hidden_field_tag 'fixed_sat_min', @company.company_type.limit_hash["min_fixed_sat"],  :id => "fixed_sat_min" %>
       <%= hidden_field_tag 'cid', @company.id,  :id => "cid" %>
    
        <% if @company.company_type.marketing_produce? %>
          <%= render 'marketing_slider', :f => f %>
        <% end %>

        <% if @company.company_type.capacity_produce? %>
          <%= render 'capacity_slider', :f => f %>
        <% end %>

        <% if @company.company_type.unit_produce? %>
          <%= render 'unit_slider', :f => f %>
        <% end %>

        <% if @company.company_type.experience_produce? %>
          <%= render 'experience_slider', :f => f %>
        <% end %>

        <p style="font-size:16px;padding-left:2%;">
        <%= f.label :fixed_sat_cost, "#{t :fixed_sat_investment}", :style=> "font-size:16px;padding-left:5px;padding-right:5px;" %>
         
         <div class="slider_result" id="sat_result" style="color:#000000;"> <%= number_with_delimiter(@company.fixed_sat_cost) + " $" %> </div>
         
         <div id="sat_slider"></div>
         <% if @company.read_attribute(:fixed_sat_cost) %>
         <%= f.hidden_field :fixed_sat_cost, :id => "sat_cost" %>
         <% else %>
         <%= f.hidden_field :fixed_sat_cost, :id => "sat_cost", :value => 0 %>
         <% end %>
        </p><br/>

        <p style="font-size:16px;padding-left:2%;">
            <%= f.label :variable_cost, "#{t :variable_sat_investment}", :style=> "font-size:16px;padding-left:5px;padding-right:5px;" %>
             <div class="slider_result" id="variable_result" style="color:#000000;"> <%= @company.variable_cost %> </div>
             <div id="variable_slider"></div>
             <%= f.hidden_field :variable_cost, :id => "variable_cost" %>
        </p><br/>
        <div class="clear"></div>
      </div>
    </div>
    <br/>
    <div style="padding-left:300px;"><%= f.submit "Save Changes", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>


<div id="content" style="height:100%;width:45%;float:right;">
      <p class="clear lead" style="text-align:center;font-size:24px;">  
        Information
      </p>
      <div class="clear" id="stats">
        <%= render 'stats', :stat_hash => @stat_hash, :company => @company %>
      </div><br/>
</div>
<div id="footer" style="clear:both;text-align:center;">
</div>

          
          



