<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<% provide(:title, "Expand your supply chains") %>
<div style="padding-left:10px;">
<h1>Expand your supply chains</h1>

  
    <%= form_tag company_expand_update_path do %>

    <% @markets.each do |m| %>

    <p style="font-size:20px;"> <strong> <%= m.name %></strong> </p>

    <p> <%= t :c_expand_price %>: <%= number_with_precision(m.expansion_cost.round, precision: 0) %> </p>

    <% if @company.role.market == m %>
    <p style="color:red;font-size:16px;"> <strong> PRIMARY MARKET </strong> </p>

    <% elsif @expansions.keys.include?(m.id.to_s) %>
    <p style="color:red;font-size:12px;"> <strong> Already expanded </strong></p>

    <% else %>
    <div class="row">
    <div class="span6">
    <%= label_tag "markets[#{m.id}_1]", "Expand into" %>
    <%= radio_button_tag "markets[#{m.id}]", "1", @expansions[m.id.to_s] == "1" %>
 </div>
 <div class="span5">
    <%= label_tag "markets[#{m.id}]_0", "Don't expand into" %>
    <%= radio_button_tag "markets[#{m.id}]", "0", @expansions[m.id.to_s].nil? %>
    </div> </div>
    <% end %>
<br><br>
    <% end %>
<br><br><br>
      <%= submit_tag "Apply", class: "btn btn-large btn-primary span4" %>
    <% end %>
  </div>
  </div>
</div>