<%= provide(:title, 'All companies') %>
<h1>Companies</h1>
        <% if signed_in? && current_user.teacher? %>
           <%= link_to "Create a new company", new_company_path, :class => "btn btn-primary" %>
           <i class="icon-info-sign bluesign company_info"
            data-title="instruction"
            data-content="Create a Company to assign students">
           </i> <br/><br/><br/> 
        <%end %>

    <% if @companies.empty? && signed_in? && current_user.teacher? %>
        <p1> There are yet no companies in the game, create companies <%#<%= link_to "here", new_company_path %> </p1>
    <% else %>
        <div id = "companies"> 
        <%= render 'sidebar' %>
        
    <% end %>
    <%= render 'allcompaniesdata' %>     
 </div>

  <div id="footer" style="clear:both;text-align:center;">
  </div>  
<%#this is a demo %>
 <%# <%= render 'search_form' %>
 <%# <div id="companies_search">
 <%#call for ajax <%= render @companies %>
<%#<div id="footer_id">
<%#</div>
<%# </div>%>
