<%= provide(:title, 'All companies') %>
<h1>All Companies</h1>
        <% if current_user.isTeacher?  %>
           <%= link_to "Create a new company", new_company_path, :class => "btn btn-primary" %>
           <i class="icon-info-sign"
            data-title="instruction"
            data-content="Create a Company to assign students">
           </i> <br/><br/><br/> <%end %>
        
  <% if @companies.empty? && current_user.isTeacher? %>
  <p1> There are yet no companies in the game, create companies <%= link_to "here", new_company_path %> </p1>
  <% else %>
  <div id = "companies">
     <%# Operators%>
     <%= link_to "Operator(s)", operator_roles_path, :remote => true %> 
     <% @operator_companies.each do |r| %>
     <p> <%= link_to r.company.name, r.company %> </p>
     <%  end %>
    <%# Customer Facing Companies%> 
     <%= link_to "Customer Facing", customer_facing_roles_path, :remote => true %> 
     <% @customer_companies.each do |r| %>
     <p> <%= link_to r.company.name, r.company %> </p>
     <%  end %>
    <%# Technology Companies%>
     <%= link_to "Technology(ies)", service_roles_path("Technology"), :remote => true %> 
     <% @tech_companies.each do |r| %>
     <% unless r.has_contract? %> <p> <%= link_to r.company.name, r.company %> </p> <% end  %>
     <%  end %>
    <%# Suppliers%>
     <%= link_to "Supplier(s)", service_roles_path("Supplier"), :remote => true %> 
     <% @supply_companies.each do |r| %>
    <p> <% unless r.has_contract? %>  <%= link_to r.company.name, r.company %> <% else %> <%=r.company.name%> (Already made a contract with someone) </p>  <% end %>
     <%  end %>
  </div>
<% end %>


