<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'All companies') %>
<h1><%= t :c_index_companies %></h1>
        <% if signed_in? && current_user.teacher? %>
           <%= link_to "#{t :c_index_create}", new_company_path, :class => "btn btn-primary" %>
           <i class="icon-info-sign bluesign company_info"
            data-title="instruction"
            data-content="Create a company to assign students">
           </i> <br/><br/><br/> 
        <%end %>

    <% if @companies.empty? && signed_in? && current_user.teacher? %>
        <p1> <%= t :c_index_no_companies %>  <%#<%= link_to "here", new_company_path %> </p1>
    <% else %>
        <div id = "companies"> 
        <%= render 'sidebar' %>
        
    <% end %>
    <%= render 'allcompaniesdata' %>     
 </div>

<% if signed_in? && current_user.teacher? %>
      <p>  <%= link_to "Dump company data", companies_dump_path %>   </p>
      <p> <%= link_to 'Print business canvases', print_revisions_path %> </p>
<% end %>
  <div id="footer" style="clear:both;text-align:center;">
  </div>  
<%#this is a demo %>
 <%# <%= render 'search_form' %>
 <%# <div id="companies_search">
 <%#call for ajax <%= render @companies %>
<%#<div id="footer_id">
<%#</div>
<%# </div>%>
