<%= provide(:title, "Company")%>
<%# if !current_user.teacher?  %>
<%#<div class="modal show alpha60" id="myModal1" style="height:300px;padding-left:0.5cm;padding-right:0.5cm;padding-top:2cm;padding-bottom:2cm;" >
<%#<button data-dismiss="alert" class="close" type="button">×</button>
    <p style="color:#00CCFF;font-size:40px;padding-left:35%;">Welcome</p>
    <p style="color:red;font-size:20px;">
    Note:<br/> (1) Before filling the information discuss with your board &nbsp&nbsp&nbsp&nbsp&nbspmembers as this information can be submitted only once. 
         <br/> (2) Only one member can submit it on behalf of the company.
         <br/> (3) And remember to cross-check the details before &nbsp&nbsp&nbsp&nbsp&nbspsubmitting. 
    </p>
</div>
<%end#%>
<br/><br/><br/>
<div class="row">
    <div class="statistics">
      <div class="alpha60">
    
  <h2>Company type: <span style="color:white;"><%= @company.service_type %></span></h2>
    <%= form_tag init_update_path(@company) do %>
      <div style="padding-left:2%;padding-right:70%;">
      <label for="name""> <span style="font-size:16px;color:white;">Name <em style="font-size:12px;">(Must be within 5 to 20 characters.)</em></span></label>
      <%= text_field_tag :name, @company.name, :maxLength=>"20" %>
      </div>
      
      <div style="padding-left:2%;padding-right:4%;">
      <label for="about_us"> <span style="font-size:16px;color:white;">About Us</span></label>
      <%= text_area_tag :about_us, nil, :placeholder => "Write about your company, to help others to know more about your company.", :rows => "20" %>
      </div>

      <%= submit_tag "Submit", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>




