<%= provide(:title, "Company")%>

<div class="row">
  <div class="span6 offset3">
    
  <h2>Company type: <%= @company.service_type %></h2>
    <%= form_for(@company) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <label for="company_about_us">About Us</label>
      <%= f.text_area :about_us, :placeholder => "Write about your company, to help others to know more about your company." %>


        <% if @company.is_customer_facing? %>
            <%= render 'customer_facing_form', :f => f %>
      <% end  %>
      <% if @company.is_operator? %>
            <%= render 'operator_form', :f => f %>
      <% end  %>
      <% if @company.is_service?  %>
             <%= render 'service_form', :f => f %>
      <% end  %>
      <div class="clear">
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>


