<%= provide(:title, "#{@company.name}'s mailbox")%>

<h5> <%= @company.name%>'s briefcase </h5>
<h4> Deliverable(s) </h4>
<div class="show_block">
  <p1><i class="icon-chevron-down"></i>Show</p1></div>
    <div class="content_block">
      <p2><i class="icon-envelope"></i> <%= link_to "Business plan", show_plan_path(:id => @company.id)%> <%= render 'business_plans/status', :plan => @company.business_plan %>  <%= render 'eye_icon', :public => @company.business_plan.public? %> </p2><br/>
     </div>
<div class="hide_block"><p1><i class="icon-chevron-up"></i> Hide </p1></div>

<h4> Contracts <%if @company.contract_notifications? %> <%= image_tag("notification_icon.png") %> <% end %>  </h4>
<div class="show_block">
  <p1><i class="icon-chevron-down"></i>Show</p1></div>
    <div class="content_block">
    <% if @company.contracts_as_supplier.empty? && @company.contracts_as_buyer.empty? %>
    <p2> This company hasn't yet signed any contracts </p2>
    <% else %>
    <% @company.contracts_as_supplier.each do |c| %> <p2> <%= link_to "Contract with #{c.service_buyer.name}", c  %> (Provider) <%if c.under_negotiation %> <%= image_tag("notification_icon.png") %> <%  end %>  </p2><br/> <% end %>
    <% @company.contracts_as_buyer.each do |c| %> <p2> <%= link_to "Contract with #{c.service_provider.name}", c  %> (Buyer) <%if c.under_negotiation %> <%= image_tag("notification_icon.png") %> <%  end %> </p2><br/> <% end %>
    <% end %>
     </div>
<div class="hide_block"><p1><i class="icon-chevron-up"></i> Hide </p1></div>

<h4> Sent RFP(s) <% if  @company.sent_rfp_bid_notifications? %> <%= image_tag("notification_icon.png") %> <% end %>   </h4>
<div class="show_block">
  <p1><i class="icon-chevron-down"></i>Show</p1></div>
    <div class="content_block"> 
 <% if @company.sent_rfps.empty? %> 
   <p2>Currently there are no Sent RFP(s) </p2>
 <% else %>
      <% @company.sent_rfps.each do |rfp| %><p2><i class="icon-envelope"></i> <%= link_to "To #{rfp.receiver.name}", rfp%>  <%= render 'bid_mail', :rfp => rfp %> </p2><br/>
    <% end %>
<% end %>
    </div>
<div class="hide_block"><p1><i class="icon-chevron-up"></i> Hide </p1></div>

<h4> Received RFP(s) <% if @company.rfp_notifications? || @company.received_rfp_bid_notifications? %> <%= image_tag("notification_icon.png") %> <% end %>   </h4>
<div class="show_block">
  <p1><i class="icon-chevron-down"></i>Show </p1></div>
  <div class="content_block"> 
 <% if @company.received_rfps.empty? %> 
   <p2>Currently there are no received RFP(s) </p2>
 <% else %>
     <% @company.received_rfps.each do |rfp| %><p2><i class="icon-envelope"></i> <%= link_to "From #{rfp.sender.name}", rfp%> <% unless rfp.read %> <%= image_tag("notification_icon.png") %> <% end %>   <%= render 'bid_mail', :rfp => rfp %> </p2><br/>
   <% end %>
  <% end %>
</div>
<div class="hide_block"><p1><i class="icon-chevron-up"></i> Hide </p1> </div>
