<%= provide(:title, "#{@company.name}'s mailbox".html_safe)%>
<h5> <%= @company.name%>'s briefcase </h5> </br>

<ul class="nav nav-tabs" id="myTab">
<% if !@company.notifications? %> <li class="active"> <% else %> <li> <% end %><a href="#D" data-toggle="tab">Deliverable(s)</a></li>
  <% if @company.contract_notifications? %> <li class="active"> <% else %> <li> <% end %><a href="#C" data-toggle="tab">Contract(s) <%if @company.contract_notifications? %> <%=  image_tag("notify-steps.png")  %> <% end %> </a></li>
   <% if @company.sent_rfp_bid_notifications? && !@company.contract_notifications? %> <li class="active"> <% else %> <li> <% end %><a href="#SR" data-toggle="tab">Sent RFP(s) <% if  @company.sent_rfp_bid_notifications? %> <%=  image_tag("notify-steps.png")  %> <% end %> </a></li>
   <% if (@company.received_rfp_bid_notifications? || @company.rfp_notifications?) && ( !@company.sent_rfp_bid_notifications? && !@company.contract_notifications? ) %> <li class="active"> <% else %> <li> <% end %><a href="#RR" data-toggle="tab">Received RFP(s) <% if @company.rfp_notifications? || @company.received_rfp_bid_notifications? %> <%=  image_tag("notify-steps.png") %> <% end %></a></li>
</ul>



<div class="tab-content">
  <% if !@company.notifications? %> <div class="tab-pane active" id="D"> <% else %> <div class="tab-pane" id="D"> <% end %>
    <p><i class="icon-info-sign"></i>  <em>All the deliverables concerning this game will be shown below.</em></p></br></br>
    <p2><%= link_to "", show_plan_path(:id => @company.id)%> <%= render 'business_plans/status', :plan => @company.business_plan %>  <%= render 'eye_icon', :public => @company.business_plan.public? %> </p2><br/>
  </div>
  
  <% if @company.contract_notifications? %> <div class="tab-pane active" id="C"> <% else %> <div class="tab-pane" id="C"> <% end %>
    <p><i class="icon-info-sign"></i>  <em>Company(ies) with whom you have signed contracts.</em></p></br></br>
    <% if @company.contracts_as_supplier.empty? && @company.contracts_as_buyer.empty? %>
    <p2> This company hasn't yet signed any contracts </p2>
    <% else %>
    <% @company.contracts_as_supplier.each do |c| %> <p2> <%= link_to "#{c.service_buyer.name}", c  %> <%if c.under_negotiation %> <%=  image_tag("notify-steps.png")  %> <%  end %> <p style="font-size:14px;color:#980000;"><em><i class="icon-pencil"></i> You provide your service(s)/product(s) to this company </em> </p> </p2><br/></br> <% end %>
    <% @company.contracts_as_buyer.each do |c| %> <p2> <%= link_to "#{c.service_provider.name}", c  %> <%if c.under_negotiation %> <%=  image_tag("notify-steps.png")  %> <%  end %> <p style="font-size:14px;color:#980000;"> <em><i class="icon-pencil"></i> You buy service(s)/product(s) from this company </em> </p>  </p2><br/></br> <% end %>
    <% end %>
  </div>
  
   <% if @company.sent_rfp_bid_notifications? && !@company.contract_notifications? %> <div class="tab-pane active" id="SR"> <% else %> <div class="tab-pane" id="SR"> <% end %>
    <p><i class="icon-info-sign"></i>  <em>Company(ies) to whom you have sent RFP(s).</em></p></br></br>
    <% if @company.sent_rfps.empty? %> 
    <p2>Currently there are no Sent RFP(s) </p2>
    <% else %>
    <% @company.sent_rfps.each do |rfp| %><p2><%= link_to "#{rfp.receiver.name}", rfp%>   <%= render 'bid_mail', :rfp => rfp %> </p2><br/>
    <% end %> 
   <% end %>
  </div>
  
  <% if (@company.received_rfp_bid_notifications? || @company.rfp_notifications?) &&  (!@company.sent_rfp_bid_notifications? && !@company.contract_notifications?)  %> <div class="tab-pane active" id="RR"> <% else %> <div class="tab-pane" id="RR"> <% end %>
    <p><i class="icon-info-sign"></i>  <em>Company(ies) from whom you have received RFP(s).</em></p></br></br>
     <% if @company.received_rfps.empty? %> 
   <p2>Currently there are no received RFP(s) </p2>
 <% else %>
   <div id="bid_accordion" class="accordion">
<% @company.received_rfps.each do |rfp| %>

   
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#bid_accordion" href="#<%= "rfp#{rfp.id}body"  %>">
                  RFP from:  <%= rfp.sender.name %>.
                </a>
              </div>


  <%= render 'bid_mail', :rfp => rfp %> <br/>
             </div>
   <% end %>
   </div>
  <% end %>
 </div>
</div>

<div id="footer" style="clear:both;text-align:center;padding-top:10%;">
</div>





