<%= provide(:title, "#{@company.name}'s mailbox")%>
<h5> <%= @company.name%>'s briefcase </h5> </br>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#D" data-toggle="tab">Deliverable(s)</a></li>
  <li><a href="#C" data-toggle="tab">Contract(s) <%if @company.contract_notifications? %> <%=  image_tag("notify-steps.png")  %> <% end %> </a></li>
  <li><a href="#SR" data-toggle="tab">Sent RFP(s) <% if  @company.sent_rfp_bid_notifications? %> <%=  image_tag("notify-steps.png")  %> <% end %> </a></li>
  <li><a href="#RR" data-toggle="tab">Received RFP(s) <% if @company.rfp_notifications? || @company.received_rfp_bid_notifications? %> <%=  image_tag("notify-steps.png") %> <% end %></a></li>
</ul>



<div class="tab-content">
  <div class="tab-pane active" id="D"></br>
    <p2><%= link_to "", show_plan_path(:id => @company.id)%> <%= render 'business_plans/status', :plan => @company.business_plan %>  <%= render 'eye_icon', :public => @company.business_plan.public? %> </p2><br/>
  </div>
  
  <div class="tab-pane" id="C">
    <p><i class="icon-info-sign"></i>  <em>Company(ies) with whom you have signed contracts.</em></p></br></br>
    <% if @company.contracts_as_supplier.empty? && @company.contracts_as_buyer.empty? %>
    <p2> This company hasn't yet signed any contracts </p2>
    <% else %>
    <% @company.contracts_as_supplier.each do |c| %> <p2> <%= link_to "#{c.service_buyer.name}", c  %> <%if c.under_negotiation %> <%=  image_tag("notify-steps.png")  %> <%  end %> <p style="font-size:14px;color:#980000;"><em><i class="icon-pencil"></i> You provide your service(s)/product(s) to this company </em> </p> </p2><br/></br> <% end %>
    <% @company.contracts_as_buyer.each do |c| %> <p2> <%= link_to "#{c.service_provider.name}", c  %> <%if c.under_negotiation %> <%=  image_tag("notify-steps.png")  %> <%  end %> <p style="font-size:14px;color:#980000;"> <em><i class="icon-pencil"></i> You need to buy service(s)/product(s) from this company </em> </p>  </p2><br/></br> <% end %>
    <% end %>
  </div>
  
  <div class="tab-pane" id="SR">
    <p><i class="icon-info-sign"></i>  <em>Company(ies) to whom you have sent RFP(s).</em></p></br></br>
    <% if @company.sent_rfps.empty? %> 
    <p2>Currently there are no Sent RFP(s) </p2>
    <% else %>
    <% @company.sent_rfps.each do |rfp| %><p2><%= link_to "#{rfp.receiver.name}", rfp%>   <%= render 'bid_mail', :rfp => rfp %> </p2><br/>
    <% end %> 
   <% end %>
  </div>
  
  <div class="tab-pane" id="RR">
    <p><i class="icon-info-sign"></i>  <em>Company(ies) from whom you have received RFP(s).</em></p></br></br>
     <% if @company.received_rfps.empty? %> 
   <p2>Currently there are no received RFP(s) </p2>
 <% else %>
<% @company.received_rfps.each do |rfp| %>
<p2><%= link_to "#{rfp.sender.name}", rfp%> <% unless rfp.read %> <%=  image_tag("notify-steps.png")  %> <% end %> </br> 
  <%= render 'bid_mail', :rfp => rfp %> </p2><br/>
   <% end %>
  <% end %>
  </div>
</div>





