<%= provide(:title, "#{@company.name}'s results".html_safe)%>
<h1> <%= @company.name %>'s results </h1>

<div class="span3" id="report">
<!-- <p class="left lead" style="">Current values: </p>  -->
<input type="hidden" name="company_id" id="company_id" value="<%= @company.id %>"/>
<table class="tableizer-table1">
<p id="ranking"> Ranking: <%= @company.get_ranking %> / <%= @other_companies.size %>  </p>
              <%= render 'companies/company_stats_show' %>
              <% if @company.is_customer_facing? %> <%= render 'customer_facing_stats' %> <% end %>
              <tr><td style="background-color:yellow;text-align:left;">Owner:</td>
              <td style="background-color:yellow;text-align:right;">Group <%= @company.group.id %></td>
              </tr>
            </table>

<br>
<%= link_to "Show detailed reports", company_report_path(@company.id), :style => "font-size:18px;", :class => "lead", :id => "reports_button" %> <br><br>
</div>

<div class="span7">



<p> Statistics </p>
<div id="profits_chart" ></div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= raw  @company.report_data_table %> );
        data.setColumnProperty(2, 'role', 'tooltip');
        data.setColumnProperty(2, 'html', 'true');
        data.setColumnProperty(4, 'role', 'tooltip');
        data.setColumnProperty(4, 'html', 'true');
        data.setColumnProperty(6, 'role', 'tooltip');
        data.setColumnProperty(6, 'html', 'true');

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year', titleTextStyle: {color: 'red'}},
          tooltip: {isHtml: true}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('profits_chart'));
        chart.draw(data, options);
      }
    </script>
  

<div class="clear"></div>





   

    
