<%= provide(:title, @company.name)%>
      <% if !@company.business_plan.done? && current_user.isOwner?(@company) && !current_user.teacher? %>
         <div class="alert alert-block alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4 class="alert-heading">Alert Message!</h4>
            <p> Business Plan not ready. Please complete the business plan to proceed to next round</p>
          </div>
      <%end%>
      <h3> Welcome to <%= @company.name%>'s homepage! </h3>
         <div id="header" style="background-color:#FFD700;">
           <h1> Company Details and Administration </h1>
           <%= link_to "Company Profile", show_company_profile_path(@company) %>
         </div>
        <p id="about_us" style="font-size:16px;"> <strong> About <%= @company.name%>: </strong> <span style="font-size:16px;"> <%= @company.about_us %> </span></p>
                <% if current_user.isOwner?(@company) %> <button class="btn btn-info" id ="edit_about_us">Edit</button> <% end %>
               <%= form_tag update_about_path, :id => "edit_about_form" do %>
                <div class="ui-widget">
                   <%= text_area_tag 'about_us', @company.about_us, :class => "about",:size => "10x10" %>
                      </div>
                 <%= submit_tag "Update", :id => "update_about" %>
                 <% end %>

                  <%if !current_user.teacher? && Rfp.can_send?(current_user, @company) %><%= link_to "Send RFP", send_rfp_path(@company.id), :class => "btn btn-primary" %>
                  <sup>
                      <i class="icon-info-sign"
                       data-title="instruction"
                       data-content="A request for proposal (RFP) is a document that an organization posts to elicit bids from potential vendors for a product or service. For example, a new business or a business moving from a paper-based system to a computer-based system might request proposals for all the hardware, software, and user training required to establish and integrate the new system into the organization. ">
                      </i>
                  </sup> <% end %>
<br/><br/>
          
              <div id="menu" style="height:100%;width:50%;float:left;text-align:justify;">
           <div id="menu_1" style="border-right: #FFD700 3px solid;">
            <h2> Statistics </h2>
              <%= render 'companies/company_stats' %>
              <% if @company.is_operator? %> <%= render 'operator_stats' %> <% end %>
              <% if @company.is_customer_facing? %> <%= render 'customer_facing_stats' %> <% end %>
              <% if @company.is_service? %> <%= render 'service_stats' %> <% end %>
              <div style="text-align:justify;font-size:15px;line-height: 1.5;">
              <strong>Owner:</strong> Group <%= @company.group.id %> <br/>
              <strong>Members: </strong><br/></div>
                <% User.positions.each do |pos| %>
                   <% if @company.group.position(pos) %> <%= "#{pos}: " %> <%= link_to @company.group.position(pos).name, @company.group.position(pos)  %> <% else %>
                                <%= render 'users/position_form', :pos => pos %> <% end %>
                <% end %>
                <br/>
                
          </div>
          </div>
              


          <div id="content" style="height:100%;width:45%;float:right;">
          <h2> Management </h2><br/>
               <% if @company.business_plan %>
                 <p> <%= link_to 'Go to Business plan', show_plan_path(:id => @company.id), :class => "btn btn-primary"%>
                <% if @company.business_plan.done? %> Submitted: <%= @company.business_plan.submit_date %> <% end %>
                </p><br/>
                   <% if signed_in? && current_user.isOwner?(@company)%>
                      <%= link_to edit_business_plan_path(:id => @company.id), :class => "btn btn-info" do %>
                      <i class="icon-pencil icon-white"></i> Edit business plan
                      <% end %> <% unless @company.group.all_users_have_positions %><br/> <span style="font-size:12px;color:#980000;"> <em>(You can only edit business plan once all users have selected their positions in the company.)</em></span><% end %>
                   <% end %>
               <% end %>
              <br/><br/>
               <% if current_user.isOwner?(@company) %>
                 <%= link_to company_mail_path(@company) do %>
                 <i class="icon-shopping-cart"></i> Company Briefcase<% end %>
                <% if @company.notifications? %>
                 <%= image_tag("notify-steps.png") %>
                <% end %>
                 <sup><i class="icon-info-sign"
                       data-title="instruction"
                       data-content="You will find all your contract information and documents inside !">
                 </i></sup>

               <% end %><br/><br/>
              <h2> Objective status </h2><br/>
               <i class="icon-leaf"></i> Round 1: Business plan <% if @company.round_1_completed? %><%= image_tag("tick.png") %><% else %> <%= image_tag("cross.png") %><% end %><br/><br/>
               <i class="icon-leaf"></i> Round 2: Contracts<%if @company.is_customer_facing? %>, Sell Price and Target Market <% end %>
              <% if @company.round_2_completed? %> <%= image_tag("tick.png") %>
              <% else %>  <%= image_tag("cross.png") %><% end %><br/><br/>
               <div class="alert">
               <button data-dismiss="alert" class="close" type="button">×</button>
                <blockquote>
                 <p>The game is currently in Round <%= @game.current_round %>.</p>
                 <small><span style="color:#00CCFF;">Goal:</span><%= @game.get_round_objective %></small>
                </blockquote>
              </div>
            </div>
          <div id="footer" style="clear:both;text-align:center;">
          </div>

