<%= provide(:title, @company.name)%>

<p> Welcome to <%= @company.name%>'s homepage! </p>

<h2> About us </h2>
<p> <%= @company.about_us %> </p>

<p> Information about the company </p>

<p> Service type: <%= @company.service_type %> </p>

<p> Company size: <%= @company.size %> </p>

<p> Capacity: <%= @company.capacity %> / <%= @company.max_capacity %> </p>

<p> Quality: <%= @company.quality %> / <%= @company.max_quality %> </p>

<p> Customer Penetration: <%= @company.penetration %>% / <%= @company.max_penetration %>% </p>

<p> Fixed cost: <%= @company.fixedCost %> </p>
  
<p> Variable cost: <%= @company.variableCost %>

<p> Owner: Group <%= @company.group.id %> </p>

<p> Members: </p>

<% @company.group.users.each do |user|%>
<li> <%= link_to user.name, user%> </li>
<% end %>

</br>
<% if @company.business_plan%>
  <% if @company.business_plan.verified %>
  <p><span class="box verified"> Business plan status: Ready</span>
  <% elsif @company.business_plan.waiting %>
  <p> <span class="box waiting">Business plan status:Waiting for teacher verification</span> 
  <% else %>
   <p> <span class="box unfinished" >Business plan status: Not ready</span>
  <% end %>
   <%= link_to 'Check it out', show_plan_path(:id => @company.id), :class => "btn btn-primary"%> </p>
<% if signed_in? && current_user.isOwner?(@company) && !@company.business_plan.verified%>
<%= link_to edit_business_plan_path(:id => @company.id), :class => "btn btn-info" do %>
  <i class="icon-pencil icon-white"></i> Edit business plan
<% end %>
<% end %>
<% end %>
