<%= provide(:title, @company.name)%>
      <% if !@company.business_plan.done? && current_user.isOwner?(@company) && !current_user.teacher? %>
         <div class="alert alert-block alert-error fade in">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <h4 class="alert-heading">Alert Message!</h4>
            <p><%= t :canvas_not_ready %></p>
          </div>
      <%end%>
<h3> <%= t :welcome_message, company_name: @company.name %>  </h3>
         <div id="header" style="background-color:#FFD700;">
           <h1> <%= t :company_details %> </h1>
         </div>

          
          <div id="menu" style="height:100%;width:50%;float:left;">
           <div id="menu_1" style="border-right: #000000 1px solid;">

           <div style="display:inline;"> <p class="lead" style="text-align:center;font-size:24px;"> <%= t :management %></p>


<!-- <div class="right" style="width:50px;height:50px;padding-right:5px;">
  
 <%# if current_user.isOwner?(@company) %>
          <%# if  @company.notifications? %>
             <%#= link_to image_tag("briefcasesmallalert.png", :class => "bluesign" , :data => {:title => "Company Briefcase", :content => "You will find all your company contract information and documents inside !"}),company_mail_path(@company)%>
               <div style="font-size:8px;white-space: nowrap;text-align:center;">BRIEFCASE</div>
          <%# else %>
            <%#= link_to image_tag("briefcasesmall.png", :class => "bluesign" , :data => {:title => "Company Briefcase", :content => "You will find all your company contract information and documents inside !"}),company_mail_path(@company)%>
              <div style="font-size:8px;white-space: nowrap;text-align:center;">BRIEFCASE</div>

                <%# end %>

               <%# end %>

</div> -->



<div class="left" style="position:absolute;padding-bottom:10px;">
  <%= render 'static_pages/countdown' %>  
</div>

<div class="right" style="width:50px;padding-left:340px;padding-top:25px;padding-right:15px;">
        
<%= link_to image_tag("public.png", :class => "bluesign" , :data => {:title => "Public page",:content => "Your company public page reflects your company to the external world, you might consider updating it."}),show_company_profile_path(@company)%>
<div style="font-size:8px;white-space: nowrap;text-align:center;">PUBLIC PAGE</div>

</div>

  <% if current_user && ((current_user.teacher && @company.network_ready?) || current_user.company.network_ready?) %>
<div style="position:relative;width:40px;height:30px;padding-left:280px;bottom:55px;">
            
<%= link_to image_tag("networklogo.png"),network_path(@company.id)%>
<div style="font-size:8px;white-space: nowrap;text-align:center;">NETWORK</div>

</div>
<% end %>



          </div> <br><br><br>
            
            <% if current_user.isOwner?(@company) %>
           <%= link_to image_tag("editstats.png"), edit_company_path(@company) %>  

           <% end %>
            <% if @company.company_reports.size != 0 && current_user.isOwner?(@company) %> 
            <%= link_to image_tag("reports.png") ,company_results_path(@company.id)%>
            <% end %>
          
           <%# For processes %>

   <% if current_user.isOwner?(@company) %>
          <% if  @company.notifications? %>
             <%= link_to image_tag("processalert.png", :class => "bluesign" , :data => {:title => "Contract", :content => "You will find all your company contract information and documents inside !"}),company_mail_path(@company, :anchor => "P")%>
          <% else %>
            <%= link_to image_tag("process.png", :class => "bluesign" , :data => {:title => "Contract", :content => "You will find all your company contract information and documents inside !"}),company_mail_path(@company, :anchor => "P")%>

                <% end %>

               <% end %>



           <%# if current_user.isOwner?(@company) %>
          <%# if  @company.notifications? %>
             <%#= link_to image_tag("briefcaseexclaim.png", :class => "bluesign" , :data => {:title => "Company Briefcase", :content => "You will find all your company contract information and documents inside !"}),company_mail_path(@company)%>
          <%# else %>
            <%#= link_to image_tag("briefcase.png", :class => "bluesign" , :data => {:title => "Company Briefcase", :content => "You will find all your company contract information and documents inside !"}),company_mail_path(@company)%>

                <%# end %>

               <%# end %>
        <% if @company.business_plan %>
            <% if @company.business_plan.done? %>
                <%= link_to image_tag("bmc.png"), @company.revisions.last%>
            <% else %>
                <%= link_to image_tag("bmcstatus.png"), show_plan_path(:id => @company.id)%>
              <% end %>
           <%# <% if @company.business_plan.done?  Business Plan Submitted at: <%= @company.business_plan.submit_date  <% end  %>
                <br/>
                  
               <% end %>
             
              

                <br/><br/><br/>


              <div id="member">
                <div class="lead" style="font-size:20px;display:inline;"><%= t :members %>: </div>
                <div class="roundtable">
                  <%= image_tag("boardtable.png") %>
                
              
                <div class="CEOmember">
                    <% if @company.group.position(User.positions[0]) %>
                    
                    <%= link_to image_tag("blue.png"),  @company.group.position(User.positions[0]) %>
                    <br/> <span style="background-color:yellow;"> <%= @company.group.position(User.positions[0]).name %> </span>
                    <% else %>
                     <%if signed_in? && current_user.isOwner?(@company) && !current_user.teacher?  %> <%= render 'users/position_form', :pos => User.positions[0] %>
                     <% else %>
                          <%= image_tag("grey.png" ,  :class => "bluesign") %> <% end %>
                    <% end %>
                </div>
                
                <div class="CFOmember">
                  <% if @company.group.position(User.positions[1]) %>
                   <span style="background-color:yellow;position: absolute;left:10%;"> <%= @company.group.position(User.positions[1]).name%> </span>
                   <br/> <%= link_to image_tag("blue.png"),  @company.group.position(User.positions[1]) %>
                 
                    <% else %>
                    <%if signed_in? && current_user.isOwner?(@company) && !current_user.teacher?   %> <%= render 'users/position_form', :pos => User.positions[1] %>
                     <% else %>
                          <%= image_tag("grey.png" ,  :class => "bluesign") %> <% end %>
                  <% end %>
                </div>
                  
                <div class="VPMmember">
                <% if @company.group.position(User.positions[2]) %> 
                <span style="background-color:yellow;position: absolute;left:10%;"><%= @company.group.position(User.positions[2]).name%></span>
               <br/>   <%= link_to image_tag("blue.png"),  @company.group.position(User.positions[2]) %>
                  <% else %>
                    <%if signed_in? && current_user.isOwner?(@company) && !current_user.teacher?   %> <%= render 'users/position_form', :pos => User.positions[2] %>
                     <% else %>
                          <%= image_tag("grey.png" ,  :class => "bluesign") %> <% end %>
                  <% end %>
                </div>
                  
                <div class="COOmember">
                   <% if @company.group.position(User.positions[3]) %>
                  
                    <%= link_to image_tag("blue.png"),  @company.group.position(User.positions[3]) %>
                    <br/><span style="background-color:yellow;position: absolute;left:-40%;"><%= @company.group.position(User.positions[3]).name%></span>
                    <% else %>
                    <%if signed_in? && current_user.isOwner?(@company) && !current_user.teacher?   %> <%= render 'users/position_form', :pos => User.positions[3] %>
                     <% else %>
                          <%= image_tag("grey.png" ,  :class => "bluesign") %> <% end %>
                  <% end %>
                </div>
                  
                <div class="VPSmember">
                   <% if @company.group.position(User.positions[4]) %> 
                   <%= link_to image_tag("blue.png"),  @company.group.position(User.positions[4]) %>
                  <br/><span style="background-color:yellow;"><%= @company.group.position(User.positions[4]).name%> </span>
                  <% else %>
                    <%if signed_in? && current_user.isOwner?(@company) && !current_user.teacher?   %> <%= render 'users/position_form', :pos => User.positions[4] %>
                     <% else %>
                          <%= image_tag("grey.png" ,  :class => "bluesign") %> <% end %>
                  <% end %>
                </div>
              </div>
              </div>    
          </div>
        </div>
              


          <div id="content" style="height:100%;width:48%;float:right;">


        
<p style="text-align:center;font-size:24px;"> Company summary</p>
 <table class="tableizer-table1">
              
              <%= render 'companies/company_stats_show' %>
              <% if @company.is_customer_facing? %> <%= render 'customer_facing_stats' %> <% end %>
              <tr><td style="text-align:left;">Owner:</td>
              <td style="text-align:right;">Group <%= @company.group.id %></td>
              </tr>
            </table>       
          
   <br><br><br>

      <div class="accordion" id="accordion2">
          <div class="accordion-group" style="border-left-style: hidden;border-right-style: hidden;border-bottom-style: hidden;">
            <div class="accordion-heading">
              <a style="text-align:center;font-size:16px;color:#000000;" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseGameStatus" id="collapsearrow" >
                
              <%= t :game_status %> 
              <i id="collapsestatusdown" class="icon-circle-arrow-down right"></i> 
              <i id="collapsestatusup" class="icon-circle-arrow-up right"></i>
              </a>
            </div>
            <div id="collapseGameStatus" class="accordion-body">
              <div class="accordion-inner">
                
                <% if @company.revisions.last %>
                   <p2><%= link_to @company.revisions.last do %> <%= render 'business_plans/status', :plan => @company.business_plan %>  <%= render 'eye_icon', :public => @company.business_plan.public? %> </p2><% end %>
               <% else %>
                   <p2><%= link_to show_plan_path(:id => @company.id) do %> <%= render 'business_plans/status', :plan => @company.business_plan %>  <%= render 'eye_icon', :public => @company.business_plan.public? %> </p2><% end %>
               <% end%>  
               <% if @company.plan_notifications? %> <%=  image_tag("notify-steps.png")  %> <%  end %> <br/>
               <br/>  
               <% if signed_in? && !current_user.teacher && current_user.isOwner?(@company) %>
                   <p> <span class="lead" style="font-size:20px;" > Game round  
                    <span style="font-size:24px;color:#591627;padding-left:2px;"><strong> <%= @game.current_round %> </strong>
                    </span></span>
                    <%= image_tag("info.png", :class => "bluesign" , :style=>"vertical-align: super;padding-left:2px;" , :data => {:title => "Goal", :content => @game.get_round_objective}) %>
                  </p>
               <% end %>
              
    <table class="tableizer-table">
     <tr>
             
                <td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;"> <%= t :company_show_status_name %>  </td>
                <td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;"> <%= t :company_show_status_canvas %>  </td>
                <td style="text-align:center;width:100%;font-size:16px;background-color:#000000;color:#ffffff;"> <%= t :company_show_status_process %> </td>
                </tr>
                <% @company.group.users.each do |u| %>

                <tr>
                  <% if u.process_action_year == @game.sub_round %>
                  <td style="text-align:center;"><%= u.name %> </td>
                  <% else %>
                  <td style="text-align:center;color:red;"><%= u.name %> </td>
                  <% end %>
                  <td style="text-align:center;"> 
                    <% if u.plan_requirement_done?  %>  
                      <%= image_tag("tick.png") %>   
                    <% else %> 
                      <%= image_tag("cross.png") %> 
                    <% end %>
                  </td>
                  <td> 
                    <% if  u.process_requirement_done? %> 
                        <% @company.contract_processes.each do |process| %>
                          <div style="font-size:14px;text-align:center;">
                            <% if process.resp_user?(u) %> 
                             <% if @company.company_type.need?(process.other_party(@company).company_type) %>
                                Buying from 
                             <% else %>
                                Selling to 
                             <% end %> 
                             <%= "#{process.other_party(@company).name}" %> 
                             <div style="font-size:10px;">
                             <% if process.resp_user(process.other_party(@company)) %> 
                             <%= link_to process.resp_user(process.other_party(@company)) do %><i class="icon-user"></i> <%= process.resp_user(process.other_party(@company)).name %> <% end %>
                             <% else %> 
                               <i class="icon-user"></i>No responsible yet 
                             <% end %> 
                             </div><br>
                            <% end %>
                            <% end %>  

                          </div>
                       
                   
                      <%#= image_tag("tick.png") %> 
                    <% else %>
                      <%#= image_tag("cross.png") %>
                       <div style="text-align:center;">
                      <%= image_tag("cross.png") %> </div>
                   <!--  <div style="font-size:14px;"> Not negotiating with anyone </div> -->
                    <% end %>
                    
                  </td>
                </tr>

                <% end %>
              </table>

              </div>
            </div>
          </div>
        </div>




          
               
            </div>
          <div id="footer" style="clear:both;text-align:center;">
          </div>

          
          
          
          
          
          
          
          
          



