<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<table class="tableizer-table">
<tr class="tableizer-firstrow">
<td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;"><%= report.year %></td> 
   <tr><td>&nbsp;</td></tr>
  <tr><td><%= report.launches %></td></tr><%#Total number of launches delivered%>
  <% if @company.is_customer_facing? %>

   
    <% if @company.role.sales_made %>
      <tr><td><%= report.customer_amount %></td></tr><%#Total number of Customers delivered%>
    <% else %>
        <tr><td>- </td></tr><%#Total number of Customers delivered%>
        <% end %>


  <% else %>
  <tr><td>- </td></tr><%#Total number of Customers delivered%>
  <% end %>
        
  <tr><td>&nbsp;</td></tr>
       <tr><td><%= number_with_precision report.customer_revenue, :precision => 0, :delimiter => " " %></td></tr>
       <%#revenue generated%>
       <tr><td><%= number_with_precision report.total_fixed_cost, :precision => 0, :delimiter => " " %></td></tr>
       <%#total fixed cost%>
       <tr><td><%= number_with_precision report.total_variable_cost, :precision => 0, :delimiter => " " %></td></tr><%#Total Variable Cost %>

       
       <%#Profit%>
       <% if report.profit >= 0 %>  <tr><td style="background-color:#00FF33"> <%= number_with_precision report.profit , :precision => 0, :delimiter => " "%></td></tr>
       <% else %> <tr><td style="background-color:#FF0000"> <%= number_with_precision report.profit , :precision => 0, :delimiter => " "%></td></tr> <% end %>

       



       <tr><td>&nbsp;</td></tr>
        <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
     </tr>
       
        
     
    
       <%#Penalty Cost%>
       
       <% if @company.company_type.marketing_produce? %>
       <tr><td><%=number_with_precision report.marketing_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

       <% if @company.company_type.experience_produce? %>
       <tr><td><%=number_with_precision report.experience_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

       <% if @company.company_type.unit_produce? %>
       <tr><td><%=number_with_precision report.unit_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

       <% if @company.company_type.capacity_produce? %>
       <tr><td><%=number_with_precision report.capacity_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

    <tr><td><%= number_with_precision  report.fixed_sat_cost, :precision => 0, :delimiter => " " %> </td></tr<%#Investment in quality%>

       <tr><td><%= number_with_precision report.break_cost, :precision => 0, :delimiter => " "%> </td></tr>
       <tr><td><%= number_with_precision report.loan_cost, :precision => 0, :delimiter => " "%> </td></tr>
       <tr><td><%= number_with_precision report.expansion_cost, :precision => 0, :delimiter => " "%> </td></tr>
      <tr><td>&nbsp;</td></tr>
      
       
       <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
       <tr><td><%= number_with_precision report.variable_cost * report.launches, :precision => 0, :delimiter => " "%> </td></tr> <%#Company own variable cost %>
          <tr><td><%= number_with_precision report.contract_cost, :precision => 0, :delimiter => " "  %></td></tr><%#Cost from contract%>

          <% unless report.market_data.empty? %>
          <tr><td>&nbsp;</td></tr>
          <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
          <% Market.order(:id).all.each do |m| %>
            <% unless report.market_data[m.name].nil? || report.market_data[m.name]["launches"].nil? || report.market_data[m.name]["launches"] == 0 %>
            <tr><td style="border:#FFFFFF;background-color:yellow;text-align:left;">&nbsp;</td></tr>
            <tr><td style="text-align:right;"><%= report.market_data[m.name]["launches"]  %> </td></tr>
            <tr><td style="text-align:right;"> <%= "%.2f" % report.market_data[m.name]["sat"] %> </td></tr>

            <% else %>
            <tr><td style="border:#FFFFFF;background-color:yellow;text-align:left;">&nbsp;</td></tr>
            <tr><td style="text-align:right;"> - </td></tr>
            <tr><td style="text-align:right;"> - </td></tr>
            <% end %>

        <% end %>

            <% end %>

          
</table>