<table class="tableizer-table">
<tr class="tableizer-firstrow">
  <th> <%= report.year %></th></tr> 
  <tr><td>&nbsp;</td></tr>
       <tr><td><%= number_with_precision report.customer_revenue, :precision => 0, :delimiter => "," %></td></tr><%#revenue generated%>
       <tr><td><%= number_with_precision report.total_fixed_cost, :precision => 0, :delimiter => "," %></td></tr><%#total fixed cost%>
       

       <tr><td><%= number_with_precision report.contract_cost, :precision => 0, :delimiter => ","  %></td></tr><%#Total cost from contracts%>
       <tr><td><%= number_with_precision report.variable_cost * report.launches, :precision => 0, :delimiter => ","%> </td></tr> <%#Total customer satisfation cost%>
       <tr><td><%= number_with_precision report.accident_cost, :precision => 0, :delimiter => ","%> </td></tr>
       <% if report.profit >= 0 %>  <tr><td> <%= number_with_precision report.profit , :precision => 0, :delimiter => ","%></td></tr><%#Profit%>
       <% else %> <tr><td style="color:red"> <%= number_with_precision report.profit , :precision => 0, :delimiter => ","%></td></tr> <% end %>
       <tr><td>&nbsp;</td></tr>
       <tr><td><%=number_with_precision report.extra_cost, :precision => 0, :delimiter => "," %></td></tr> <%#Penalty Cost%>
       <tr><td><%=number_with_precision report.launch_capacity_cost, :precision => 0, :delimiter => "," %></td></tr> <%#Launch Capacity Cost%>
       <tr><td><%=number_with_precision report.risk_control, :precision => 0, :delimiter => "," %></td></tr><%#Quality Cost%>
      <tr><td>&nbsp;</td></tr>
       <tr><td><%= report.launches %></td></tr><%#Total number of launches delivered%>
      <tr><td>&nbsp;</td></tr>
       <tr><td><%= number_with_precision report.variable_cost, :precision => 0, :delimiter => "," %></td></tr> <%#Selected Variable Cost%>
       <tr><td><%= number_with_precision report.total_variable_cost, :precision => 0, :delimiter => "," %></td></tr><%#Total Variable Cost %>
</table>
