<table class="tableizer-table">
<tr class="tableizer-firstrow">
<td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;"><%= report.year %></td> 
   <tr><td>&nbsp;</td></tr>
  <tr><td><%= report.launches %></td></tr><%#Total number of launches delivered%>
  <% if @company.is_customer_facing? %>

    <% network_report = report.company.network_reports.where(:year => report.year).first %>
    <% if network_report && network_report.sales %>
      <tr><td><%= network_report.sales %></td></tr><%#Total number of Customers delivered%>
    <% else %>
        <tr><td>- </td></tr><%#Total number of Customers delivered%>
        <% end %>


  <% else %>
  <tr><td>- </td></tr><%#Total number of Customers delivered%>
  <% end %>
        
  <tr><td>&nbsp;</td></tr>
       <tr><td><%= number_with_precision report.customer_revenue, :precision => 0, :delimiter => " " %></td></tr>
       <%#revenue generated%>
       <tr><td><%= number_with_precision report.total_fixed_cost, :precision => 0, :delimiter => " " %></td></tr>
       <%#total fixed cost%>
       <tr><td><%= number_with_precision report.total_variable_cost, :precision => 0, :delimiter => " " %></td></tr><%#Total Variable Cost %>

       
       <%#Profit%>
       <% if report.profit >= 0 %>  <tr><td style="background-color:#00FF33"> <%= number_with_precision report.profit , :precision => 0, :delimiter => " "%></td></tr>
       <% else %> <tr><td style="background-color:#FF0000"> <%= number_with_precision report.profit , :precision => 0, :delimiter => " "%></td></tr> <% end %>

       <%#Share of network profit%>
       <% if report.company.network_reports.where(:year => report.year).first && report.company.network_reports.where(:year => report.year).first.customer_revenue %>
          <% network_report = report.company.network_reports.where(:year => report.year).first %>
           <% network_profit = (network_report.customer_revenue - network_report.net_cost).round %>
          <% if network_profit > 0 %>
          <% if report.profit >= 0 %>
          <tr><td style="background-color:#00FF33"><%= ((report.profit/network_profit)*100).abs.round %>  </td></tr>
          <% else %>
           <tr><td style="background-color:#FF0000"><%= ((report.profit/network_profit)*100).abs.round %>  </td></tr>
          <% end %>
          <% else %>
           <tr><td>-</td></tr>
          <% end %>
         <% end %>




       <tr><td>&nbsp;</td></tr>
        <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
     </tr>
       
        
     
    
       <%#Penalty Cost%>
       
       <% if @company.company_type.marketing_produce? %>
       <tr><td><%=number_with_precision report.marketing_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

       <% if @company.company_type.experience_produce? %>
       <tr><td><%=number_with_precision report.experience_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

       <% if @company.company_type.unit_produce? %>
       <tr><td><%=number_with_precision report.unit_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>

       <% if @company.company_type.capacity_produce? %>
       <tr><td><%=number_with_precision report.capacity_cost, :precision => 0, :delimiter => " " %></td></tr>
       <% end %>
    <tr><td><%= report.fixed_sat_cost %> </td></tr<%#Investment in quality%>
       <tr><td><%= number_with_precision report.break_cost, :precision => 0, :delimiter => " "%> </td></tr>
      <tr><td>&nbsp;</td></tr>
      
       
       <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">&nbsp;</td>
       <tr><td><%= number_with_precision report.variable_cost * report.launches, :precision => 0, :delimiter => " "%> </td></tr> <%#Company own variable cost %>
          <tr><td><%= number_with_precision report.contract_cost, :precision => 0, :delimiter => " "  %></td></tr><%#Cost from contract%>

          
</table>
