<%= provide(:title, "Your results") %>
<br/><br/>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#CR" data-toggle="tab">Company report</a></li>
  <li><a href="#NR" data-toggle="tab">Network report</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="CR">  
    <table class="tableizer-table">
      <tr class="tableizer-firstrow">
       <th>Year</th></tr> 
       <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Revenue generated ($)</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Total fixed cost ($)</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Total variable cost ($)</td></tr>     
       <tr><td style="background-color:#00CCFF;text-align:left;">Profit ($)</td></tr> 
       <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Reconstructing cost ($)</td></tr>
       <% if @company.company_type.marketing_produce? %>
       <tr><td style="background-color:yellow;text-align:left;">Marketing cost ($)</td></tr>
       <% end %>
       <% if @company.company_type.experience_produce? %>
       <tr><td style="background-color:yellow;text-align:left;">Experience cost ($)</td></tr>
       <% end %>
       <% if @company.company_type.unit_produce? %>
       <tr><td style="background-color:yellow;text-align:left;">Unit amount cost ($)</td></tr>
       <% end %>
       <% if @company.company_type.capacity_produce? %>
       <tr><td style="background-color:yellow;text-align:left;">Capacity cost ($)</td></tr>
       <% end %>
       <tr><td style="background-color:yellow;text-align:left;">Cost from breaking contract ($)</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Total number of launches delivered</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Selected variable cost ($)</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Total cost from contracts ($)</td></tr>
       <tr><td style="background-color:yellow;text-align:left;">Total customer satisfation cost ($)</td></tr>
     </table>
   
     <% @company_reports.each do |cr| %>
     <% if !@game.results_published && cr.year == @game.sub_round-1 && !current_user.teacher%>
      <table class="tableizer-table">
      <tr class="tableizer-firstrow">
       <th><%= cr.year %></th></tr> 
       <tr><td>&nbsp;</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>&nbsp;</td></tr> 
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr> 
       <tr><td>Not Published</td></tr> 
     </table>

     <%else%>
     <%=render "company_report", :report => cr%>
     <% end %>
     <% end %>
    </div>
  
  <div class="tab-pane" id="NR">
    <table class="tableizer-table">
      <tr class="tableizer-firstrow">
         <th>Year</th></tr>
         <tr><td style="background-color:yellow;text-align:left;">Network lead by:</td></tr>
         <tr><td style="background-color:yellow;text-align:left;">Sales made</td></tr>
         <tr><td style="background-color:yellow;text-align:left;">Revenue from Customers ($)</td></tr>
         <tr><td style="background-color:yellow;text-align:left;">Network costs ($)</td></tr>
         <tr><td style="background-color:yellow;text-align:left;">Customer satisfation</td></tr>
         <tr><td style="background-color:yellow;text-align:left;">Maximum number of launches</td></tr>
         <tr><td style="background-color:#00CCFF;text-align:left;">Total number of launches delivered</td></tr>
         <tr><td style="background-color:yellow;text-align:left;">Companies in the network this year</td></tr>
     </table>
    <% if !@network_reports.nil? %>
    <% @network_reports.each do |nr|  %>
    <% if !@game.results_published && nr.year == @game.sub_round-1 && !current_user.teacher %>
      <table class="tableizer-table">
      <tr class="tableizer-firstrow">
            <th><%= nr.year %></th></tr>
            <tr><td style="background-color: yellow;">Not Published</td></tr> 
            <tr><td style="background-color: yellow;">Not Published</td></tr> 
            <tr><td style="background-color:yellow;">Not Published</td></tr>
            <tr><td style="background-color:yellow;">Not Published</td></tr> 
            <tr><td style="background-color: yellow;">Not Published</td></tr>
            <tr><td style="background-color: yellow;">Not Published</td></tr>
            <tr><td style="background-color: yellow;">Not Published</td></tr>
            <tr><td style="background-color: #00CCFF;">Not Published</td></tr>
     </table>
     <%else%>
    <%=render "network_reports/network_report", :report => nr %>
     <% end %>
    <% end %>
   <% end %>


  </div>
  </div>
  
<div id="footer" style="clear:both;text-align:center;padding-top:10%;">
</div>
  
  


  
  
  





  
  
  
  