<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, "Your results") %>
<br/><br/>
<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#CR" data-toggle="tab">Company report</a></li>
  <% if Game.get_game.sub_round < 1 %>
  <li><a href="#NR" data-toggle="tab">Network report</a></li> <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="CR">  
    <table class="tableizer-table">
      <tr class="tableizer-firstrow">
       <td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;">Year</td></tr> 
        <tr><td>&nbsp;</td></tr>
        <tr><td style="text-align:left;">Total number of launches</td></tr>
       <tr><td style="text-align:left;">Total number of customers served</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td style="text-align:left;">Revenue generated ($)</td></tr>
       <tr><td style="text-align:left;">Total fixed cost ($)</td></tr>
       <tr><td style="text-align:left;">Total variable cost ($)</td></tr>     
       <tr><td style="background-color:#FFFFCC;text-align:left;">Profit ($)</td></tr> 

      

       <tr><td>&nbsp;</td></tr>
       
       <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">Fixed cost</td>
     </tr>
       
     

       <% if @company.company_type.marketing_produce? %>
       <tr><td style="text-align:left;">Investment in company operation ($)</td></tr>
       <% end %>
       <% if @company.company_type.experience_produce? %>
       <tr><td style="text-align:left;">Investment in company operation ($)</td></tr>
       <% end %>
       <% if @company.company_type.unit_produce? %>
       <tr><td style="text-align:left;">Investment in company operation ($)</td></tr>
       <% end %>
       <% if @company.company_type.capacity_produce? %>
       <tr><td style="text-align:left;">Investment in company operation ($)</td></tr>
       <% end %>
         <tr><td style="text-align:left;">Investment in quality</td></tr>
       <tr><td style="text-align:left;">Cost from breaking contract ($)</td></tr>
       <tr><td style="text-align:left;">Cost from loans ($)</td></tr>
       <tr><td style="text-align:left;">Cost from supply chain expansions ($)</td></tr>

       <tr><td>&nbsp;</td></tr>
         <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">Variable cost</td>
     </tr>
      <tr><td style="text-align:left;">Company own variable cost ($)</td></tr>
       <tr><td style="text-align:left;">Cost from contract ($)</td></tr>

      <tr><td>&nbsp;</td></tr>
         <tr><td style="border:#FFFFFF;background-color:#B8B8B8;text-align:left;">Market specific data</td></tr>
      <% Market.order(:id).all.each do |m|  %>
<tr><td style="background-color:yellow;text-align:left;"> <%= m.name %> </td></tr>
          <tr><td style="text-align:left;"><%= t :market_data_launches %> </td></tr>
          <tr><td style="text-align:left;"><%= t :market_data_sat %></td></tr>

       <% end %>
      
     </table>

    
   
     <% @company_reports.each do |cr| %>
     <% if !@game.results_published && cr.year == @game.sub_round-1 && !current_user.teacher%>
      <table class="tableizer-table">
      <tr class="tableizer-firstrow">
       <th><%= cr.year %></th></tr> 
       <tr><td>&nbsp;</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>&nbsp;</td></tr> 
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>&nbsp;</td></tr>
       <tr><td>Not Published</td></tr>
       <tr><td>Not Published</td></tr> 
       <tr><td>Not Published</td></tr> 
     </table>

     <%else%>
     <%=render "company_report", :report => cr%>
     <% end %>
     <% end %>
    </div>
  <% if Game.get_game.sub_round < 1 %>
  <div class="tab-pane" id="NR">
    <table class="tableizer-table">
      <tr class="tableizer-firstrow">

         <td style="text-align:center;font-size:16px;background-color:#000000;color:#ffffff;">Year</td></tr>
       
         

         <tr><td style="text-align:left;">Network lead by:</td></tr>
         <tr><td style="text-align:left;">Maximum number of launches</td></tr>
         <tr><td style="text-align:left;">Actual launches</td></tr>
         <tr><td style="text-align:left;">Launch efficiency (%)</td></tr>
         <tr><td style="text-align:left;">Customers served</td></tr>
         <tr><td style="text-align:left;">Utilization (%)</td></tr>

         <tr><td style="text-align:left;">Revenue from Customers ($)</td></tr>
         <tr><td style="text-align:left;">Network costs ($)</td></tr>
         <tr><td style="text-align:left;">Network profits ($)</td></tr>
         <tr><td style="text-align:left;">Customer satisfation</td></tr>
         
         <tr><td style="text-align:left;">Companies in the network this year</td></tr>

     </table>
    <% if !@network_reports.nil? %>
    <% @network_reports.each do |nr|  %>
    <% if !@game.results_published && nr.year == @game.sub_round-1 && !current_user.teacher %>
      <table class="tableizer-table">
      <tr class="tableizer-firstrow">
            <th><%= nr.year %></th></tr>
            <tr><td style="background-color: yellow;">Not Published</td></tr> 
            <tr><td style="background-color: yellow;">Not Published</td></tr> 
            <tr><td style="background-color:yellow;">Not Published</td></tr>
            <tr><td style="background-color:yellow;">Not Published</td></tr> 
            <tr><td style="background-color: yellow;">Not Published</td></tr>
            <tr><td style="background-color: yellow;">Not Published</td></tr>
            <tr><td style="background-color: yellow;">Not Published</td></tr>
            <tr><td style="background-color: #00CCFF;">Not Published</td></tr>
     </table>
     <%else%>
    <%=render "network_reports/network_report", :report => nr %>
     <% end %>
    <% end %>
   <% end %>


  </div>
  </div>
  <% end %>
<div id="footer" style="clear:both;text-align:center;padding-top:10%;">
</div>
  
  


  
  
  





  
  
  
  