<%= provide(:title, "Year #{@report.year} finance report") %>

<br/><br/><br/><br/>
<% @report.company.company_reports.each do |r|  %>
<%= link_to "Report #{r.year}", r  , :style=> "font-size:18px;font-family:serif;color:green;padding-left:20px;"%>
<% if r.id == @report.id %> 
<i class="icon-chevron-left"></i><i class="icon-chevron-left"></i> 
<% end %>
<% end %><br/><br/><br/>



<div style="font-size:30px;font-family:serif;">
  <strong>The Report for year <%= @report.year %></strong>
</div><br/><br/>

  
  
<span style="font-size:18px;line-height:130%;">  
Profit: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.profit %> <br/></span>
Revenue from customers:<span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.customer_revenue %> <br/></span>
Revenue from contracts: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.contract_revenue %> <br/></span>
Total Fixed cost: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.total_fixed_cost %> <br/></span>
Base Fixed cost: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.base_fixed_cost %> <br/></span>
<% unless @report.company.is_customer_facing? %> Risk Control Cost: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.risk_control %> <br/></span> <% end %>
Cost from contracts: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.contract_cost %> <br/></span>
Variable cost: <span style="font-size:18px;color:#00CCFF;line-height:110%;">  <%= @report.variable_cost %><br/></span></span>


