<%= provide(:title, 'Edit Company Type') %>
<h1>Create new Company Type</h1>
   <div class="row">
     <div class="span8 offset3">

        <%= form_for(@company_type) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>



        <%= f.label :name, "Company type name"%>
        <div class="fieldarea">
        <%= f.text_field :name %>
        </div>

       <br/>

       <div class="left">
       <table class="bonus_table">

         <tr>
           <th> Capacity settings </th>
           <th></th>
         </tr>

         <tr>
          <td> <%= f.label :capacity_need, "Needs capacity"%></td>
          <td><%= f.check_box :capacity_need %></td>
       </tr>


       <tr>
          <td> <%= f.label :capacity_produce, "Produces capacity" %></td>
          <td><%= f.check_box :capacity_produce %></td>
       </tr>
       </table>

       </div>

       <div class="right">

          <table class="bonus_table">

         <tr>
           <th> Experience settings </th>
           <th></th>
         </tr>

         <tr>
          <td> <%= f.label :experience_need, "Needs Experience"%></td>
          <td><%= f.check_box :experience_need %></td>
       </tr>


       <tr>
          <td> <%= f.label :experience_produce, "Produces Experience" %></td>
          <td><%= f.check_box :experience_produce %></td>
       </tr>
       </table>

       </div>

       <div class="clear"></div>

       <br/>

       <div class="left">
       <table class="bonus_table">

         <tr>
           <th> Unit settings </th>
           <th></th>
         </tr>

         <tr>
          <td> <%= f.label :unit_need, "Needs units"%></td>
          <td><%= f.check_box :unit_need %></td>
       </tr>


       <tr>
          <td> <%= f.label :unit_produce, "Produces unit" %></td>
          <td><%= f.check_box :unit_produce %></td>
       </tr>
       </table>

       </div>

       <div class="clear"></div>

        <div class="createbuttonarea">
                <%= f.submit "Save changes", class: "btn btn-large btn-primary" %></div>
                <% end %>


      </div>
  </div>


