<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'Company Types') %>


<div class="company_types_list">

  <% @types.each do |t| %>

<p class="lead" style="font-size:18px;color:#ffffff;line-height:10px;background-color:#7C9D82;padding:10px 5px 10px 5px;"> <%= t.name %> </p>


  <table class="center" border="1" >

    <tr>
      <th>  </th>
      <th><%= params_capacity_name %> </th>
      <th><%= params_experience_name %> </th>
      <th><%= params_unit_name %> </th>
      <th> Marketing </th>
    </tr>

    <tr>
      <th>Needs</th>
      <td> <%= (t.capacity_need) ? "Yes" : "No" %> </td>
      <td> <%= t.experience_need ? "Yes" : "No" %> </td>
      <td> <%= t.unit_need ? "Yes" : "No" %> </td>
      <td> <%= t.marketing_need ? "Yes" : "No" %> </td>
    </tr>

    <tr>
      <th>Produces</th>
      <td> <%= t.capacity_produce ? "Yes" : "No" %> </td>
      <td> <%= t.experience_produce ? "Yes" : "No" %> </td>
      <td> <%= t.unit_produce ? "Yes" : "No" %> </td>
      <td> <%= t.marketing_produce ? "Yes" : "No" %> </td>
    </tr>

  </table>

  <% if t.price_set %>
  <p> Sets price </p>
  <% end %>

  
  <%= link_to "Edit", edit_company_type_path(t) ,:class=>"btn" %>
 
  <%= link_to t, method: :delete, confirm: "You sure?" do %> <span style="color:#ffffff;" class="btn btn-danger"> Delete</span> <% end %>
  

  <br/>
  <br/>  <br/>
  <% end %>

  <br/>
  <br/>
  <br/>

  <%= link_to "Create new company type", new_company_type_path, :class => "btn btn-primary" %>



</div>