<%= provide(:title, 'Company Types') %>


<div class="company_types_list">

  <% @types.each do |t| %>

  <h2> <%= t.name %> </h2>

  <table class="center" border="1" >

    <tr>
      <th>  </th>
      <th><%= params_capacity_name %> </th>
      <th><%= params_experience_name %> </th>
      <th><%= params_unit_name %> </th>
    </tr>

    <tr>
      <th>Needs</th>
      <td> <%= (t.capacity_need) ? "Yes" : "No" %> </td>
      <td> <%= t.experience_need ? "Yes" : "No" %> </td>
      <td> <%= t.unit_need ? "Yes" : "No" %> </td>
    </tr>

    <tr>
      <th>Produces</th>
      <td> <%= t.capacity_produce ? "Yes" : "No" %> </td>
      <td> <%= t.experience_produce ? "Yes" : "No" %> </td>
      <td> <%= t.unit_produce ? "Yes" : "No" %> </td>
    </tr>

  </table>

  
  <%= link_to "Edit", edit_company_type_path(t) %>
  <span style="padding-left: 30px;">
  <%= link_to t, method: :delete, confirm: "You sure?" do %> Delete <% end %>
  </span>

  <br/>

  <% end %>

  <br/>
  <br/>
  <br/>

  <%= link_to "Create new company type", new_company_type_path, :class => "btn btn-primary" %>



</div>