<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'Loan') %>

<h1> Information about your loan </h1>

<% if @loan.remaining == 0 %> <p> LOAN PAID IN FULL </p> <% end %>

<p> <strong> Original loan amount:</strong> <%= number_with_delimiter(@loan.loan_amount.to_i, :delimiter => " ") %> </p>

<p><strong> Original loan duration:</strong> <%= @loan.duration %> </p>

<p><strong> Payments remaining:</strong> <%= @loan.remaining %> </p>

<p><strong> Interest:</strong> <%= @loan.interest %> % </p>

<p><strong> Payments:</strong>  </p>

<ol>
  <% @payments.each_with_index do |p, i| %>
  <li> <%= p %> <% if i < @loan.duration - @loan.remaining %> <i class="icon-ok"></i>
                        <% elsif @loan.payment_failure %> <i class="icon-remove"></i> <% end %>  </li>
  <% end %>
</ol>

<% if @loan.payment_failure %> Warning: There has been payment failures on this loan <% end %>
