<%= provide(:title, 'Loan') %>

<p> Information about your loan </p>

<p> Original loan amount: <%= @loan.loan_amount %> </p>

<p> Original loan duration: <%= @loan.duration %> </p>

<p> Interest: <%= @loan.interest %> % </p>

<p> Payment size: <%= @loan.payments %> </p>
