<%= provide(:title, "Send RFP")%>

<h2> Send an request for proposal to <%= @target_company.name%> </h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@rfp) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%=f.label :content %>
      <%=f.text_area :content %>
      
      <%= f.hidden_field :receiver_id %>

      <%= f.submit "Send RFP", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>