<%= provide(:title, "Send RFP")%>

<% unless @same_market %>
<p> <%= t :r_new_different_market, company: @target_company.name %>  </p>
<p> <%= t :r_new_no_contract %> </p>
<% end %>

<h5>  <%= t :r_new_send, company: @target_company.name%> </h5>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@rfp) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%=f.label :content %>
      <%=f.text_area :content %>
      
      <%= f.hidden_field :receiver_id %>

      <%= f.submit "#{t :r_new_button}", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>