<%= provide(:title, "Send RFP")%>

<% unless @same_market %>
<p> WARNING: Your company and <%=@target_company.name%> are not operating in the same market. </p>
<p>  You can send RFP:s and bids between each other but you cannot make a contract before expanding to same markets </p>
<% end %>

<h5> Send a request for proposal (RFP) to <%= @target_company.name%> </h5>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@rfp) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
      
      <%=f.label :content %>
      <%=f.text_area :content %>
      
      <%= f.hidden_field :receiver_id %>

      <%= f.submit "Send RFP", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>