<%= provide(:title, "RFP")%>

<h1> Request for proposal </h1>
<h2> FROM: <%= @rfp.sender.name %> </h2>
<h2> TO: <%= @rfp.receiver.name %> </h2>

<p> <%= @rfp.content%></p>

<p> Respond to this RFP with a bid. <%= link_to "Make a bid", make_bid_path(@rfp.id), :class => "btn btn-primary"%>