<%= provide(:title, "RFP")%>

<h1> Request for proposal </h1>
<h3> <p2>From:</p2> <%= @rfp.sender.name %> </h3>
<h3> <p2> To:</p2> <%= @rfp.receiver.name %> </h3>

<div class="alert alert-block">
<h3 class="alert-heading"> RFP Message</h3>
<p> <%= @rfp.content%></p>
</div>

<% if current_user.isOwner?(@rfp.receiver)%>
<p2> Respond to this RFP.
<%= link_to "Make a bid", make_bid_path(@rfp.id), :class => "btn btn-primary"%> 
<%end%>
</br> </p2>

<p2> <% @rfp.bids.each do |bid| %>
<%=link_to "bid", bid %> (<%=bid.status_to_s%>) 
<% end %>
</p2>

