<%= provide(:title, "RFP")%>

<h1> Request for proposal </h1>
<h3> <span style="font-size:22px;color:black;">from:</span> <%= @rfp.sender.name %> &nbsp&nbsp&nbsp <span style="font-size:22px;color:black;"> to:</span> <%= @rfp.receiver.name %> </h3>

<div class="alert alert-block">
<h3 class="alert-heading"> RFP Message</h3>
<p> <%= @rfp.content%></p>
</div>

<%= link_to "Making a bid", make_bid_path(@rfp.id), :class => "btn btn-primary"%> <br/><br/><br/><br/>

            