<%= provide(:title, "RFP")%>

<h1> Request for proposal </h1>
<h3> <span style="font-size:22px;color:black;">from:</span> <%= @rfp.sender.name %> &nbsp&nbsp&nbsp <span style="font-size:22px;color:black;"> to:</span> <%= @rfp.receiver.name %> </h3>

<div class="alert alert-block">
<h3 class="alert-heading"> RFP Message</h3>
<p> <%= @rfp.content%></p>
</div>

<% if current_user.isOwner?(@rfp.receiver)%>
<p style="font-size:16px;"><%= @rfp.sender.name %><span style="color:#00008b;"> is of following type:</span> <br/>
<span style="color:#00008b;">Service Level:</span> <%= @rfp.sender.service_level_to_s %> <br/>
<span style="color:#00008b;">Product Type:</span> <%= @rfp.sender.product_type_to_s %> </p><br/>
<p style="font-size:16px;"> <%= @rfp.receiver.name %><span style="color:#00008b;">  is of following type:</span>  <br/>
<span style="color:#00008b;"> Service Level:</span>  <%= @rfp.receiver.service_level_to_s %> <br/>
<span style="color:#00008b;"> Product Type:</span>  <%= @rfp.receiver.product_type_to_s %> </p>
<p2 style=font-size:14px;> <em> Respond to this RFP by 
<%= link_to "Making a bid", make_bid_path(@rfp.id), :class => "btn btn-primary"%> .</em>
<%end%></p2></br></br></br></br>

<%  if current_user.isOwner?(@rfp.receiver) && !current_user.company.similar?(@rfp.sender)  %>
<p> You cannot start bidding with this company until you have similar types</p>
<% end %>



          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  List of all BID(s) made with <%= @rfp.sender.name %>.
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <% @rfp.bids.each do |bid| %> 
                  <li><%=link_to "Bid", bid %> (<%=bid.status_to_s%>) </li><% end %>  
                </div>
              </div>
            </div>
            