<h1> <%=market.name %> </h1>
<p>Amount of customers:<%= market.customer_amount%></p>
<p>Preferred Product Type:<%= market.preferred_type%></p>
<p>Preferred Service Level: <%=market.preferred_level%></p>
<p>Preferred Price (base): <%=  market.base_price %> </p>
<p>Price fluctuation: <%= market.price_buffer %> </p>
