<div style="background-color:black;">
<div style="background-color:black;text-align:center;font-size:20px;padding-bottom:2px;">
  <h5> <%=market.name %> </h5></div>
  
  <br/><br/>

  

        <div class="squaremarkets11">
        <div class="small_square_markets_11">
        <div style="background-color:green;width:11cm;text-align:center;font-size:20px;padding-bottom:2px;"> Budget Space Hop </div>
       <br/>
      <div style=" padding-left:5px;"> 
       
 
          Amount of potential customers(Sweet Spot): <%= market.lb_amount %><br/>
          The average price customers are expecting(Sweet Spot): <%= market.lb_sweet_price %><br/>
          The maximum price customers are willing to pay: <%= market.lb_max_price %><br/>
          The maximum amount of customers(Price 0): <%= market.lb_max_customers %><br/>
        </div> </div>
        
        
        
        
        
        
        <div class="small_square_markets_22">
          <div style="background-color:purple;width:11cm;text-align:center;font-size:20px;padding-bottom:2px;">  Luxury Space Hop </div>
         <br/><div style=" padding-left:5px;"> 
         Amount of potential customers(Sweet Spot): <%= market.ll_amount %><br/>
    The average price customers are expecting(Sweet Spot): <%= market.ll_sweet_price %><br/>
    The maximum price customers are willing to pay: <%= market.ll_max_price %><br/>
    The maximum amount of customers(Price 0): <%= market.ll_max_customers %><br/>
        </div></div>
        
        
        
        <div class="small_square_markets_33">
          <div style="background-color:green;width:11cm;text-align:center;font-size:20px;padding-bottom:2px;">  Budget Space Station Visit </div>
         <br/><div style=" padding-left:5px;"> 
         Amount of potential customers(Sweet Spot): <%= market.hb_amount %><br/>
    The average price customers are expecting(Sweet Spot): <%= market.hb_sweet_price %><br/>
    The maximum price customers are willing to pay: <%= market.hb_max_price %><br/>
    The maximum amount of customers(Price 0): <%= market.hb_max_customers %><br/>
        </div></div>

        <div class="small_square_markets_44">
          <div style="background-color:purple;width:11cm;text-align:center;font-size:20px;padding-bottom:2px;">   Luxury Space Station Visit </div>
         <br/><div style=" padding-left:5px;"> 
        Amount of potential customers(Sweet Spot): <%= market.hl_amount %><br/>
    The average price customers are expecting(Sweet Spot): <%= market.hl_sweet_price %><br/>
    The maximum price customers are willing to pay: <%= market.hl_max_price %><br/>
    The maximum amount of customers (Price 0): <%= market.hl_max_customers %><br/>
</div>

      </div>
        </div>
  
</div></div>
   


  
  
 