<div class="showmarkettext">
<h5> <%=market.name %> </h5></br></br>
  <p>Amount of customers:  <%= market.customer_amount%> </br>
     Preferred Product Type:  <%= market.preferred_type%> </br>
     Preferred Service Level: <%=market.preferred_level%> </br>
     Preferred Price (base): <%=  market.base_price %> </br>
     Price fluctuation: <%= market.price_buffer %> </p>
</div>
   
