<div class="showmarkettext">
<h5> <%=market.name %> </h5><br/><br/>
  <p>Amount of potential customers for Budget Space Hop (Sweet Spot): <%= market.lb_amount %><br/>
    The average price customers are expecting for Budget Space Hop  (Sweet Spot): <%= market.lb_sweet_price %><br/>
    The maximum price customers are willing to pay for Budget Space Hop: <%= market.lb_max_price %><br/>
    The maximum amount of customers for Budget Space Hop (Price 0): <%= market.lb_max_customers %><br/>

    Amount of potential customers for Luxury Space Hop (Sweet Spot): <%= market.ll_amount %><br/>
    The average price customers are expecting for Luxury Space Hop  (Sweet Spot): <%= market.ll_sweet_price %><br/>
    The maximum price customers are willing to pay for Luxury Space Hop: <%= market.ll_max_price %><br/>
    The maximum amount of customers for Luxury Space Hop (Price 0): <%= market.ll_max_customers %><br/>

    Amount of potential customers for Budget Space Cruise (Sweet Spot): <%= market.hb_amount %><br/>
    The average price customers are expecting for Budget Space Cruise  (Sweet Spot): <%= market.hb_sweet_price %><br/>
    The maximum price customers are willing to pay for Budget Space Cruise: <%= market.hb_max_price %><br/>
    The maximum amount of customers for Budget Space Cruise (Price 0): <%= market.hb_max_customers %><br/>

    Amount of potential customers for Luxury Space Cruise (Sweet Spot): <%= market.hl_amount %><br/>
    The average price customers are expecting for Luxury Space Cruise  (Sweet Spot): <%= market.hl_sweet_price %><br/>
    The maximum price customers are willing to pay for Luxury Space Cruise: <%= market.hl_max_price %><br/>
    The maximum amount of customers for Luxury Space Cruise (Price 0): <%= market.hl_max_customers %><br/>

  </p>
</div>
   
