<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<h5 style="padding-left:4px;width:8cm;background-color:black;padding-bottom:3px;padding-top:3px;"> <%=market.name %> </h5>
        <div style="padding-left:4px;color:white;background-color:black;font-size:20px;padding-bottom:3px;padding-top:3px;"> Budget Space Hop </div>
        <br/> 
        <div style="font-size:16px;color:black;"> 
                Amount of potential customers(Sweet Spot):<span style="color:#FF00FF;">  <%= market.lb_amount %></span><br/>
                The average price customers are expecting(Sweet Spot):<span style="color:#FF00FF;"> <%= market.lb_sweet_price %></span><br/>
                The maximum price customers are willing to pay: <span style="color:#FF00FF;"><%= market.lb_max_price %></span><br/>
                The maximum amount of customers(Price 0): <span style="color:#FF00FF;"><%= market.lb_max_customers %></span><br/>
        </div>
        <br/> <br/>
  
        
        <div style="padding-left:4px;color:white;background-color:black;font-size:20px;padding-bottom:3px;padding-top:3px;"> Luxury Space Hop</div>
        <br/> <div style="font-size:16px;color:black;"> 
                Amount of potential customers(Sweet Spot): <span style="color:#FF00FF;"><%= market.ll_amount %></span><br/>
                The average price customers are expecting(Sweet Spot): <span style="color:#FF00FF;"><%= market.ll_sweet_price %></span><br/>
                The maximum price customers are willing to pay: <span style="color:#FF00FF;"><%= market.ll_max_price %></span><br/>
                The maximum amount of customers(Price 0): <span style="color:#FF00FF;"><%= market.ll_max_customers %></span><br/>
         </div>
         <br/> <br/>
        
        <div style="padding-left:4px;color:white;background-color:black;font-size:20px;padding-bottom:3px;padding-top:3px;">  Budget Space Station Visit</div>
        <br/> <div style="font-size:16px;color:black;"> 
                Amount of potential customers(Sweet Spot):<span style="color:#FF00FF;"> <%= market.hb_amount %></span><br/>
                The average price customers are expecting(Sweet Spot):<span style="color:#FF00FF;"> <%= market.hb_sweet_price %></span><br/>
                The maximum price customers are willing to pay: <span style="color:#FF00FF;"><%= market.hb_max_price %></span><br/>
                The maximum amount of customers(Price 0):<span style="color:#FF00FF;"> <%= market.hb_max_customers %></span><br/>
        </div>
        <br/> <br/>
        
        <div style="padding-left:4px;color:white;background-color:black;font-size:20px;padding-bottom:3px;padding-top:3px;"> Luxury Space Station Visit  </div>
        <br/> <div style="font-size:16px;color:black;"> 
                Amount of potential customers(Sweet Spot): <span style="color:#FF00FF;"><%= market.hl_amount %></span><br/>
                The average price customers are expecting(Sweet Spot): <span style="color:#FF00FF;"><%= market.hl_sweet_price %></span><br/>
                The maximum price customers are willing to pay: <span style="color:#FF00FF;"><%= market.hl_max_price %></span><br/>
                The maximum amount of customers (Price 0): <span style="color:#FF00FF;"><%= market.hl_max_customers %></span><br/>
        </div>
  
  



  
  
 