<%= form_for(@market) do |f| %>
        <% render 'shared/error_messages', :object => f.object %>


        <div style="font-size:16px;padding-bottom:2px;">
        <h5 style="padding-left:4px;width:8cm;padding-bottom:3px;padding-top:3px;">
        <%= f.label :name,"Name of Market", :class => "title_label" ,:style => "color:#000000;" %>
        </h5>
        <div class="fieldarea">
        <%= f.text_field :name,:class => "field_label" %>
        </div>
        </div>
        <br/>

        <table class="bonus_table">
          <tr>
            
            <th><span class="bluesign" data-content="<%= @market.variables["mark1_comment"] %>">
            <%= f.label :variables["mark1"], "Marketing 1"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["mark2_comment"] %>">
            <%= f.label :variables["mark2"], "Marketing 2"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["mark3_comment"] %>">
            <%= f.label :variables["mark3"], "Marketing 3"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["mark4_comment"] %>">
            <%= f.label :variables["mark4"], "Marketing 4"%></span></th>
          </tr>
          <tr>       
            <td>
            <input type="text" name="market[variables[mark1]]" value="<%=@market.variables["mark1"]%>"  /></span></td>
            <td><input type="text" name="market[variables[mark2]]" value="<%=@market.variables["mark2"]%>" /></td>
            <td><input type="text" name="market[variables[mark3]]" value="<%=@market.variables["mark3"]%>" /></td>
            <td><input type="text" name="market[variables[mark4]]" value="<%=@market.variables["mark4"]%>" /></td>
          </tr>

          <tr>
            <th><span class="bluesign" data-content="<%= @market.variables["unit1_comment"] %>">
            <%= f.label :variables["unit1"], "Units 1"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["unit2_comment"] %>">
            <%= f.label :variables["unit2"], "Units 2"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["unit3_comment"] %>">
            <%= f.label :variables["unit3"], "Units 3"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["unit3_comment"] %>">
            <%= f.label :variables["unit3"], "Units 3"%></span></th>
          </tr>
          <tr>
            <td><input type="text" name="market[variables[unit1]]" value="<%=@market.variables["unit1"]%>" /></td>
            <td><input type="text" name="market[variables[unit2]]" value="<%=@market.variables["unit2"]%>" /></td>
            <td><input type="text" name="market[variables[unit3]]" value="<%=@market.variables["unit3"]%>" /></td>
            <td><input type="text" name="market[variables[unit4]]" value="<%=@market.variables["unit4"]%>" /></td>
          </tr>

          <tr>
            <th><span class="bluesign" data-content="<%= @market.variables["capa1_comment"] %>">
            <%= f.label :variables["capa1"], "Capacity 1"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["capa2_comment"] %>">
            <%= f.label :variables["capa2"], "Capacity 2"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["capa3_comment"] %>">
            <%= f.label :variables["capa3"], "Capacity 3"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["capa4_comment"] %>">
            <%= f.label :variables["capa4"], "Capacity 4"%></span></th>
          </tr>
          <tr>
            <td><input type="text" name="market[variables[capa1]]" value="<%=@market.variables["capa1"]%>"  /></td>
            <td><input type="text" name="market[variables[capa2]]" value="<%=@market.variables["capa2"]%>" /></td>
            <td><input type="text" name="market[variables[capa3]]" value="<%=@market.variables["capa3"]%>" /></td>
            <td><input type="text" name="market[variables[capa4]]" value="<%=@market.variables["capa4"]%>" /></td>
          </tr>

          <tr>
            <th><span class="bluesign" data-content="<%= @market.variables["exp1_comment"] %>">
            <%= f.label :variables["exp1"], "Experience 1"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["exp2_comment"] %>">
            <%= f.label :variables["exp2"], "Experience 2"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["exp3_comment"] %>">
            <%= f.label :variables["exp3"], "Experience 3"%></span></th>
            <th><span class="bluesign" data-content="<%= @market.variables["exp4_comment"] %>">
            <%= f.label :variables["exp4"], "Experience 4"%></span></th>
          </tr>
          <tr>
            <td><input type="text" name="market[variables[exp1]]" value="<%=@market.variables["exp1"]%>" /></td>
            <td><input type="text" name="market[variables[exp2]]" value="<%=@market.variables["exp2"]%>" /></td>
            <td><input type="text" name="market[variables[exp3]]" value="<%=@market.variables["exp3"]%>" /></td>
            <td><input type="text" name="market[variables[exp4]]" value="<%=@market.variables["exp4"]%>" /></td>
          </tr>



        </table>

        <div class="clear"></div>
        <br/>

        <%= f.label :customer_amount, "Amount of customers in the market" %>
        <%= f.text_field :customer_amount %>

        <%= f.label :lb_satisfaction_weight, "Last years satisfaction weight" %>
        <%= f.text_field :lb_satisfaction_weight %>

         <%= f.label :interest, "Interest (%) in loans taken in this market" %>
        <%= f.text_field :interest %>

        <%= f.label :payback_per, "% of the loan that must be paid back annually" %>
        <%= f.text_field :payback_per %>

        <%= f.label :expansion_cost, "The cost for expanding to this market" %>
        <%= f.text_field :expansion_cost %>

        <%= f.label :office, "Where the main offices are located in the market" %>
        <%= f.text_field :office %>

        <%= f.label "Paste variable file here to be parsed" %>
        <%= text_area_tag "variables_string" %>

        <div class="createbuttonarea">
        <a class="btn btn-large btn-primary" data-toggle="modal" href="#myModal">Next</a>
      </div>
      </div>
     <div class="modal hide fade" id="myModal">
       <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal">×</button>
       <%= f.label :message, "Write News about the changes made now in the market (Optional)",:class => "title_label", :style => "color:black;" %>
      </div>
       <div class="modal-body">
          <div class="fieldarea">
          <%= f.text_area :message, :class => "field_label", :style => "max-height:7cm;" %>
          </div>
        <div class="modal-footer">
        <a href="#">
        <div class="createbuttonarea">
        <%= f.submit "Create market", class: "btn btn-large btn-primary" %>
        </div>
        </a>
        </div> </div>
        </div><% end %>
