<%= provide(:title, 'Edit Market') %>

<h1>Edit Market</h1>
<input type="hidden" id="market_id" name="market_id" value="<%=@market.id%>"/>
  <%#  <div class="row">
  <div class="span6 offset3">
      <div class="alpha60">%>
        <%= form_for(@market) do |f| %>
        <% render 'shared/error_messages', :object => f.object %>
        
       
        <div style="color:black;font-size:16px;padding-bottom:2px;">
        <h5 style="padding-left:4px;width:8cm;background-color:black;padding-bottom:3px;padding-top:3px;">
        <%= f.label :name,"Name of Market", :class => "title_label" ,:style => "color:#00CCFF;" %>
        </h5>
        <div class="fieldarea"> 
        <%= f.text_field :name,:class => "field_label" %>
        </div>
        </div>
      <div style="padding-bottom:9cm;">
    <table class="tableizer-table">
    <tr class="tableizer-firstrow">
       <th>&nbsp;</th><th style="background-color:black;border-right:2px white solid;">Budget Space Hop</th>
                      <th style="background-color:black;border-right:2px white solid;" >Luxury Space Hop</th>
                      <th style="background-color:black;border-right:2px white solid;"> Budget Space Station Visit</th>
                      <th style="background-color:black;">Luxury Space Station Visit</th></tr>
       <tr><td style="background-color:black;text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :lb_amount, "Amount of potential customers (Sweet Spot)",:class => "title_label" %></td>
           <td style="text-align:right;"><%= f.text_field :lb_amount, :class => "field_label market_field" %></td>
           <td style="text-align:right;"> <%= f.text_field :ll_amount, :class => "field_label" %></td>
           <td style="text-align:right;"> <%= f.text_field :hb_amount, :class => "field_label" %></td>
           <td style="text-align:right;"><%= f.text_field :hl_amount, :class => "field_label" %></td>
       </tr>
       </tr>
       <tr><td style="background-color:black;text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :lb_sweet_price, "The average price customers are expecting (Sweet Spot)",:class => "title_label" %>
           <td style="text-align:right;"> <%= f.text_field :lb_sweet_price, :class => "field_label market_field" %></td>
           <td style="text-align:right;"><%= f.text_field :ll_sweet_price, :class => "field_label" %></td>
           <td style="text-align:right;">  <%= f.text_field :hb_sweet_price, :class => "field_label" %></td>
           <td style="text-align:right;"> <%= f.text_field :hl_sweet_price, :class => "field_label" %></td></tr>
       </tr>
       <tr><td style="background-color:black;text-align:left;font-size:12px;border-bottom:2px white solid;"> <%= f.label :lb_max_price, "The maximum price customers are willing to pay",:class => "title_label" %>
           <td style="text-align:right;"> <%= f.text_field :lb_max_price, :class => "field_label market_field" %></td>
           <td style="text-align:right;"> <%= f.text_field :ll_max_price, :class => "field_label" %></td>
           <td style="text-align:right;"> <%= f.text_field :hb_max_price, :class => "field_label" %></td>
           <td style="text-align:right;"> <%= f.text_field :hl_max_price, :class => "field_label" %></td>
       </tr>
       </tr>
       <tr><td style="background-color:black;text-align:left;font-size:12px;">  <%= f.label :lb_max_customers, " The maximum amount of customers(Price 0)",:class => "title_label"%>
           <td style="text-align:right;"><%= f.text_field :lb_max_customers, :class => "field_label market_field" %></td>
           <td style="text-align:right;"> <%= f.text_field :ll_max_customers, :class => "field_label" %></td>
           <td style="text-align:right;"> <%= f.text_field :hb_max_customers, :class => "field_label" %></td>
           <td style="text-align:right;"><%= f.text_field :hl_max_customers, :class => "field_label" %></td>
       </tr>
       </tr>
       <tr><td style="background-color:black;text-align:left;font-size:12px;">  <%= f.label :lb_max_customers, " The effect of last years customer satisfaction (0-1)",:class => "title_label"%></td>
           <td style="text-align:right;"><%= f.text_field :lb_satisfaction_weight, :class => "field_label market_field" %></td>
           <td style="text-align:right;"> <%= f.text_field :ll_satisfaction_weight, :class => "field_label" %></td>
           <td style="text-align:right;"> <%= f.text_field :hb_satisfaction_weight, :class => "field_label" %></td>
           <td style="text-align:right;"><%= f.text_field :hl_satisfaction_weight, :class => "field_label" %></td>
       </tr>
    </table> </div>

        <div style="background-color:purple;color:white;font-size:20px;padding:4px;"> 
        Customer Satisfaction</div>
        <div style="font-size:12px;padding:4px;width:7.5cm;height:3cm;float:left;"> 
        <%= f.label :expected_satisfaction, "The satisfaction level the customers are expecting",:class => "title_label",:style=>"color:black;" %>
        <div class="fieldarea">
        <%= f.text_field :expected_satisfaction, :class => "field_label" %>
        </div></div>
          <div style="font-size:12px;padding:4px;width:7.5cm;height:3cm;float:left;"> 
         <%= f.label :min_satisfaction, "Satisfaction level where customer amount drops to 0",:class => "title_label",:style=>"color:black;" %>
        <div class="fieldarea">
        <%= f.text_field :min_satisfaction, :class => "field_label" %>
        </div></div>
        <div style="font-size:12px;padding:4px;width:8cm;height:3cm;float:left;"> 
        <%= f.label :max_satisfaction_bonus, "How much more customers are obtained with perfect satisfaction",:class => "title_label",:style=>"color:black;" %>
        <div class="fieldarea">
        <%= f.text_field :max_satisfaction_bonus, :class => "field_label",:style=>"color:black;" %>
        </div></div>
        <div class="createbuttonarea">
        <a class="btn btn-large btn-primary" id="market_edit_button" data-toggle="modal" href="#myModal">Next</a>
        </div>
 
<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <%= f.label :message, "Write News about the changes made now in the market (Optional)",:class => "title_label", :style => "color:black;" %>
  </div>
  <div class="modal-body">
    <div>
      
           <div class="fieldarea">
        <%= f.text_area :message,  :class => "field_label", :id => "news_update", :style => "max-height:7cm;" %>
        </div>

        
       </div>


  <div class="modal-footer">
    <a href="#">
      <div class="createbuttonarea">
                <%= f.submit "Update", class: "btn btn-large btn-primary" %></div>
      </div>
    </a>
  </div>  
</div>
<% end %>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {

      dataTable = new google.visualization.DataTable();
      dataTable.addColumn('number', 'Price');
      dataTable.addColumn('number', 'Sales');
      // A column for custom tooltip content
      dataTable.addColumn({type: 'string', role: 'tooltip'});  
      dataTable.addRows([
        [0,  <%= @market.lb_max_customers %>, "Sales: " + <%= @market.lb_max_customers.to_s %>  + "\n" + "Price: 0"  ],
        [<%= @market.lb_sweet_price   %>,  <%= @market.lb_amount %>, "Sales: " + <%= @market.lb_amount.to_s %>  + "\n" + "Price: " + <%= @market.lb_sweet_price.to_s %> ],
        [<%= @market.lb_max_price %> ,  0, "Sales: 0\nPrice: " +  <%= @market.lb_max_price.to_s %>]
      ]);


   

      var options = {
        title: 'Market data',
        pointSize: 10,
        vAxis: {
            title: "Sales"
        },
        hAxis: {
            title: "Price"
        }
      };
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(dataTable, options);
    }
  </script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

  
  <a class="btn btn-large btn-primary" data-toggle="modal" href="#testmarket">Test</a>
  
  <div id="footer" style="clear:both;text-align:center;">
  </div>

<div class="modal hide fade" id="testmarket">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    Test the values of the market
  </div>
  <div class="modal-body modal-large">
    <div>

           <div class="fieldarea">
           <%= form_tag market_graph_path(@market.id), :remote => true, :id => "graph_market_form" do %>

           <%=  select("company", "type", Company.types, { :prompt => "Select Company type" }) %>

           <%= select_tag "service_level", '<option value="1">Budget</option><option value="3">Luxury</option>'.html_safe, :prompt => "Choose Service Level"  %>
           <%= select_tag "product_type", '<option value="1">Hop</option><option value="3">Cruise</option>'.html_safe, :prompt => "Choose product Type"  %>

           <%= label_tag 'capacity_cost', "Set Capacity Cost" %>
           <%= text_field_tag 'capacity', "0" %>

           <%= label_tag 'quality', "Set Quality cost" %>
           <%= text_field_tag 'quality', "100" %>

           <%= label_tag 'variable', "Set variable cost" %>
           <%= text_field_tag 'variable', "0" %>
           <%= submit_tag "Test", :id => "graph_market" %>
           <div id="market_test_chart" style="width: 900px; height: 500px;"></div>

           <% end %>
        </div>


       </div>


  

  </div>
</div>
  
  
  
  
  
  
  
  
  



 