<%
=begin
This file is part of Network Service Business Game.

    Network Service Business Game is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    any later version.

    Network Service Business Game is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Network Service Business Game.  If not, see <http://www.gnu.org/licenses/>
=end %>

<%= provide(:title, 'Edit Market') %>
<input type="hidden" id="delimiter_field"></input>

<h1>Edit Market</h1>
<input type="hidden" id="market_id" name="market_id" value="<%=@market.id%>"/>
  <%#  <div class="row">
  <div class="span6 offset3">
      <div class="alpha60">%>
        <%= render 'market_table' %>


<div class="row">
     <div class="span6 offset2">

<h5> Last Years statistics </h5>
<div class="market_stats_last">
  <p> Average Price: <%= number_with_delimiter(@market.average_price, delimiter: " ") %> $ </p>
  <p> Average Satisfaction: <%= @market.average_satisfaction %> % </p>
  <p> Total sales in market: <%= @market.t_customers %> </p>
</div>
</div>
</div>






  
  
  
  
  
  
  
  
  



 