<%= provide(:title, 'All markets') %>
<%= stylesheet_link_tag "markets.css" %> 
<h1>Market(s)</h1>
<div style="padding-left:20%;">
  <%= link_to "Create new market", new_market_path, :class => "btn btn-info" %>
  <div></br>
<div class="marketbody">
  <div class="alpha60">
    </br>
  <p style="color:white;">&nbsp<i class="icon-info-sign icon-white"></i>  <em>All the market(s) created are shown below.</em></p><br/>
    <% @markets.each do |market| %>
    <div class="showmarkettext">
    <%= link_to market.name, market , :class => "thumbnail title_label" %> <span style="color:#00CCFF;font-size:14px;"><em>(Current Effect: <%= market.effect.name %>)</em></span> <br/> <br/>
    </div>
    <% end %>

   

<p style="color:white;text-align:right;font-size:10px;">World Trade Center. (Metro Centric/Flickr) </p>
</div></div>

<div id="footer" style="clear:both;text-align:center;">
</div>


   

  
