<%= provide(:title, 'New Market') %>
<div class="marketcreatebody">
<h1>Create new Market</h1>
   <div class="row">
     <div class="span6 offset3">
      <div class="alpha60">
        <%= form_for(@market) do |f| %>
        <% render 'shared/error_messages', :object => f.object %>

        <%= f.label :name, :class => "title_label" %>
        <div class="fieldarea">
        <%= f.text_field :name,:class => "field_label" %>
        </div>

        <%= f.label :customer_amount, "Amount of potential customers in the market",:class => "title_label" %>
        <div class="fieldarea">
        <%= f.text_field :customer_amount,:class => "field_label" %>
        </div>

        <%= f.label :base_price, "Average market value",:class => "title_label" %>
        <div class="fieldarea">
        <%= f.text_field :base_price,:class => "field_label" %>
        </div>

        <%= f.label :price_buffer, "Price fluctuation in average market value",:class => "title_label" %>
        <div class="fieldarea">
        <%= f.text_field :price_buffer,:class => "field_label" %>
        </div>

        <div class="title_label">
          Preferred Product type in the market</div>
          <div class="marketradiopads">
            <div class="size_buttons">
               <%= f.radio_button :preferred_type, '1', :checked => true, :class => "type" %>
               <%= label :preferred_type_1, 'Short Flight',:class => "title_label" %>
            </div>

            <div class="size_buttons">
               <%= f.radio_button :preferred_type, '2', :class => "type" %>
               <%= label :preferred_type_2, 'Medium Flight',:class => "title_label"  %>
            </div>

            <div class="size_buttons">
               <%= f.radio_button :preferred_type, '3', :class => "type" %>
               <%= label :preferred_type_3, 'Long Flight',:class => "title_label" %>
            </div></div>
            
                <div class="clear"></div>
                <div class="title_label">Preferred Service Level in the market</div>
                <div class="marketradiopads">
                 <div class="size_buttons">
                    <%= f.radio_button :preferred_level, '1', :checked => true, :class => "level" %>
                    <%= label :preferred_level_1, 'Budget',:class => "title_label" %>
                 </div>
 
                 <div class="size_buttons">
                    <%= f.radio_button :preferred_level, '2', :class => "level"%>
                    <%= label :preferred_level_2, 'Common',:class => "title_label" %>
                 </div>

                 <div class="size_buttons">
                    <%= f.radio_button :preferred_level, '3', :class => "level"%>
                    <%= label :preferred_level_3, 'Luxury',:class => "title_label" %>
                 </div>
                </div>
                 <div class="clear"></div>
 
                <div class="createbuttonarea">
                <%= f.submit "Create market", class: "btn btn-large btn-primary" %></div>
                <% end %>
          </div>
      </div>
  </div>

  <p style="color:white;text-align:right;">The Colosseum. (Sebastian Bergmann/Flickr) </p>
</div>