

<nav class="navbar navbar-inverse" role="navigation">


<header class="navbar nav-position nav-tabs" style="position:absolute;">
  <% if signed_in? %> <div class="welcome"> &nbsp&nbsp&nbspWelcome,  <%= link_to current_user do %><i class="icon-user"></i><%= current_user.name %> <% end %> </div><% end %>    



  <div class="navbar-inner lead">
    <div class="container">
    <!--   <div class="nav-logo-nbg-position">
        <%#= link_to "SNBG" , root_path, id: "logo" %>
      </div> -->
      <nav>
        <ul class="nav pull-left" style="padding-left: 15%">
          <li><%= link_to "Home", root_path %></li>
          <%# if signed_in? && !current_user.teacher? %>
         <!--  <li><a href="http://www.youtube.com/embed/jRvC9bVMX2k" target="_blank">Space Video</a> </li>  -->
          <%#end %>
          <% if signed_in? && current_user.has_company?%> 
          <li><%= link_to current_user.group.company.name, current_user.group.company%> </li>
                <% if current_user.company.notifications? %>   
                <li>  <%=link_to image_tag("notify_header.png", :class=>"messagebox", :data => {:content=>"You have message in Company Briefcase. Follow the red points to check the messages"}), company_mail_path(current_user.company) %></li>
                <% end %>
                 <% if  current_user.company.network_ready? %><li> <%= link_to "Network", network_path(current_user.company.id) %></li> <% end %>
          <%end %>
                 <li><%= link_to "Companies", companies_path%></li>
          <% if signed_in? %>
            <li><%= link_to "News", news_index_path%></li>
            
            <% if signed_in? && current_user.teacher? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Controls <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li><%= link_to "Users", users_path %></li><li class="divider"></li>
            <li><%= link_to "Groups", groups_path%></li><li class="divider"></li>
            <li><%= link_to "Networks", networks_path%></li><li class="divider"></li>
            <li><%= link_to "Markets", markets_path%></li><li class="divider"></li>
            <li><%= link_to "Risks", risks_path%></li><li class="divider"></li>
            <li><%= link_to "Questions", qualities_path%></li><li class="divider"></li>
            <li><%= link_to "Post News", new_news_path%></li><li class="divider"></li>
            <li><%= link_to "Game", @game %></li>
            
            </ul>
            </li>
            <% end %>
            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>




         <!--   -->
          

          <li>   <%= form_tag search_header_path do %>
          <% if signed_in? && current_user.teacher? %>
         <div class="ovalshape" style="padding-top:5px;"><%= text_field_tag 'query', nil, :placeholder => 'Search' %> </div>
     <%# elsif signed_in? && !current_user.teacher? %>
<!--         <div class="ovalshape" style="padding-top:5px;"><%#= text_field_tag 'queryofstudent', nil, :placeholder => 'Search' %> </div> -->
          <% end %>
          <%# submit_tag "Search" %>
        <% end %></li>

 <li id="fat-menu" class="dropdown" >
<div  style="padding-left:25px;padding-top:10px;" >
  
 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-large icon-white"></i> </a>  <ul class="dropdown-menu">

<li> <%= link_to "English", :locale =>"en"%> </li>
      <li> <%= link_to "Italian", :locale=>"it" %> </li>

            </ul>
 
</div> </li>


        </ul>
      </nav>
  </div>
  </div>
</header> 


</nav>



<% if signed_in? && current_user.company && !current_user.company.readable_events.empty? %>
<div class="right">
  <button id="ticker_btn" class="btn btn-inverse right">&#9776;</button><br/><br/><br/>
  <div id="ticker" style="position:absolute !important;border-left:solid 2px #F0F0F0;" class="show">
    <ul class="sidebar-nav-ticker lead" style="padding-top:10px !important;">
      <% current_user.company.readable_events.each do |e| %>
      <%#= link_to company_mail_path do %> 
       <li  style="padding-left:5px !important;height:100% !important;"> <%= e.code_to_message %>
         <% unless e.read? %> <i class="icon-warning-sign"></i>
         <input type="hidden" name="object_id" value="<%= e.id %>" id="<%= "event#{e.id}"%>">
         <br>
         <button type="button" class="lead mark-read contracthov">
          mark read
         </button>
         <% end %>
         <hr>
       </li>
      <% end %>
    </ul> 
  </div>
</div>    
<% end %>

