<header class="navbar nav-position nav-tabs">
  <% if signed_in? %> <div class="welcome"> &nbsp&nbsp&nbspWelcome,  <%= link_to current_user do %><i class="icon-user"></i><%= current_user.name %> <% end %> </div><% end %>    
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-logo-nbg-position">
        <%= link_to "NBG" , root_path, id: "logo" %>
      </div>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if signed_in? && !current_user.teacher? %>
          <li><%= link_to "Links", implinks_path %></li> 
          <%end %>
          <% if signed_in? && current_user.has_company?%> 
          <li><%= link_to current_user.group.company.name, current_user.group.company%> </li>
                <% if current_user.company.notifications? %>   
                <li>  <%= image_tag("notify_header.png", :class=>"messagebox", :data => {:content=>"You have message in Contract Bucket. Follow the red points to check the messages"}) %></li>
                <% end %>
                 <% if  current_user.company.network %><li> <%= link_to "My Network", current_user.company.network %></li> <% end %>
          <%end %>
          <% if signed_in? %>
            <li><%= link_to "Companies", companies_path%></li>
            
            <% if signed_in? && current_user.teacher? %>
            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Controls <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
            <li><%= link_to "Users", users_path %></li><li class="divider"></li>
            <li><%= link_to "Groups", groups_path%></li><li class="divider"></li>
            <li><%= link_to "Networks", networks_path%></li><li class="divider"></li>
            <li><%= link_to "Markets", markets_path%></li><li class="divider"></li>
            <li><%= link_to "Market Effects", effects_path%></li><li class="divider"></li>
            <li><%= link_to "Game", @game %></li>
            </ul>
            <% end %>
            
            
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
          <div id="searchposition">
          <%= form_tag search_header_path do %>
          <% if signed_in? && current_user.teacher? %>
           <li> <div class="ovalshape"><%= text_field_tag 'query', nil, :placeholder => 'Search' %> </div></li>
           <% elsif signed_in? && !current_user.teacher? %>
           <li> <div class="ovalshape"><%= text_field_tag 'queryofstudent', nil, :placeholder => 'Search' %> </div></li>
          <% end %>
          <% submit_tag "Search" %>
        <% end %></div>
        </ul>
      </nav>
  </div>
</header>
