<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35125815-1']);
  _gaq.push(['_setDomainName', 'herokuapp.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <% if @share_button %>

    <% unless @company %>
      <meta property="og:image" content="<%= image_path("nbsfrontpage.png") %>"/>
      <meta property="og:description" 
      content="The Aalto Service Network Business Game is an interactive business game focusing on co-operation between companies in a service ecosystem.
      The topic of the game is Space Tourism. The game is a part of the course Aalto Introduction to Services (Course Code: TU-22.1309)." />
    <% else %>
      <meta property="og:description" content="<%= @company.about_us %>" />
      <meta property="og:title" content="<%= @company.name %>" />
      <% unless @company.image_url.nil?  %>
        <meta property="og:image" content="<%= image_path(@company.image_url(:thumb).to_s) %>"/>
      <% else %>
        <meta property="og:image" content="<%= image_path("200x200.png") %>"/>
      <% end %>
    <% end %>
    <% end %>
    
    
    
  </head>
  <body>
    
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer'%>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>